@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/plumbing/pl-btn.scss";

.bac-top-plumbing {
  position: fixed;
  right: 3rem;
  bottom: 4rem;
  visibility: hidden;
  opacity: 0;
  transition: ease 0.4s;

  .btn-bac-top {
    width: 5rem;
    height: 5rem;
    background-color: $wbu-color-primary;
    border: 3px solid $wbu-color-primary;
    border-radius: 50%;
    cursor: pointer;
    transition: ease 0.3s;
    display: flex;
    //position: relative;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: transparent;
      .wbu-angle-up {
        &::after {
          @include wbu__angle-up($wbu-color-primary);
        }
      }
    }
  }
}
