@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/plumbing/pl-btn.scss";
.why-us-plumbing {
  // display: flex;
  //     justify-content: center;
  //     align-items: center;
  padding: $space_top 0;

  .why-us-content {
    //max-width: 1200px;
    //margin: 0 auto;
    width: 100%;
    // padding:0 $wbu-margin * 0.8;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    @include media-max(SM) {
      flex-wrap: wrap;
    }

    .column-bloc {
      min-height: 400px;

      flex-basis: 50%;
      padding-bottom: $wbu-margin * 0.8;
      @include media-max(SM) {
        flex-basis: 100%;
      }
      &__title {
        font-size: $wbu-h2-font-size;
        font-weight: bold;
        color: black;
        margin-bottom: $wbu-margin * 2;
        text-align: center;
      }
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        overflow: hidden;
        .card-testimony {
          padding: $wbu-margin * 3;
          max-width: 500px;
          background-color: $wbu-color-boder;
          min-height: 375px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: start;
          flex-direction: column;
          gap: 20px;
          position: relative;
          &::before {
            @include wbu_svg_quote_before();
            transform: rotate(180deg);
            top: -3rem;
            left: 3.5rem;
            opacity: 0.12;
            color: gray;
            font-size: 34rem;
          }
          @include media-max(XS) {
            padding: 0 $wbu-margin * 0.5;
          }
          &__p {
            font-size: $wbu-default-font-size * 1.5;
            line-height: $wbu-default-line-height;
          }
          &__author {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 15px;
            img {
              object-fit: cover;
              border-radius: 50px;
            }
          }
          .author {
            display: flex;
            flex-direction: column;
          }
          .author-name {
            font-size: $wbu-h3-font-size;
            font-weight: bold;
            color: black;
            text-transform: capitalize;
            margin: 0;
          }
          .author-poste {
            font-size: $wbu-default-font-size;
            text-transform: capitalize;
            margin: 0;
          }
        }
        .cbc-card {
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          gap: 10px;
          //height: 250px;
          max-width: 550px;
          width: 100%;
          @include media-max(SM) {
            flex-wrap: wrap;
            gap: 20px;
            max-width: 400px;
          }
          &__img {
            //height: 100px;
            max-width: 440px;
            width: 100%;
            @include media-max(SM) {
              max-width: none;
            }
            img {
              width: 100%;
              //min-width: 250px;
              @include media-max(SM) {
                min-width: 0;
              }
            }
          }
          & > * {
            flex-basis: 50%;
            @include media-max(SM) {
              flex-basis: 100%;
            }
          }
          &__body {
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-evenly;
            gap: 10px;
            .body-title {
              //margin-bottom: $wbu-margin;
              font-size: $wbu-h3-font-size;
              font-weight: bold;
            }
            .body-desc {
              margin: 0;
              margin-bottom: auto;
              font-size: $wbu-default-font-size;
              line-height: $wbu-default-line-height;
            }
          }
        }
      }
    }
  }
}
