@use "../../../../../variables" as *;
@use "../../../../../wbu-ressources-clean.scss";

.restored_section_reservation_subtitle {
  line-height: 1;
  color: $wbu-color-primary;
}
.section_reservation_title {
  line-height: 1;
  color: $wbu-color-primary;
}
