@use "../../wbu-ressources-clean.scss" as *;
@use "../../variables" as *;
$darken-primary: darken($color: $wbu-color-primary, $amount: 2);

.load-more-button {
  margin: $wbu-margin 0;
  background-color: $wbu-color-primary;
  font-size: $wbu-h6-font-size;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 16.8rem;
  min-height: 4.9rem;

  &,
  a {
    color: color-yiq($wbu-color-primary);
    transition: ease-in-out 0.3s;
    text-decoration: none;
    line-height: 3;
    cursor: pointer;
  }
  .btn-angle-right {
    &::after {
      content: "";
      position: relative;
      width: 0;

      height: 2rem;
      top: -1px;
      display: inline-block;
      opacity: 0;
      transform: translateX(8px);
      transition: ease-in-out 0.2s;
      @include wbu__angle-right(color-yiq($wbu-color-primary), 15);
    }
  }

  &:hover {
    color: color-yiq($wbu-color-primary);
    text-decoration: none;
    background-color: darken($color: $wbu-color-primary, $amount: 2.5);
    .btn-angle-right::after {
      position: relative;
      opacity: 1;
      width: 2rem;
    }
  }
}
.lmb-full {
  margin: $wbu-margin 0;
  background-color: $wbu-color-primary;
  font-size: $wbu-default-font-size;
  color: color-yiq($wbu-color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  position: relative;
  text-transform: capitalize;
  font-size: $wbu-default-font-size;
  font-weight: bold;
  width: 100%;
  height: 4.9rem;

  &,
  a {
    color: color-yiq($wbu-color-primary);
    transition: ease-in-out 0.3s;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
  }
  & > :nth-child(1) {
    //background-color: red;
    flex-basis: 85%;
    text-align: center;
  }
  .btn-angle-right {
    &::after {
      content: "";
      position: relative;
      width: 0;
      right: 0;
      height: 2rem;
      top: -1px;
      display: inline-block;
      opacity: 0;
      transform: translateX(8px);
      transition: ease-in-out 0.2s;
      @include wbu__angle-right(color-yiq($wbu-color-primary), 15);
    }
  }
  &:hover,
  &:hover a {
    color: color-yiq($darken-primary);
    text-decoration: none;
    background-color: $darken-primary;
    .btn-angle-right::after {
      position: relative;
      opacity: 1;
      width: 2rem;
      @include wbu__angle-right(color-yiq($darken-primary), 15)
    }
  }
}
.more-link {
  font-size: $wbu-default-font-size * 1.2;
  font-weight: bold;
  text-align: center;

  margin: $wbu-margin auto;
  .link {
    padding: 0.8rem;
    //border-bottom: 1px solid $wbu-color-secondary;

    position: relative;
    display: inline-block;
    p {
      margin: 0;
    }
    &,
    a {
      text-decoration: none;
      color: $wbu-color-secondary;
      cursor: pointer;
    }
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $wbu-color-secondary;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    }
    &:hover {
      &::after {
        left: -5px;
        width: 114%;
      }
    }
  }
}
