/** 
* Contient une liste de class par defaut, utilisé dans la construction de tout rendu html.
*/
@use "../wbu-ressources-clean.scss" as *;
@use "../variables";
//on ajoute les models de puces.
@use "./steph/puce-check.scss";
@use "./steph/puce-dd-check.scss";
@use "./steph/puce-step-vertical.scss";
@use "../atome/typography/title.scss";
@use "../atome/typography/h1.scss";
@use "../atome/typography/h2.scss";
@use "../atome/typography/h3.scss";
@use "../atome/typography/h4.scss";

.space_bottom,
.space-bottom {
  margin-bottom: $space_bottom;
}
.space-padding {
  padding-top: $space_top;
  padding-bottom: $space_bottom;
}
.space-inner-padding {
  padding-top: $space_inner_top;
  padding-bottom: $space_inner_top;
}
.space-inner-bottom {
  margin-bottom: $space_inner_top;
}
.space-inner-top {
  margin-top: $space_inner_top;
}
.padding-top {
  padding-top: $space_top;
}
.margin-top {
  margin-top: $space_top;
}
.padding-bottom {
  padding-bottom: $space_bottom;
}
.bg-theme {
  background-color: $wbu-background !important;
}
.text-theme,
.color-primary-theme {
  color: $wbu-color-primary;
}
// definie les container de lecture.
.with-phone, // @depreciate
.width-phone {
  max-width: $with_phone;
}
.with-tablet, // @depreciate
.width-tablet {
  max-width: $with_tablet;
}

// typography
.wbu-titre-suppra {
  @include wbu-titre-suppra();
}

h1,
.h1 {
  @include bp_h1();
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  @include bp_h2();
  margin-bottom: 1rem;
}

h3,
.h3 {
  @include bp_h3();
  margin-bottom: 0.6rem;
}

h4,
.h4 {
  @include bp_h4();
}

h5,
.h5 {
  @include bp_h5();
}

h6,
.h6 {
  @include bp_h6();
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-bottom: 0.4rem;
}

/**
 * form col-auto.
 */
form {
  .js-form-item.col-auto {
    padding-right: 0;
    padding-left: 0;
  }
}
.cover-link {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.cover-bg-theme {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    background-color: $wbu-background;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .cover-bg-theme {
    &::before {
      content: "";
      display: none;
    }
  }
}
.opacity-before-07 {
  &::before {
    opacity: 0.7;
  }
}

.opacity-before-088 {
  &::before {
    opacity: 0.88;
  }
}

.opacity-before-055 {
  &::before {
    opacity: 0.55;
  }
}

.opacity-before-03 {
  &::before {
    opacity: 0.3;
  }
}
.opacity-before-015 {
  &::before {
    opacity: 0.15;
  }
}
.video-content {
  position: relative;
}
