/** 
 * Contient une liste de class par defaut, utilisé dans la construction de tout rendu html.
 */
@use "../wbu-ressources-clean.scss" as *;
@use "../variables";
// On ajoute les models de puces.
@use "./steph/puce-check.scss";
@use "./steph/puce-dd-check.scss";
// Tres peu utilisé.
//@use "./steph/animate-text.scss";
@use "./steph/puce-step-vertical.scss";
// @use "../atome/typography/title.scss";
@use "../atome/typography/default";

// import default styles.
@use "./Default/text-ligne.scss";
@use "./Default/z-index.scss";
// Tres peu utilisé.
// @use "./Default/row-alter.scss";
@use "./Default/svg.scss";
@use "./Default/text-titre.scss";
//
@use "./Default/details.scss";
@use "./Default//AjaxLoader.scss";
@use "./Default/vertical-tabs.scss";

/**
 * --
 */
@include requiredFieldForm($wbu-color-primary);
/**
 * Espacement/marge entre blog
 */
.space_bottom,
.space-bottom,
.margin-bottom {
  margin-bottom: $space_bottom * 0.3;

  @include media-min("mobile") {
    margin-bottom: $space_bottom * 0.6;
  }

  @include media-min("tablet") {
    margin-bottom: $space_bottom * 0.9;
  }

  @include media-min("desktop") {
    margin-bottom: $space_bottom;
  }
}

.space-top-inv {
  margin-top: -$space_bottom * 0.3;

  @include media-min("mobile") {
    margin-bottom: -$space_bottom * 0.6;
  }

  @include media-min("tablet") {
    margin-bottom: -$space_bottom * 0.9;
  }

  @include media-min("desktop") {
    margin-bottom: -$space_bottom;
  }
}

//
.space-padding,
.space-padding-py {
  padding-top: $space_bottom * 0.3;
  padding-bottom: $space_bottom * 0.3;

  @include media-min("mobile") {
    padding-top: $space_bottom * 0.6;
    padding-bottom: $space_bottom * 0.6;
  }

  @include media-min("tablet") {
    padding-top: $space_bottom * 0.9;
    padding-bottom: $space_bottom * 0.9;
  }

  @include media-min("desktop") {
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
  }
}

.space-padding-px {
  padding-left: $space_bottom * 0.3;
  padding-right: $space_bottom * 0.3;

  @include media-min(DD) {
    padding-left: $space_bottom;
    padding-right: $space_bottom;

    &--md {
      padding-left: $space_bottom * 0.55;
      padding-right: $space_bottom * 0.55;
    }

    &--dd {
      padding-left: $space_bottom * 0.7;
      padding-right: $space_bottom * 0.7;
    }
  }
}

//
.space-inner-padding {
  padding-top: $space_inner_top * 0.5;
  padding-bottom: $space_inner_top * 0.5;

  @include media-min("mobile") {
    padding-top: $space_inner_top;
    padding-bottom: $space_inner_top;
  }
}

//
.space-inner-padding,
.space-inner-py {
  padding-top: $space_inner_top * 0.5;
  padding-bottom: $space_inner_top * 0.5;

  @include media-min("mobile") {
    padding-top: $space_inner_top;
    padding-bottom: $space_inner_top;
  }
}

.space-inner-px {
  padding-right: $space_inner_top * 0.5;
  padding-left: $space_inner_top * 0.5;

  @include media-min("mobile") {
    padding-right: $space_inner_top;
    padding-left: $space_inner_top;
  }
}

//
.space-inner-bottom {
  margin-bottom: $space_inner_top * 0.5;

  @include media-min("mobile") {
    margin-bottom: $space_inner_top;
  }
}

//
.space-inner-top {
  margin-top: $space_inner_top * 0.5;

  @include media-min("mobile") {
    margin-top: $space_inner_top;
  }
}

.padding-top {
  padding-top: $space_top * 0.3;

  @include media-min("mobile") {
    padding-top: $space_top * 0.6;
  }

  @include media-min("tablet") {
    padding-top: $space_top * 0.9;
  }

  @include media-min("desktop") {
    padding-top: $space_top;
  }
}

.margin-top {
  margin-top: $space_top * 0.3;

  @include media-min("mobile") {
    margin-top: $space_top * 0.6;
  }

  @include media-min("tablet") {
    margin-top: $space_top * 0.9;
  }

  @include media-min("desktop") {
    margin-top: $space_top;
  }
}

.padding-bottom {
  padding-bottom: $space_bottom * 0.3;

  @include media-min("mobile") {
    padding-bottom: $space_bottom * 0.6;
  }

  @include media-min("tablet") {
    padding-bottom: $space_bottom * 0.9;
  }

  @include media-min("desktop") {
    padding-bottom: $space_bottom;
  }
}

/**
 * --
 */
.g-inner,
.gy-inner {
  --bs-gutter-y: #{$space_inner_top * 0.5};
  @include media-min("mobile") {
    --bs-gutter-y: #{$space_inner_top};
  }
}
.g-inner,
.gx-inner {
  --bs-gutter-x: #{$space_inner_top * 0.5};
  @include media-min("mobile") {
    --bs-gutter-x: #{$space_inner_top};
  }
}

/**
 * -- Gestion des backgrounds.
 */
.background {
  &--attached {
    background-attachment: fixed;
  }

  &--cover {
    background-size: cover;
  }

  &--contain {
    background-size: contain;
  }
}

.background-position {
  &--center {
    background-position: center center;
  }

  &--left-center {
    background-position: left center;
  }

  &--right-center {
    background-position: right center;
  }

  &--left-top {
    background-position: left top;
  }

  &--left-bottom {
    background-position: left bottom;
  }

  &--right-bottom {
    background-position: right bottom;
  }

  &--right-top {
    background-position: right top;
  }
}

/**
 * Background
 */
.bg-theme {
  background-color: $wbu-background !important;
}

.text-theme,
.color-primary-theme {
  color: $wbu-color-primary;
}

// definie les container de lecture.
.with-phone,
// @depreciate remove before 2x
.width-phone {
  max-width: $with_phone;
}

.with-tablet,
// @depreciate remove before 2x
.width-tablet {
  max-width: $with_tablet;
}

/**
 * Ombre
 */
.box-shadow-top {
  &-black {
    box-shadow: 0px -13px 1px 0px rgba(0, 0, 0, 40%);
  }

  &-primary {
    box-shadow: 0px -13px 1px 0px rgba($wbu-color-primary, 40%);
  }
}

/**
 * bordure arrondie
 */
.border-radius {
  &-0 {
    border-radius: 0;
  }

  &-5 {
    border-radius: $wbu-margin * 0.25;
  }

  &-10 {
    border-radius: $wbu-margin * 0.5;
  }

  &-20 {
    border-radius: $wbu-margin;
  }
}

/**
 * form col-auto.
 */
form {
  .js-form-item.col-auto {
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Permet de couvrir tout une zone avec un lien. le parent doit avoir la classe position-relative ou utilisé la proprieté "position:relative".
 * Cette classe doit etre sur la balise a.
 */
.cover-link {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.cover-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 100%;
  min-width: 100%;
  max-width: 2500px;
  z-index: -1;
}
.cover-images {
  display: flex;
  overflow: hidden;
  .item {
    position: relative;
    min-height: 500px;
    width: 25%;
    @include WBUtransition($temps: 1s);
    &:hover {
      flex-grow: 2;
      width: 45%;
    }
  }
  .cover-image {
    min-height: 500px;
    object-fit: cover;
    position: absolute;
  }
}

/**
 * Permet d'ajouter le cover sur un section, il faut completer avec une variante opacity-before-{X} afin d"ajuser l'opacité.
 */
.cover-bg-theme {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    background-color: $wbu-background;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .cover-bg-theme {
    &::before {
      content: "";
      display: none;
    }
  }

  &-before-z10 {
    &::before {
      z-index: 10;
    }
  }

  /**
   * Rendre le contenu en position relatif + un z-index.
   */
  > * {
    position: relative;
    z-index: 1;
  }

  &.cover-light {
    &::before {
      background-color: white;
    }
  }

  &.cover-dark {
    &::before {
      background-color: rgb(17, 17, 17);
    }
  }

  &.cover-primary {
    &::before {
      background-color: $wbu-color-primary;
    }
  }
}

.opacity-before-092 {
  &::before {
    opacity: 0.92 !important;
  }
}

.opacity-before-088 {
  &::before {
    opacity: 0.88 !important;
  }
}

.opacity-before-080 {
  &::before {
    opacity: 0.8 !important;
  }
}

.opacity-before-07 {
  &::before {
    opacity: 0.7 !important;
  }
}

.opacity-before-055 {
  &::before {
    opacity: 0.55 !important;
  }
}

.opacity-before-03 {
  &::before {
    opacity: 0.3 !important;
  }
}

.opacity-before-015 {
  &::before {
    opacity: 0.15 !important;
  }
}

/**
 * Pour center une video dans une section.
 */
.background-local-video {
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .video-content {
    position: relative;
    z-index: 3;
  }

  .space_bottom {
    margin-bottom: 0;
  }
}
//
.default-font-size {
  font-size: $wbu-default-font-size;
}
.default-font-size-sm {
  font-size: $wbu-default-font-size-sm;
}
.line-height-1 {
  line-height: 1;
}
/**
 * Style pour les liens.
 */
a:visited {
  color: $wbu-link-color-visited;
}
a.btn {
  &:visited {
    color: var(--bs-btn-color);
  }
  &:visited:hover {
    color: var(--bs-btn-hover-color);
  }
}
a.nav-link:visited {
  color: var(--bs-nav-link-color);
}
