/** 
 * Contient une liste de class par defaut, utilisé dans la construction de tout rendu html.
 */
@use "../wbu-ressources-clean.scss" as *;
@use "../variables";
// On ajoute les models de puces.
@use "./steph/puce-check.scss";
@use "./steph/puce-dd-check.scss";
@use "./steph/animate-text.scss";
@use "./steph/puce-step-vertical.scss";
// @use "../atome/typography/title.scss";
@use "../atome/typography/default";
@use "../atome/typography/h1.scss";
@use "../atome/typography/h2.scss";
@use "../atome/typography/h3.scss";
@use "../atome/typography/h4.scss";
/**
 * Espacement/marge entre blog
 */
.space_bottom,
.space-bottom {
  margin-bottom: $space_bottom;
}
.space-top-inv {
  margin-top: -$space_bottom;
}
.space-padding {
  padding-top: $space_top;
  padding-bottom: $space_bottom;
}
.space-inner-padding {
  padding-top: $space_inner_top;
  padding-bottom: $space_inner_top;
}
.space-inner-bottom {
  margin-bottom: $space_inner_top;
}
.space-inner-top {
  margin-top: $space_inner_top;
}
.padding-top {
  padding-top: $space_top;
}
.margin-top {
  margin-top: $space_top;
}
.padding-bottom {
  padding-bottom: $space_bottom;
}
/**
 * -- Gestion des backgrounds.
 */
.background {
  &--attached {
    background-attachment: fixed;
  }
  &--cover {
    background-size: cover;
  }
  &--contain {
    background-size: contain;
  }
}
.background-position {
  &--left-center {
    background-position: left center;
  }
  &--right-center {
    background-position: right center;
  }
  &--left-top {
    background-position: left top;
  }
  &--left-bottom {
    background-position: left bottom;
  }
  &--right-bottom {
    background-position: right bottom;
  }
  &--right-top {
    background-position: right top;
  }
}

/**
 * Background
 */
.bg-theme {
  background-color: $wbu-background !important;
}
.text-theme,
.color-primary-theme {
  color: $wbu-color-primary;
}
// definie les container de lecture.
.with-phone, // @depreciate remove before 2x
.width-phone {
  max-width: $with_phone;
}
.with-tablet, // @depreciate remove before 2x
.width-tablet {
  max-width: $with_tablet;
}

/**
 * Ombre
 */
.box-shadow-top {
  &-black {
    box-shadow: 0px -13px 1px 0px rgba(0, 0, 0, 40%);
  }
  &-primary {
    box-shadow: 0px -13px 1px 0px rgba($wbu-color-primary, 40%);
  }
}

/**
 * bordure arrondie
 */
.border-radius {
  &-0 {
    border-radius: 0;
  }
  &-5 {
    border-radius: $wbu-margin * 0.25;
  }
  &-10 {
    border-radius: $wbu-margin * 0.5;
  }
  &-20 {
    border-radius: $wbu-margin;
  }
}
/**
 * Gestion de la taille des titres.
 * On souhaite que les balises soit surchargeable par les classes.
 * De plus, les classes sont appliqués par ordre decroissant suivant la taille du texte.
 */
h1 {
  @include bp_h1();
  margin-bottom: 1.5rem;
  line-height: $wbu-h1-line-height;
}

h2 {
  @include bp_h2();
  margin-bottom: 1rem;
  line-height: $wbu-h2-line-height;
}

h3 {
  @include bp_h3();
  margin-bottom: 0.6rem;
  line-height: $wbu-h3-line-height;
}

h4 {
  @include bp_h4();
  line-height: $wbu-h4-line-height;
}

h5 {
  @include bp_h5();
}

h6 {
  @include bp_h6();
}
// typography
.wbu-titre-suppra {
  @include wbu-titre-suppra();
}
.bp_hero {
  @include bp_hero();
}

.h1 {
  @include bp_h1();
  margin-bottom: 1.5rem;
  line-height: $wbu-h1-line-height;
}
.h2 {
  @include bp_h2();
  margin-bottom: 1rem;
  line-height: $wbu-h2-line-height;
}
.h3 {
  @include bp_h3();
  margin-bottom: 0.6rem;
  line-height: $wbu-h3-line-height;
}
.h4 {
  @include bp_h4();
  line-height: $wbu-h4-line-height;
}
.h5 {
  @include bp_h5();
}
.h6 {
  @include bp_h6();
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  line-height: 1.2;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-bottom: 0.9rem;
  line-height: 1.5;
}

/**
 * form col-auto.
 */
form {
  .js-form-item.col-auto {
    padding-right: 0;
    padding-left: 0;
  }
}
/**
 * Permet de couvrir tout une zone avec un lien. le prent doit avoir la classe position-relative ou utilisé la proprieté "position:relative".
 */
.cover-link {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
/**
 * Permet d'ajouter le cover sur un section, il faut completer avec une variante opacity-before-{X} afin d"ajuser l'opacité.
 */
.cover-bg-theme {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    background-color: $wbu-background;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .cover-bg-theme {
    &::before {
      content: "";
      display: none;
    }
  }
  /**
   * rendre le contenu en position relatif + un z-index.
   */
  > * {
    position: relative;
    z-index: 1;
  }
  &.cover-light {
    &::before {
      background-color: white;
    }
  }
  &.cover-dark {
    &::before {
      background-color: rgb(17, 17, 17);
    }
  }
  &.cover-primary {
    &::before {
      background-color: $wbu-color-primary;
    }
  }
}

.opacity-before-092 {
  &::before {
    opacity: 0.92;
  }
}

.opacity-before-088 {
  &::before {
    opacity: 0.88;
  }
}
.opacity-before-07 {
  &::before {
    opacity: 0.7;
  }
}
.opacity-before-055 {
  &::before {
    opacity: 0.55;
  }
}

.opacity-before-03 {
  &::before {
    opacity: 0.3;
  }
}
.opacity-before-015 {
  &::before {
    opacity: 0.15;
  }
}

/**
 * Pour center une video dans une section.
 */
.background-local-video {
  overflow: hidden;
  position: relative;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .video-content {
    position: relative;
    z-index: 3;
  }
  .space_bottom {
    margin-bottom: 0;
  }
}
.z-index-1 {
  z-index: 1;
}
.z-index-10 {
  z-index: 10;
}
