@use "../../wbu-ressources-clean.scss" as *;
.swiper {
  width: 100%;
  height: 100%;
  .swiper-button-next,
  .swiper-button-prev {
    color: $wbu-color-primary;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
  .swiper-pagination-bullet-active {
    background: $wbu-color-primary;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // important de mettre un bg ( car dasn certains cas de figures on pourra avoir des effect visueul inatendu ).
    background-color: #fff;
    > * {
      flex-grow: 1;
    }
  }
  /**
     * Pagination bug d'affichage
     * Lorsque l'on bascule de l'affichage vertical à horizontal on a la pagination qui reste en place.
     */
}
