/**
 * color de base
 */
$wbu-border-color            : #dee2e6 !default;
$wbu-color-primary           : #ea000d !default;
$wbu-color-secondary         : #0000ee !default;
$wbu-color-thirdly           : #333 !default;
$wbu-color-text              : #4c4c4c !default;
$wbu-color-teal              : #49a0a2 !default;
$wbu-color-boder             : #dee2e6;
$wbu-color-link              : $wbu-color-secondary !default;
$wbu-color-link-hover        : $wbu-color-secondary !default;
/**/
$wbu-btn-border-round        : 50% !default;
$wbu-btn-round-dimension     : 2.2rem !default;
$btn-border-color            : $wbu-border-color !default;
/**/
//$btn-radius
$wbu-btn-border-radius       : 30px !default;
$wbu-btn-radius-padding      : 0.88rem 1.5rem !default;
/**
 * Typography
 */
$wbu-default-line-height     : 1.3 !default;
$wbu-default-font-size       : 1.4rem !default;
$wbu-p-font-size             : inherit !default;
/**
 * typography
 */
$wbu-title-color             : inherit !default;
$wbu-title-font-family       : inherit !default;
$wbu-title-font-weight       : 600 !default; //
$wbu-h1-font-size            : 3.4rem !default;
$wbu-h1-line-height          : 4.2rem !default;
$wbu-h2-font-size            : 2.4rem !default;
$wbu-h3-font-size            : 1.8rem !default;
$wbu-h3-line-height          : 2.4rem !default;
$wbu-h4-font-size            : 1.6rem !default;
$wbu-h4-line-height          : 2.0rem !default;
/**
 * Lists buttons
 */
$wbu_dimension_puce          : 25px !default;
/* */
// space.
$wbu-margin                  : 2rem !default;
$wbu-h1-margin               : $wbu-margin / 1.33 !default;
$wbu-h2-margin               : $wbu-margin / 1.6 !default;
$wbu-h3-margin               : $wbu-margin / 1.9 !default;
$wbu-h4-margin               : $wbu-margin / 2.2 !default;
/* page-header-bg */
$wbu-page-header-bg          : 200px;
/* Permet de surcharger les variables bootstrap */
// bootstrap variables
$wbu-input-font-size         : inherit !default;
$wbu-btn-line-height         : inherit !default;
$wbu-btn-font-size           : inherit !default;
$wbu-form-group-margin-bottom: $wbu-margin;
$wbu-btn-padding-y-sm        : 0.4rem !default;
$wbu-btn-padding-x-sm        : 0.8rem !default;
$wbu-btn-font-size-sm        : $wbu-default-font-size/1.3 !default;