/*------------------------------------
  Wbu-Atomique variables
------------------------------------*/

/*------------------------------------
  COLORS
------------------------------------*/
//
// Couleurs principal
// =========================================================
// Couleur primaire ( y compris la couleur de liens par defaut ).
$wbu-color-primary: #ea000d !default;
// Couleur secondaire
$wbu-color-secondary: #ee8700 !default;
// Couleur d'arrière plan ( à priviliger au niveau du footer, des elements de covers ).
$wbu-background: #0f103e !default;
// Couleur des liens
$wbu-color-thirdly: rgb(7, 79, 128) !default;
//
// Autre couleurs
// =========================================================
$wbu-border-color: #dee2e6 !default;
$wbu-color-text: #4c4c4c !default;
$wbu-color-teal: #49a0a2 !default;
$wbu-color-boder: #dee2e6;
$wbu-title-color: inherit !default;

/*------------------------------------
  BORDURES
------------------------------------*/
// buttom
$wbu-btn-border-round: 50% !default;
$wbu-btn-round-dimension: 2.2rem !default;
$btn-border-color: $wbu-border-color !default;
$wbu-btn-border-radius: 30px !default;
$wbu-btn-radius-padding: 0.88rem 1.5rem !default;
// largeur de la puce.
$wbu_dimension_puce: 25px !default;

/*------------------------------------
  TYPOGRAPHY
------------------------------------*/
// default
$wbu-default-line-height: 1.3 !default;
$wbu-default-font-size: 1.4rem !default;
//
$wbu-title-font-family: inherit !default;
$wbu-title-font-weight: 600 !default;
// Big text ( Generalement pour les sections hero ).
$wbu-titre-suppra: 8.4rem !default;
$wbu-titre-biggest: 5.4rem !default;
$wbu-titre-big: 4.4rem !default;
$wbu-titre-big-md: 3.4rem !default;
$wbu-titre-big-sm: 2.2rem !default;
//h1
$wbu-h1-font-size: 3.4rem !default;
$wbu-h1-font-size-md: 2.4rem !default;
$wbu-h1-font-size-sm: 2rem !default;
$wbu-h1-line-height: $wbu-default-line-height !default;
//h2
$wbu-h2-font-size: 2.4rem !default;
$wbu-h2-font-size-sm: 1.9rem !default;
//h3
$wbu-h3-font-size: 1.8rem !default;
$wbu-h3-line-height: $wbu-default-line-height !default;
// Pour les titres ( h3, h4, h5, h6 ) pour les pc et telephones.
$wbu-title-font-size: 1.6rem !default;
$wbu-title-font-size-sm: 1.6rem !default;

/* */
// space.
$wbu-margin: 2rem !default;
$wbu-h1-margin: $wbu-margin * 0.75 !default;
$wbu-h2-margin: $wbu-margin * 0.625 !default;
$wbu-h3-margin: $wbu-margin * 0.526 !default;
$wbu-h4-margin: $wbu-margin * 0.454 !default;
/* page-header-bg */
$wbu-page-header-bg: 200px;
/* Permet de surcharger les variables bootstrap */
// bootstrap variables
$wbu-input-font-size: inherit !default;
$wbu-btn-line-height: inherit !default;
$wbu-btn-font-size: inherit !default;
$wbu-form-group-margin-bottom: $wbu-margin;
$wbu-btn-padding-y-sm: 3.4rem !default;
$wbu-btn-padding-x-sm: 0.8rem !default;
$wbu-btn-font-size-sm: $wbu-default-font-size * 0.75 !default;
// space
$space_bottom: $wbu-margin * 3.5;
$space_top: $wbu-margin * 2.5;
$space_inner_top: $space_top * 0.5;
// max with for text
$with_phone: 600px;
$with_tablet: 900px;
$with_container: 1200px;
