@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.section-education {
  padding-bottom: $wbu-margin * 2;
  padding-top: $wbu-margin;
  margin-right: $wbu-margin * 2;
  margin-left: $wbu-margin * 2;
  .title {
    padding: $wbu-margin * 0.5 0;
    margin-bottom: $wbu-margin * 1.5;
    letter-spacing: $wbu-margin * 0.25;
  }
  .experience {
    margin-top: $wbu-margin;
    .time {
      color: goldenrod;
      letter-spacing: $wbu-margin * 0.1;
    }
    .school {
      letter-spacing: $wbu-margin * 0.25;
    }
  }
}
