@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.presentation {
  background-color: rgb(44, 44, 63);
  .name {
    letter-spacing: $wbu-margin * 0.25;
  }
  .post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    letter-spacing: $wbu-margin * 0.25;
    color: goldenrod;
    &:nth-child(1) {
      color: antiquewhite !important;
    }
    &::after,
    &::before {
      content: "";
      height: 2px;
      background-color: goldenrod;
      display: block;
      margin: 0 $wbu-margin * 1.25;
    }
  }
  .initial {
    color: goldenrod;
    letter-spacing: $wbu-margin * 0.25;
  }
  .coordonnées {
    .infos {
      margin-bottom: $wbu-margin * 2;
      margin-top: $wbu-margin;
      .icon {
        margin: $wbu-margin * 0.5 0;
        svg {
          :nth-child(1) {
            fill: goldenrod;
          }
        }
      }
      .text {
        color: white;
      }
    }
  }
}
