@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.section-experience {
  padding-bottom: $wbu-margin * 2;
  margin-right: $wbu-margin * 2;
  margin-left: $wbu-margin * 2;
  .title {
    padding: 1rem 0;
    margin-bottom: 3rem;
    letter-spacing: $wbu-margin * 0.25;
  }
  .experience-group {
    :nth-last-child(1) {
      margin: 0 !important;
    }
    .experience-work {
      :nth-child(1) {
        margin: 0 !important;
      }
      margin-bottom: $wbu-margin;
      .time {
        color: goldenrod;
        letter-spacing: $wbu-margin * 0.1;
      }
      .job {
        letter-spacing: $wbu-margin * 0.25;
      }
    }
  }
}
