@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.presentation {
  background-color: rgb(44, 44, 63);
  .name {
    letter-spacing: $wbu-margin * 0.25;
  }
  .post {
    position: relative;
    letter-spacing: $wbu-margin * 0.25;
    color: goldenrod;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 80px;
      height: 100%;
      width: 1px;
      background: goldenrod;
      transform: rotate(90deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 800px;
      height: 100%;
      width: 1px;
      background: goldenrod;
      transform: rotate(90deg);
    }
  }
  .initial {
    color: goldenrod;
  }
  .coordonnées {
    .infos {
      margin-bottom: $wbu-margin * 2;
      margin-top: $wbu-margin;
      .icon {
        margin: $wbu-margin * 0.5 0;
        svg {
          fill: goldenrod;
        }
      }
      .text {
        color: white;
      }
    }
  }
}
