@use "../../../../variables" as*;
@use "./../../../../wbu-ressources-clean.scss" as *;



.sublime {

    margin:0;
    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_1277861122_1296x.jpg?v=1632754691');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    opacity: 0.9;
    margin-bottom: 25px;
    
   
    .container{
        color: $wbu-color-primary;
        
        .sublime-container-image {
            position: relative;
             margin: auto;
             justify-content: center;
             padding: 10rem;
            
            .part-one-line{
                text-align: center;
                font-weight: bold;
                
            }

            .part-one-line-2{
                
                text-align: center;
            }
            .line-btn{
                text-decoration: none;
                background: $wbu-background;
                color: $wbu-color-primary;
                border: 2px solid $wbu-background;
                height: $wbu-default-line-height * 35;
                padding: 9px 1.4em;
                text-align: center;
                border-radius: $wbu-btn-border-radius;
               
            }
        }
    }
}

                                 
 
    // Sur les écrans de largeur inférieure ou égale à 576px
@media only screen and (MD){
    .part-one {
        height: 500px;
   
        .container{
            display: flex;
            flex-direction: column;
            align-items: start;


        
            .part-one-image{
                

                .part-one-line{
                    font-size: $wbu-default-font-size * 3;
                }

                .part-one-line-2{
                    font-size: $wbu-default-font-size * 1;
                }

                
                    
                

            }
        
        }
    }
}

// Sur les écrans de largeur inférieure ou égale à 238px
@media only screen and (DD){
    .part-one {
       
        .container{
           

            .part-one-image{
                
                

                .part-one-line{
                    font-size: $wbu-default-font-size * 2;
                }
                .part-one-line-2{
                    font-size: $wbu-default-font-size * 0.7;
                }
                
                
                

            }
            
        }
    }
        
 }
 