@use "../../../../variables" as*;
@use "./../../../../wbu-ressources-clean.scss" as *;



.sublime {

    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_1277861122_1296x.jpg?v=1632754691');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
  
   
    .container{
        color: $wbu-color-primary;
        text-align: center;
        color: color-yiq($wbu-color-primary);
        
        .sublime-container-image {
            height: 100%;
            position: relative;
             margin: auto;
             justify-content: center;
             padding: 10rem;
            
            
        }
    }
}

                                 
 
    // Sur les écrans de largeur inférieure ou égale à 576px
@media only screen and (MD){
    .part-one {
        height: 500px;
   
        .container{
            display: flex;
            flex-direction: column;
            align-items: start;
            .part-one-image{
                

                .part-one-line{
                    font-size: $wbu-default-font-size * 3;
                }

                .part-one-line-2{
                    font-size: $wbu-default-font-size * 1;
                }

                
                    
                

            }
        
        }
    }
}

// Sur les écrans de largeur inférieure ou égale à 238px
@media only screen and (DD){
    .part-one {
       
        .container{
           

            .part-one-image{
                
                

                .part-one-line{
                    font-size: $wbu-default-font-size * 2;
                }
                .part-one-line-2{
                    font-size: $wbu-default-font-size * 0.7;
                }
                
                
                

            }
            
        }
    }
        
 }
 