@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.evenex-session {
  position: relative;
  padding-top: $wbu-margin * 3;
  padding-bottom: $wbu-margin * 3;
  padding-left: $wbu-margin * 3;
  border: none;
  border-radius: $wbu-margin * 0.8;
  box-shadow: 0 1px 50px 0 rgb(0 0 0 / 6%);
  margin-bottom: $wbu-margin * 1.5;

  &.active {
    background-color: transparent;
    background-image: linear-gradient(
      138deg,
      $wbu-color-primary 0%,
      $wbu-color-secondary 100%
    );
    box-shadow: 0 25px rgba($wbu-color-primary, 0.53);
    @include media-min(XS) {
      box-shadow: 0 8px 25px 0 rgba($wbu-color-primary, 0.53);
      border-radius: 0.65rem;
    }
    .evenex-session__day {
      color: white;
    }
    .evenex-session__date {
      color: white;
    }
    .evenex-session__place {
      color: white;
    }

    .evenex-session__location {
      color: white;
    }
  }

  &__icon {
    left: 24px;
    top: 28px;
    z-index: 0;
    position: absolute;

    svg {
      width: 7rem;
      height: 7rem;
      fill: $wbu-color-primary;
      opacity: 0.28;
    }
  }

  .info {
    position: relative;
    z-index: 1;
  }

  &__day {
    font-weight: 600;
    margin-bottom: 4px;
    color: $wbu-background;
  }

  &__date {
    font-weight: 600;
    color: $wbu-background;
  }

  &__place {
    font-weight: 500;
    color: $wbu-background;
  }

  &__location {
    color: $wbu-background;
  }
}
