@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.single-speaker {
    padding-left: 2rem;

    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 30px 0px rgb(4 26 87 / 10%);
    box-shadow: 0px 15px 30px 0px rgb(4 26 87 / 10%);
    border-radius: 5px;
    margin-top: 6.875rem;
    position: relative;
    margin-bottom: 1.875rem;
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 2rem;

    @include media-min(DD) {
        max-height: 17.625rem;
        padding-top: 2.5rem;
        padding-left: 3rem;
        padding-bottom: 1.5rem;
        margin-bottom: 5.875rem;
    }



    &__inner {
        align-self: center;
    }

    &__name {
        margin-left: 0px;
        font-weight: 600;
        color: #041A57;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    &__job {
        margin-bottom: 2.75rem;
        color: #666666;
        font: 16px Roboto, sans-serif;
        @include media-min(DD) {
            margin-bottom: 5.75rem;
        }
    }

    &__social {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;

        &__link:not(:last-child) {
            margin-right: 0.375rem;
        }

        &__link {
            border-radius: 50%;
            background-color: #f5f5f5;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 1.625rem;
            height: 1.625rem;
            line-height: 1.625rem;
            font-size: 0.75rem;
            display: inline-block;
            text-align: center;
            fill: #313636;
            transition: all 0.4s ease;

            @include media-min(SM) {
                width: 2.6rem;
                height: 2.6rem;
            }

            svg {
                width: 11.5px;
                height: 14px;

                @include media-min(SM) {
                    width: 19.5px;
                    height: 22px;
                }
            }
        }
    }

    &__image {
        display: block;
        width: 100%;
        filter: grayscale(0);
        border-bottom-right-radius: 5px;
        text-align: right;

        @include media-min(DD) {
            position: absolute;
            bottom: -1.5rem;
        }

        img {
            display: block;
            width: 100%;
            filter: grayscale(0);
            border-bottom-right-radius: 5px;
        }
    }
}