@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.single-pricing {
    padding: 40px 40px 50px 40px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #f5f5f5;
    background-color: white;
    z-index: 1;
    position: relative;

    &::before {
        content: "";
        width: 10rem;
        height: 10rem;
        background-image: linear-gradient(90deg, $wbu-color-primary 0%, $wbu-color-secondary 100%);
        border-radius: 50%;
        position: absolute;
        transition: all 0.4s ease;
        opacity: 0;
    }

    @include media-min(XS) {
        display: block;
        width: 100%;
        padding: 100px 40px 100px 40px !important;
        -webkit-mask-image: url(https://i.ibb.co/myRzgmC/masking-pricing-table.png);
        mask-image: url(https://i.ibb.co/myRzgmC/masking-pricing-table.png);
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        position: relative;
    }

    &__main-benefit {
        text-align: center;
        color: $wbu-color-primary;
        font-family: "Lato", Sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding: 0px 0px 0px 0px;
    }

    &__price {
        color: #101010;
        font-family: "Poppins", Sans-serif;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: -1.92px;
        text-align: center;
        position: relative;

        span {
            transition: all .3s ease;
        }

        &::after {
            position: absolute;
            content: '';
            width: 50px;
            height: 3px;
            background: $wbu-color-primary;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__benefit {
        margin: 55px 0px 42px 0px;
        color: #666666;
        text-align: center;
    }

    &__link {
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        color: #101010;
        background-color: #FFFFFF;
        padding: 15px 28px 15px 28px;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 15px 25px 0px rgb(0 0 0 / 10%);
        display: flex;
        align-items: center;
        transition: all 0.4s ease;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        @include media-min(XS) {
            max-width: 180px;
        }

        a {
            color: #101010;
            text-decoration: none;

            &::before {
                position: absolute;
                inset: 0;
                content: "";
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
            fill: $wbu-color-primary;
            margin-right: 10px;
        }
    }
}