@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.evenex-activity {
    margin: 40px 0px 0px 0px;
    padding-bottom: 2.0625rem;
    border-bottom: 1px solid #f5f5f5;

    &__title {
        font-family: Poppins, sans-serif;
        color: #101010;
        font-weight: 700;
        letter-spacing: -0.4px;
        line-height: 1.625;
        text-transform: uppercase;
    }

    &__description {
        margin-bottom: 1.6875rem;
        font-size: 16px;
    }

    &__time {
        display: flex;
        margin-right: 3rem;

        &__icon {
            margin-right: 0.8375rem;
            vertical-align: text-top;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: $wbu-color-primary;
            }
        }

        &__schedule {
            font-size: 1.4rem;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            color: #041A57;
            display: inline-block;
            line-height: 1;
        }
    }

    &__location {
        display: flex;

        &__icon {
            margin-right: 0.8375rem;
            vertical-align: text-top;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: $wbu-color-primary;
            }
        }

        &__room {
            font-size: 1.4rem;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            color: #041A57;
            display: inline-block;
            line-height: 1;
        }
    }

    .place {
        display: flex;
        margin-bottom: 1rem;
    }

    &__speaker {
        margin-right: 0.625rem;

        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }

    .speakers {
        display: flex;
    }
}