@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../restoRedTeasers/reservationTeaser.scss";
.section_menu_repas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  position: relative;
  margin: 80px 0;
  .teaser_title_name {
    padding-bottom: 60px;
    text-align: center;
    .section_reservation_subtitle {
      color: $wbu-color-secondary;
    }
    .section_reservation_title {
      color: $wbu-color-thirdly;
    }
  }

  .menus_card {
    //width: 360px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      top: auto;
      width: 100%;
      height: 0;
      z-index: 1;
      transition: all 200ms ease-in;
    }
    &:hover {
      .menu_card_name,
      .menu_card_price {
        display: unset;
      }
      .menu_price {
        z-index: 22;
      }
      &::before {
        bottom: 0 !important;
        height: 100%;
      }
      svg {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      .icone {
        display: block;
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
    }
    .menu_image {
      position: relative;
      img {
        width: 100%;
      }
    }
    .menu_price {
      background: $wbu-color-secondary;
      padding: 18px 10px;
      color: $wbu-color-primary;
      width: 100%;
      z-index: 22;
      .menu_card_name {
        padding-right: 5px;
      }
    }
  }
}
.swiper-slide {
  display: flex;
}

.swiper-button-prev {
  background-color: $wbu-color-secondary;
  color: $wbu-color-primary !important;
  width: 40px !important;
}
.swiper-button-next {
  background-color: $wbu-color-secondary;
  color: $wbu-color-primary !important;
  width: 40px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 15px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.icon_hover {
  display: flex;
  position: absolute;
  .icone {
    display: none;
    height: 44px !important;
    width: 44px !important;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 44px;
    fill: #fff;
    font-size: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 400ms linear 0s;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    svg {
      fill: #fff !important;
      height: 14px !important;
      width: 14px !important;
    }
  }
}
