@use "../../../../../wbu-ressources-clean.scss" as *;
// @use "../restoRedTeasers/reservationTeaser.scss";
//@use "../restoRedTeasers/service.scss";

.whatsapp-widget {
  .butonclose {
    button {
      width: 20px;
      height: 20px;
      padding: 5px;
    }
  }

  /* Style du bouton WhatsApp flottant */
  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    cursor: pointer;
  }

  .whatsapp-btn img {
    width: 30px;
    height: auto;
  }

  /* Style du chat (textarea) */
  .whatsapp-chat {
    display: none; // Masquer initialement
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 999;

    textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
    }

    button {
      background-color: #25d366;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    &.active {
      transition: all 0.5s ease;
      opacity: 1;
      display: block; // Afficher lorsqu'il est activé
    }
  }
}
