@use '../../../wbu-ressources-clean.scss' as *;
@use '../../../_variables' as *;


.color{
    color:$wbu-color-primary;
    cursor: pointer;
}


#arrow{
    height:10px;
    width:10px;
    color:$wbu-color-primary;
}
