@use "../../wbu-ressources-clean.scss" as *;


.content {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.heading {
    font-weight: $wbu-title-font-weight;
    display: table-row;
    font-size: $wbu-default-font-size*0.2 ;
    font-family: sans-serif;

}

.table-row {
    display: table-row;
}

.column {
    display: table-cell;
    border: 1px solid #CCC;
    font-size: $wbu-default-font-size*0.6;


}