@use "../../wbu-ressources-clean.scss" as *;

.wix-theme-price {
  .tabs-container {
    background-color: lighten($wbu-color-primary, 25);
    padding-top: $wbu-margin;
  }
  .sub-container-table {
    display: inline-table;
  }
  .nav-tabs {
    .nav-item {
      .nav-link {
        background-color: lighten($wbu-color-primary, 10);
        @include WBUtransition();
        &:hover {
          background-color: lighten($wbu-color-primary, 7);
        }
        &.active {
          background-color: #fff;
        }
      }
    }
  }
  .tab-content {
    padding-top: $wbu-margin * 1.5;
    padding-bottom: $wbu-margin * 1.5;
  }

  .content {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  .heading {
    display: table-row;
    font-family: sans-serif;
    margin: $wbu-margin;
  }

  .table-row {
    display: table-row;
  }

  .column {
    display: table-cell;
    border: 1px solid #ccc;
    width: 40%;
  }
}

.access-container {
  background-color: lighten($wbu-color-primary, 25);
}
