@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;

.single-member-card {
  margin-bottom: $space_bottom;
  flex-direction: column;
  padding-top: $wbu-margin;
  padding-bottom: $wbu-margin;
  background-color: rgba($wbu-background, 0.9);
  align-items: center;
  display: flex;
  .lutin {
    position: relative;
    margin-bottom: $wbu-margin;
    .img-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: "";
        top: 2rem;
        opacity: 0;
        left: 0;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        cursor: pointer;
        background: $wbu-color-primary;
        position: absolute;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
      }
      img {
        border-radius: 100%;
        margin-top: $wbu-margin;
        margin-bottom: $wbu-margin;
        width: 300px;
        height: 300px;
        object-fit: fill;
        object-position: center center;
      }
      &:hover::before {
        opacity: 0.5;
      }
    }
  }
  .member-role {
    color: color-yiq(rgba($wbu-background, 0.9));
    margin-bottom: $wbu-margin;
    padding-left: $wbu-margin;
    padding-right: $wbu-margin;
  }
  .member-name {
      margin-bottom: $wbu-margin;
      padding-left: $wbu-margin;
      padding-right: $wbu-margin;
      color: color-yiq(rgba($wbu-background, 0.9));
    .name {
      color: color-yiq(rgba($wbu-background, 0.9));
      margin-bottom: $wbu-margin;
      padding-left: $wbu-margin;
      padding-right: $wbu-margin;
      font-weight: $wbu-title-font-weight;
      text-decoration: none;
      transition: ease 0.3s;
      &:hover {
        color: $wbu-color-secondary;
      }
    }
  }
  .social-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: color-yiq(rgba($wbu-background, 0.9));
    margin-bottom: $wbu-margin;
    padding-left: $wbu-margin;
    padding-right: $wbu-margin;
    .icon {
      padding: 5px;
      .__svg {
        color: $wbu-color-secondary;
        height: 2rem;
        width: 2rem;
        transition: ease-in-out 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
