@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;

.blog-pagination {
  .pagination {
    display: flex;
    justify-content: center;
  }
  .page-item {
    .page-link {
      border: 1px solid transparent;
      font-size: $wbu-h6-font-size;
      padding: 0.9rem 1.5rem;
      margin: 0 1rem;
      color: black;
      background-color: transparent;
      transition: ease-in-out 0.3s;
    }

    &:hover {
      .page-link {
        text-decoration: none;
        background-color: $wbu-color-primary;
        border-color: $wbu-color-primary;
      }
    }
    &--active {
      .page-link {
        border-color: $wbu-color-primary;
      }
    }
  }
}
