@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;
.featured-single-card {
  padding-bottom: $wbu-margin * 2;
  .img-handler {
    margin-bottom: $wbu-margin;
    position: relative;
    .img-sup {
      height: auto;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &::before {
        content: "";
        top: -1;
        height: 100%;
        opacity: 0;
        width: 100%;
        background: $wbu-color-primary;
        pointer-events: none;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        position: absolute;
      }
      &:hover::before {
        opacity: 0.5;
      }
    }
  }
  .pub-info {
    padding: 0;
    color: $wbu-color-text;
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    .pub-info-cat {
      text-transform: capitalize;
      display: inline;
    }
    p {
      margin: 0;
    }
  }
  .card-text-descriptor {
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 12rem;
    a {
      color: black;
      transition: ease 0.5s;
      padding: 0 0.4rem;
    }
    &:hover {
      a {
        text-decoration: none;

        color: $wbu-color-secondary;
      }
    }
  }
  .role {
    color: $wbu-color-text;
    text-align: center;
    a {
      color: $wbu-color-text;
    }
  }
}
