@use "../../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../../atome/typography/default";
@use "../.././variables.scss" as *;
.featured-single-card {
  padding-bottom: $wbu-margin * 2;
  .img-handler {
    margin-bottom: $wbu-margin * 1.5;
    position: relative;
    .img-sup {
      height: auto;
      width: 100%;
      &::before {
        content: "";
        top: -1;
        height: 100%;
        opacity: 0;
        width: 100%;
        background: $wbu-color-primary;
        pointer-events: none;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        position: absolute;
      }
      &:hover::before {
        opacity: 0.5;
      }
    }
  }
  .pub-info {
    font-size: $wbu-default-font-size;
    // padding: $wbu-margin;
    color: $wbu-color-text;
    text-align: center;
    display: flex;
    justify-content: center;
    .pub-info-cat {
      text-transform: capitalize;
      display: inline;
    }
    p {
      margin: 0;
    }
  }
  .card-text-descriptor {
    font-size: $wbu-h4-font-size;
    font-weight: bold;
    text-align: center;
    margin: $wbu-margin 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 12rem;

    @include media-max(MD) {
      font-size: $wbu-h4-font-size * 0.8;
    }
    @include media-max(SM) {
      font-size: $wbu-h4-font-size;
    }
    a {
      color: black;
      transition: ease 0.5s;
    }
    &:hover {
      a {
        text-decoration: none;

        color: $wbu-color-secondary;
      }
    }
  }
  .role {
    font-size: $wbu-default-font-size;
    color: $wbu-color-text;
    text-align: center;
    a {
      color: $wbu-color-text;
    }
  }
}
