@use "../../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../../atome/typography/default";
@use "../.././variables.scss" as *;
.single-story {
  padding-bottom: $wbu-margin * 1.5;
  .created-date {
    font-size: $wbu-default-font-size;
    color: $wbu-color-text;
    p {
      margin: 0;
    }
  }
  .story-title {
    font-size: $wbu-h4-font-size;
    font-weight: bolder;
    margin: $wbu-margin * 0.8 0;
    color: $wbu-color-secondary;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 12rem;
    @include media-max(XS) {
      font-size: $wbu-h4-font-size * 0.8;
    }
    a {
      color: $wbu-color-secondary;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .story {
    font-size: $wbu-p-font-size;
    color: black;
    font-weight: 500;
    .story-text,
    p {
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      max-height: 12rem;
    }
  }
  .pub-info {
    padding: $wbu-margin * 0.9 0;
    align-items: center;

    .img-profile {
      img {
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }
    }
    .role {
      font-size: $wbu-default-font-size;
      color: $wbu-color-text;
      margin-left: $wbu-margin * 0.5;
      a {
        color: $wbu-color-text;
      }
    }
  }
}
