@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;
.lal-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: $wbu-margin;

  &__title {
    font-size: $wbu-h6-font-size;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    @include ellipseText(2);
    &,
    a {
      color: $wbu-color-secondary;
    }
    @include media-max(SM) {
      font-size: $wbu-h5-font-size;
    }
    @include media-max(XX) {
      font-size: $wbu-h6-font-size;
    }
  }
  &__date {
    font-size: $wbu-h6-font-size;
    color: $wbu-color-text;
    text-transform: capitalize;
  }
}
