@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;
.single-post {
  margin-bottom: $wbu-margin;
  display: flex;
  @include media-min(DD) {
    min-width: 35rem;
  }
  .post-img-handler {
    margin-right: $wbu-margin;
    min-width: 8rem;
    .link {
      position: relative;
      display: inline-block;
      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
      }
      &::before {
        content: "";
        top: 0;
        height: 100%;
        z-index: 1;
        opacity: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $wbu-color-primary;
        position: absolute;
        transition: ease-in-out 0.3s;
        pointer-events: none;
      }
      &:hover::before {
        opacity: 0.5;
      }
    }
  }
  .post-link {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: $wbu-color-secondary;
    a {
      color: $wbu-color-secondary;
      font-weight: bolder;
    }
  }
  .posted-date {
    margin-top: $space_top * 0.2;
    color: $wbu-background;
  }
}
