@use "../../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../../atome/typography/default";
@use "../.././variables.scss" as *;

.metro-service {
  position: relative;
  overflow: hidden;
  margin-bottom: $wbu-margin * 1.5;
  &:hover {
    .metro-service__body {
      transform: translateY(-20%);
      .head-nav {
        opacity: 1;
        max-height: 5rem;
        margin-bottom: 1rem;
      }
      .node-date {
        opacity: 1;
        height: 2rem;
      }
    }
  }
  &__img {
    width: 100%;
    position: relative;
    display: block;
    //height: 100%;

    margin-bottom: $wbu-margin * 1.3;

    img {
      width: 100%;
      min-height: 100%;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    }
  }
  &__body {
    // text-align: center;
    position: absolute;
    bottom: 5%;

    padding: $wbu-margin;
    transition: all ease-in-out 0.5s;
    transform: translateY(0);
    .head-nav {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: start;
      font-size: $wbu-p-font-size * 1.1;
      align-items: center;
      padding: 0;
      list-style: none;
      text-transform: capitalize;
      opacity: 0;
      transition: ease 0.4s;
      max-height: 0;
      overflow: hidden;
      margin: 0;
      li {
        &:first-child {
          padding-left: 0;
          & > a::before {
            content: "";
            width: 2rem;
            height: 2rem;
            //background-color: white;
            position: relative;
            margin-right: 0.8rem;
            display: inline-block;
            left: 0;
            @include wbu-tags(rgba(255, 255, 255, 0.897), 17);
          }
        }
      }
      .link-label {
        color: rgba(255, 255, 255, 0.726);
        position: relative;
        font-weight: bold;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: none;
          opacity: 1;
          color: rgba(255, 255, 255, 0.897);
          border-color: $wbu-color-text;
        }
      }
    }
    .node-date {
      font-size: $wbu-h6-font-size;
      color: rgba(255, 255, 255, 0.726);
      opacity: 0;
      transition: ease 0.3s;
      overflow: hidden;
      height: 0;
      &:hover {
        text-decoration: none;
      }
    }
    .node-title {
      font-size: $wbu-h4-font-size * 1.1;
      font-weight: bold;
      margin-bottom: $wbu-margin * 0.5;
      display: inline-block;
      line-height: 1;
      cursor: pointer;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-transform: capitalize;
      &,
      a {
        color: white;
        transition: ease-in-out 0.3s;
      }
      &:hover,
      &:hover a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
