@use "../../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../../atome/typography/default";
@use "../.././variables.scss" as *;

.pub-info {
  padding: $wbu-margin * 0.9 0;
  align-items: center;
  text-transform: capitalize;
  display: flex;
  .img-profile {
    img {
      border-radius: 100%;
      width: 4rem;
      height: 4rem;
      object-fit: cover;
    }
  }
  .role {
    font-size: $wbu-default-font-size;
    color: $wbu-color-text;
    margin-left: $wbu-margin * 0.5;
    a {
      color: $wbu-color-text;
    }
  }
}
