@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;
.video-single-card {
  padding-bottom: $wbu-margin * 1.8;
  .video-handler {
    margin-bottom: $wbu-margin * 1.5;
    position: relative;
    .video-sup {
      //height: 100%;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        min-height: 100%;
      }
      &::before {
        content: "";
        top: 0;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        background: black;
        position: absolute;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
      }
      &::after {
        content: "";
        width: 5rem;
        height: 5rem;
        position: absolute;
        margin-right: 0.8rem;
        display: inline-block;
        left: 50%;
        top: 50%;
        pointer-events: none;
        opacity: 0.8;
        transform: translate(-50%, -50%);
        @include wbu-circle-play(white, 50);
      }
      &:hover {
        &::before {
          opacity: 0.5;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  .pub-info {
    font-size: $wbu-default-font-size;
    // padding: $wbu-margin;
    color: $wbu-color-text;
    text-align: left;
    text-transform: capitalize;
    p {
      margin: 0;
    }
    a,
    a:hover {
      color: $wbu-color-text;
    }
  }
  .card-text-descriptor {
    font-size: $wbu-h4-font-size;
    font-weight: bold;
    text-align: left;
    margin: $wbu-margin 0 $wbu-margin * 0.7;
    max-height: 12rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: $wbu-color-secondary;
    p {
      margin: 0;
    }
    @include media-max(MD) {
      font-size: $wbu-h4-font-size * 0.8;
    }
    @include media-max(SM) {
      font-size: $wbu-h4-font-size;
    }
    @include media-max(XS) {
      font-size: $wbu-h4-font-size * 0.8;
    }
    a {
      color: $wbu-color-secondary;
      transition: ease 0.5s;
      padding: 0 0.4rem;
    }
    &:hover {
      a {
        text-decoration: underline;
      }
    }
  }
  .role {
    font-size: $wbu-h3-font-size-sm;
    color: black;
    text-align: left;
    text-transform: lowercase;
    a,
    a:hover {
      color: black;
    }
  }
}
