@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../molecule/steph/teaser-img-desc.scss";

.contentener {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: $wbu-margin auto;
  max-width: 95%;
}

#srcoll-hover {
  ///overflow: hidden;
  box-sizing: border-box;
  max-width: 400px;
  // min-height: 300px;
  min-width: 400px;
  position: relative;
  width: 100%;
  @include media-max(DD) {
    max-width: none;
    min-width: 250px;
  }
  &:hover {
    transform: scale(102%);
  }
  .teaser-img-desc__image {
    max-height: 300px;
    // min-height: 400px;
    height: 100%;
    transition: overflow ease-in-out 2s;

    &:hover {
      border: 2px solid;
      & + .teaser-img-desc__dataset {
        display: block;
      }
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    object-position: top center;
    transition: object-position ease-in-out 2s;
  }
  .teaser-img {
    height: 300px;
    @include media-max(XS) {
      height: 250px;
    }
    img {
      height: 300px;
      @include media-max(XS) {
        height: 250px;
      }
    }
  }
  .teaser-img-desc__dataset {
    height: 300px;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 0;
    display: none;
    transition: ease-in-out 0.4s;
    @include media-max(XS) {
      height: 250px;
    }
    img {
      height: 300px;
      @include media-max(XS) {
        height: 250px;
      }
    }
    &:hover {
      display: block;
      right: 0;
      height: 100%;
      z-index: 2;
      opacity: 1;
      img {
        object-position: bottom center;
        height: 100%;
      }
    }
  }
}
