@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;


.hiddey-contact-us {
    background-color: $wbu-color-thirdly;

    .contact-container {
        min-height: 300px;

        .call-to-action {
            .cta-text {
                font-size: 10px;
            }
        }

    }

    .clound-container {

        .cloud {
            img {
                width: 100px;

                @include media-min("tablet") {
                    width: 150px;
                }

                @include media-min('desktop') {
                    width: 260px;
                }
            }

            &:nth-child(1) {
                top: 0;
                left: 30%;

                img {
                    @include media-min('tablet') {
                        width: 100px;
                    }
                }
            }

            &:nth-child(2) {
                left: 0%;
                top: 40%;
            }

            &:nth-child(3) {
                bottom: 1%;
                left: 4%;

                img {
                    @include media-min('tablet') {
                        width: 150px;
                        height: 125px;
                    }
                }
            }

            &:nth-child(4) {
                top: 0;
                right: 7%;
            }

            &:nth-child(5) {
                right: 5%;
                top: 15%;
            }

            &:nth-child(6) {
                bottom: 0;
                right: 27%;
            }

            &:nth-child(7) {
                right: -3%;
                top: 10%;

                img {
                    @include media-min('tablet') {
                        width: 100px;
                    }
                }
            }
        }
    }
}