@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.more-card-item {
  border: 0;
  padding: 0 0 2.5rem;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &:hover .card-body {
    background: $wbu-color-primary;
  }

  &:hover .card-title a {
    color: #fff;
  }

  &:hover .card-text {
    color: #fff;
  }

  &:hover {
    .read-more a,
    p,
    svg {
      color: #fff;
    }
  }
  .mci-image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .card-body {
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem 3rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    position: absolute;
    bottom: 12%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
  }

  .card-title {
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
    font-size: $wbu-h2-font-size-sm;

    a {
      color: #222222;
      text-decoration: none;
    }
  }

  .card-text {
    color: #5e5e5e;
    font-size: $wbu-title-font-size;
    margin-bottom: 1.5rem;
  }

  .read-more {
    display: flex;
    align-items: center;
    color: $wbu-color-text;
    p {
      margin: 0;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;

      transition: 0.4s;
      margin-right: 7px;
    }
    a {
      color: $wbu-color-text;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2rem;
      transition: 0.4s;
      text-decoration: none;
      line-height: 1.5;
      &:hover {
        text-decoration: underline;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
