@use "../../wbu-ressources-clean.scss" as *;
.textcotebg {
  background-attachment: fixed;
  background-position: left bottom !important;
  .entete {
    padding: $wbu-margin * 1.5;
    @include media-min(tablet) {
      padding: $wbu-margin * 3 $wbu-margin * 3;
    }

    .title {
      margin-bottom: $wbu-margin * 1.5;
      text-transform: capitalize;
      line-height: 1.5;
    }
    .description {
      margin-bottom: $wbu-margin * 1.5;
    }
    .call_action {
      line-height: 1;
      i {
        line-height: 0;
        font-size: 4rem;
      }
      .counter {
        font-weight: 900;
      }
    }
  }
}
