@use "../wbu-ressources-clean.scss" as *;
@use "../molecule/default-class.scss" as *;
// Ce fichier permet d'ajuster, les styles.
// Version : Drupal 8/9/10;

::selection {
  background: $wbu-color-primary;
  color: color-yiq($wbu-color-primary);
}
/**
 * Correction drupal/field_formatter
 */
// Les boutons sont crees avec les liens pour cela on doit ajouter les class btn au niveau de la balise A.
// le module "drupal/field_formatter_class": "^1.5",  ne le fait pas. il aajoute les class au niveau des balises parent.
.btn.field a {
  color: inherit;
}
/**
 * Correction drupal/token
 */
// sur le tableau affichant la selection des tokens, on ne peut pas derouler(l'icone est cache)
table.treetable tbody > tr.token-group {
  > td:first-child {
    padding-left: 20px;
  }
}

/**
 * La detection du menu actif se fait via le js.
 * Drupal ajoute une class active
 */
.navbar-nav .nav-link.is-active {
  color: $wbu-color-primary;
}
/**
 * les messages incluent dans placeholder pose un probleme de visibilité.
 */
.placeholder {
  background-color: transparent;
  font-weight: 900;
  padding-inline: 12px;
}

/**
 * Permettre l'affichage de plusieurs boutons de configurations.
 */
.contextual-region {
  .contextual {
    + .contextual {
      right: 24px;
      top: 24px;
      + .contextual {
        right: 36px;
        top: 30px;
      }
    }
  }
}

/**
 * l'icone du bouton dropdown doit suivre la couleur courante.
 */
.dropdown-toggle::after {
  color: inherit;
}

/**
 * On doit pouvoir distinguer les fieldset inclut dans les fieldset.
 * On va ajouter le style de h5, car par defaut on est sur du h4.
 */
fieldset.form-item fieldset.form-item legend {
  @extend .h5;
}

/**
 * On doit ajouter les marges autour des images qui sont ajouter dans l'editeur.
 */
.field--type-text-with-summary,
.field--type-text-long {
  img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    + p,
    + h2,
    + h3,
    + h4,
    + h5 {
      margin-top: $wbu-margin;
    }
  }
  .align-right {
    margin-left: $wbu-margin;
    margin-bottom: $wbu-margin;
  }
  .align-left {
    margin-right: $wbu-margin;
    margin-bottom: $wbu-margin;
  }
  p {
    + h2,
    + h3,
    + h4 {
      margin-top: $wbu-margin;
    }
    + h5,
    + h6 {
      margin-top: $wbu-margin * 0.5;
    }
  }
}

/**
 * blockquote
 */
blockquote {
  padding: 0;
  padding-left: $wbu-margin;
  margin: $wbu-margin;
  margin-right: 0;
  border-left: 2px solid $wbu-color-primary;
  color: darken($wbu-color-primary, 25%);
  font-style: italic;
  font-size: 110%;
  @include media-min(MD) {
    margin: $wbu-margin * 2;
  }
}
