@use "../wbu-ressources-clean.scss" as *;
@use "../variables" as *;
@use "./mail-style-default.scss";

$wbu-margin-email: 30px;
.hbkmail {
  width: 100%;
  background-color: #edebeb;
  display: flex;
  font-size: 14px;
  &--body {
    max-width: 800px;
    width: 100%;
    margin: $wbu-margin-email auto;
    background-color: #fff;
    // box-shadow: 0px 0px 15px 4px #c3c0c0; X Gmail
    border-radius: 10px;
  }
  &--header,
  &--content,
  &--footer {
    padding: $wbu-margin-email;
  }
  &--header {
    background-color: $wbu-color-primary;
    border-radius: 10px 10px 0 0;
    color: color-yiq($wbu-color-primary);
  }
  &--footer {
    background-color: $wbu-background;
    border-radius: 0 0 10px 10px;
    color: color-yiq($wbu-background);
  }
}
