@use "../bouton/btn-radius.scss";
.btn-radius {
  color: #fff;
  background-color: black;
  color: #fff;
  padding: 7px 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background-color: #000;
}
