@use "../bouton/buttons.scss" as button;
.btn-radius {
  color: #fff;
  background-color: black;
  padding: 0.4rem 0.75rem;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 0.8rem;
  border-radius: 3rem;
  border: 1px solid black;
  margin: 2px;
  &:hover {
    color: #fff;
  }
}
