@use "../../wbu-ressources-clean.scss" as *;

.seeMore {
  background: $wbu-color-primary;
  border: 2px solid $wbu-color-primary;
  border-radius: 2px;
  padding: $wbu-margin;
  font-weight: 700;
  line-height: 14px;
  width: fit-content;
  margin-bottom: $wbu-margin;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $wbu-color-primary0, $alpha: 0.5);
  }

  a {
    color: color-yiq($wbu-color-primary);
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  svg {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}