@use "../../wbu-ressources-clean.scss" as *;

.seeMore {
  background: $wbu-color-primary;
  border: 2px solid $wbu-color-primary;
  border-radius: 2px;
  padding: $wbu-margin;
  font-weight: 700;
  line-height: 14px;
  width: fit-content;
  margin-bottom: $wbu-margin;
  //margin-top: $wbu-margin;
  cursor: pointer;

  a {
    &:hover {
      text-decoration: none;
      color: color-yiq($wbu-color-primary);
    }
  }

  svg {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}