@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
.cvSectionExp {
  //background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/cvSectionExp/monfond.webp");
  background-size: cover;
  .cvSectionExp-container {
    padding: 50px 40px;
    .cvSectionExp-infos {
      .title {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid black;
        padding: 20px 0px;
        font-size: 20px;
        font-weight: bold;
      }

      .cvSectionExp-head {
        .cvSectionExp-content1 {
          border-left: 2px solid black;

          h5 {
            font-size: 20px;
            font-weight: bold;
            font-size: 17px;
            font-weight: bold;
            margin-left: 10px;
          }
          text1 {
            margin-left: 10px;
            margin-right: 10px;
            min-height: 83px;
          }
          .bloc1 {
            margin: 2px 0px;
            background-color: rgb(204, 204, 212);
            height: 70px;
            //width: 140px;
            text-align: center;
            color: white;
            justify-content: center;
            align-items: center;
          }
        }
        .cvSectionExp-content2 {
          border-left: 2px solid black;
          h5 {
            font-size: 20px;
            font-weight: bold;
            font-size: 17px;
            font-weight: bold;
            margin-left: 10px;
          }
          text2 {
            margin-left: 10px;
            margin-right: 10px;
            min-height: 83px;
          }
          .bloc2 {
            margin: 2px 0px;
            background-color: rgb(176, 176, 206);
            height: 70px;
            // width: 258px;
            text-align: center;
            color: white;
            justify-content: center;
            align-items: center;
          }
        }
        .cvSectionExp-content3 {
          border-left: 2px solid black;
          h5 {
            font-size: 20px;
            font-weight: bold;
            font-size: 17px;
            font-weight: bold;
            margin-left: 10px;
          }
          text3 {
            margin-left: 10px;
            margin-right: 10px;
            min-height: 83px;
          }
          .bloc3 {
            margin: 2px 0px;
            background-color: rgb(153, 153, 206);
            height: 70px;
            //width: 304px;
            text-align: center;
            color: white;
            justify-content: center;
            align-items: center;
          }
        }
        .cvSectionExp-content4 {
          border-left: 2px solid black;
          h5 {
            font-size: 20px;
            font-weight: bold;
            font-size: 17px;
            font-weight: bold;
            margin-left: 10px;
          }
          text4 {
            margin-left: 10px;
            margin-right: 10px;
            min-height: 83px;
          }
          .bloc4 {
            margin: 2px 0px;
            background-color: rgb(125, 125, 211);
            height: 70px;
            //width: 304px;
            text-align: center;
            color: white;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
