@use "../../../../wbu-ressources-clean.scss" as *;

.cvSectionFooter {
  .infos {
    border: 3px solid $wbu-color-primary;
    border-left: none;
    border-right: none;
    padding: $wbu-margin 0;
  }
}
