@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.cvSectionDia {
  background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/cvSectionDia/monfond.webp");
  background-size: cover;
  height: auto;
  .cvSectionDia-container {
    padding: $wbu-margin * 2.5 $wbu-margin * 1.5;
    .first {
      .port1 {
        border-bottom: 2px solid black;
        padding: $wbu-margin 0px;
        font-weight: bold;
        margin-right: 10%;
      }
      .image {
        background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/cvSectionDia/DiagrammeCirculaire.png");
        background-size: 90%;
        background-repeat: no-repeat;
        //background-size: contain;
        height: 100%;
        margin: $wbu-margin;
      }
    }
    .second {
      .port2 {
        margin-left: 10%;
        border-bottom: 2px solid black;
        padding: $wbu-margin 0px;
        font-weight: bold;
      }
      .formation {
        margin-left: 10%;
        margin-top: $wbu-margin * 1.5;
        margin-bottom: $wbu-margin * 1.5;
        .form1 {
          margin: $wbu-margin * 0.5 0;
          .date1 {
            background-color: rgb(199, 193, 193);
            height: 40%;
          }
          .text1 {
            .title1 {
              .dip {
                font-weight: bold;
              }
              .sch {
                margin-left: $wbu-margin;
              }
            }
            .par1 {
            }
          }
        }
        .form2 {
          margin: $wbu-margin * 0.5 0;
          .date2 {
            background-color: rgb(199, 193, 193);
            height: 40%;
          }
          .text2 {
            .title2 {
              .dip {
                font-weight: bold;
              }
              .sch {
                margin-left: $wbu-margin;
              }
            }
            .par2 {
            }
          }
        }
        .form3 {
          margin: $wbu-margin * 0.5 0;
          .date3 {
            background-color: rgb(199, 193, 193);
            height: 40%;
          }
          .text3 {
            .title3 {
              .dip {
                font-weight: bold;
              }
              .sch {
                margin-left: $wbu-margin;
              }
            }
            .par3 {
            }
          }
        }
      }
    }
  }
}
