@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
.cv-section-profil-hero {
  //background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/cvSectionProfil/monfond copy.webp");
  background-size: cover;
  .hero {
    background-size: cover;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    .cv-section-profil-hero-container {
      // @landry pouquoi on a deux cv-section-profil-hero-container et competence. ( ce sont les memes blocks ).

      max-width: 50%;
      width: 100%;
      .title {
        font-weight: bold;
        border-bottom: 3px solid $wbu-color-primary;
        font-weight: bold;
        margin-bottom: $wbu-margin;
      }
    }
    .competence {
      max-width: 50%;
      width: 100%;
      .subtitle {
        font-weight: bold;
        border-bottom: 3px solid $wbu-color-primary;
        font-weight: bold;
        margin-bottom: $wbu-margin;
      }
    }
  }
}
