@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.cvSectionFooter {
  //background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/cvSectionFooter/monfond.webp");
  background-size: cover;
  padding-left: $wbu-margin * 2.75;
  padding-right: $wbu-margin * 2.75;
  padding-top: 0px;
  padding-bottom: $wbu-margin * 1.5;
  .cvSectionFooter-container {
    padding: $wbu-margin * 2.5 0px;
    border-bottom: 2px solid black;
    h1 {
      border-bottom: 2px solid black;
      padding: $wbu-margin * 0px;
      font-weight: bold;
    }
    .infoS {
      .adress1 {
        margin-top: $wbu-margin;
        align-items: center;
        justify-content: center;
        .svg1 {
          margin: 0 $wbu-margin;
        }
        .contact {
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .adress2 {
        margin-top: $wbu-margin;
        align-items: center;
        justify-content: center;
        .svg2 {
          margin: 0 $wbu-margin;
        }
        .numero {
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .adress3 {
        margin-top: $wbu-margin;
        align-items: center;
        justify-content: center;

        .svg3 {
          margin: 0 $wbu-margin;
        }
        .email {
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .adress4 {
        margin-top: $wbu-margin;
        align-items: center;
        justify-content: center;
        .svg4 {
          margin: 0 $wbu-margin;
        }
        .facebook {
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
