@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.cv-section-hero {
  // Voir pouquoi wbu-atomique-theme ne charge pas l'image or theme-builder charge.
  // // background-image: url("/siteweb/AppVuejs/theme-builder/src/evenex2/cvSectionHero/images/monfond.webp");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  // @landry pas besoin de definir la taille.
  // height: 400px;

  .cv-Section-hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .cv-section-hero-information {
      padding: $wbu-margin * 2;
      text-align: end;
      .information-name {
        // text-align: center;
        // color: black; @landry, utilise les variables pour les couleurs.
        // il faut tenir compte de la possibilite qu'au niveau de la construction des champs (Drupal) il ya plusieurs champs dans cette espace.
        > .block-layout-builder + .block-layout-builder {
          padding-left: $wbu-margin * 0.5;
        }
      }
      // .information-post {
      //   //text-align: center;
      //   // color: black; @landry, utilise les variables pour les couleurs.
      // }
    }
    .information-image {
      img {
        width: 250px;
        height: 250px;
        background-size: 100%;
        border-radius: 50%;
        margin-top: $wbu-margin * 2.5;
        border: 3px solid $wbu-background;
      }
    }
  }
}
