@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.section-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  min-height: 600px;
  z-index: 1;
  @include media-min(DD) {
    min-height: 100vh;
  }

  .first-image:not(.layout-builder__region) {
    display: block;
    position: absolute;
    right: $wbu-margin;
    top: 0px;
    right: 0;
    bottom: auto;
    max-width: 25%;
    @include media-min(MD) {
      max-width: 350px;
    }
    @include media-min(DD) {
      max-width: 500px;
    }
    opacity: 0.4;
  }

  .second-image:not(.layout-builder__region) {
    display: flex;
    position: relative;
    justify-content: flex-start;
    top: auto;
    position: absolute;
    bottom: $wbu-margin;
    left: 0;
    z-index: 0;
    bottom: 0;
    max-width: 25%;
    @include media-min(MD) {
      max-width: 350px;
    }
    @include media-min(DD) {
      max-width: 500px;
    }
    opacity: 0.4;
  }
  .hero-container {
    .elementor-image:not(.layout-builder__region) {
      position: absolute;
      display: flex;
      justify-content: center;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 2000px;
      width: auto;
      opacity: 0.2;
      -webkit-clip-path: polygon(0 0, 88% 0, 100% 100%, 7% 100%);
      clip-path: polygon(0 0, 88% 0, 100% 100%, 7% 100%);
      border-radius: 50px;
      overflow: hidden;
      img {
        object-fit: cover;
        max-width: 2500px;
      }
    }

    .sous-section-primaire {
      margin-top: $wbu-margin * 4;
      padding: 0 $wbu-margin;
      text-align: center;
      padding: 0 $wbu-margin;

      * {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .location {
        margin-bottom: $wbu-margin * 2.5;
        svg {
          width: 25px;
          height: 25px;
          fill: white;
        }

        .place {
          display: flex;
          margin: 0;
        }
      }

      .subtitle {
        margin: 0;
      }

      .title {
        line-height: 1;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px color-yiq($wbu-color-primary);
        margin: 0;
        margin-bottom: $wbu-margin * 0.7;
        text-transform: uppercase;
      }

      .details {
        margin-bottom: $wbu-margin * 2.5;
      }

      .date {
        margin: 0px 0px $wbu-margin * 2.5 0px;
        text-transform: uppercase;
      }
    }

    .sous-section-secondaire {
      * {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .button {
        margin-bottom: $wbu-margin * 2.75;
        margin-top: 50px;
        text-align: center;
        padding: 19px 34px 20px 34px;
        font-weight: 500;
        background-color: $wbu-color-primary;
        background-image: linear-gradient(
          90deg,
          $wbu-color-primary 0%,
          $wbu-color-secondary 100%
        );
        border-style: none;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 15px 25px 0px rgba($wbu-color-secondary, 0.3);
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include WBUtransition();
        a {
          color: color-yiq($wbu-color-primary);
          text-decoration: none;
          &::before {
            position: absolute;
            inset: 0;
            content: "";
          }
        }

        svg {
          width: 2rem;
          height: 2rem;
          fill: white;
          margin-left: 20px;
        }

        &:hover {
          background-color: $wbu-color-secondary;
          background-image: linear-gradient(
            90deg,
            $wbu-color-secondary 10%,
            $wbu-color-primary 90%
          );
          a {
            color: color-yiq($wbu-color-secondary);
          }
        }
      }

      .mouse {
        a {
          svg {
            &:hover {
              background-color: #0350d2;
            }
          }
        }
      }

      .arrow {
        animation: float 3s ease-in infinite;

        @keyframes float {
          0% {
            transform: translatey(0px);
          }

          50% {
            transform: translatey(10px);
          }

          100% {
            transform: translatey(0px);
          }
        }

        svg {
          width: 20px;
          height: 20px;
          fill: white;
        }
      }
    }
  }
}
