@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@use "./teasers/evenex-countdown-banner.scss";

.evenex-countdown-section {
  .ecs-title {
    font-weight: 700;
  }
  .ecs-description {
    padding-bottom: $wbu-margin * 2;
    line-height: 1.8;
  }
}
