@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.evenex-article-teaser {
    box-shadow: 9.899px 9.899px 30px 0 rgb(0 0 0 / 10%);
    margin-bottom: 3rem;
    &:hover {
        img {
            transform: rotate(2deg) scale(1.1);
        }

        h5 {
            color: $wbu-color-primary;
        }
    }

    ul.links.field__items {
        list-style: none;
    }

    &__image {
        padding: 0;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        margin: 0 0 15px;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            transition: all .4s ease;
        }
    }

    &__title {
        transition: all .4s ease;
        font-weight: 600;
        color: black;
    }

    .card-body {
        padding: 20px 40px 40px;
    }

    .card-bottom {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0rem;
    }

    &__category {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -.3px;
        color: rgba(0,0,0,.5);

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__link {
        border-radius: 50%;
        line-height: 0;
        border-style: solid;
        border-color: $wbu-color-primary;
        border-width: 2px;
        padding: 1rem;
        position: relative;
        a {
            position: absolute;
            inset: 0;
        }
        svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: $wbu-color-primary;
            display: inline-block;
        }

        div {
            display: inline-block;
        }

        &:hover {
            color: #fff;
            background-color: $wbu-color-primary;
            border-color: $wbu-color-primary;
            svg {
                fill: white;
            }
        }
    }
}