@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.evenex-testimonial-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 110px 0px 100px 0px;
    position: relative;

    &__overlay {
        background-color: rgba(40, 52, 106, 0.57);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    }
}