@use "../../../../variables" as *;
@use "../../../../wbu-ressources-clean.scss" as *;

.evenex-location {

    @include media-min(XS) {

        .col-md-4,
        .col-md-8 {
            padding-right: 0px;
            padding-left: 0px;
        }
    }

    @include media-min(MD) {

        .col-md-4,
        .col-md-8 {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    .wrapper {
        position: relative;
        background-color: #1016D7;
        margin: 0px 0px 30px 0px;
        padding: 26px 40px 47px 40px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;

        @include media-min(XS) {
            border-radius: 8px 0px 0px 8px;
            margin: 0px 0px 0px 0px;
        }

        @include media-min(MD) {
            border-radius: 8px;
            &::after {
                position: absolute;
                content: '';
                width: 30px;
                height: 30px;
                background: #1016D7;
                top: 50%;
                left: 100%;
                z-index: 99;
                clip-path: polygon(0 0, 100% 0, 0 100%);
                transform: translate(-70%, -50%) rotate(135deg);
            }
        }
    }

    .overlay {
        background-image: url(https://demo.xpeedstudio.com/evenex/meetup/wp-content/uploads/sites/3/2020/01/contact-page-map-bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.14;
        mix-blend-mode: luminosity;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    &__title {
        position: relative;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 1rem;

        &::before {
            position: absolute;
            width: 8px;
            height: 8px;
            background: white;
            content: '';
            left: -20px;
            border-radius: 50%;
        }
    }

    &__text {
        font-family: "Rubik", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #FFFFFF;
        padding: 8px 0px 0px 0px;
        display: block;
    }

    &__inner {
        margin: 20px 0px 20px 0px;
        display: flex;
        flex-direction: column;

        a {
            position: relative;
            color: #FFFFFF;
            font-weight: 500;
            line-height: 1rem;
            text-decoration: underline;

            &::before {
                position: absolute;
                width: 8px;
                height: 8px;
                background: white;
                content: '';
                left: -20px;
                border-radius: 50%;
            }
        }

    }

    &__map {
        max-height: 100%;

        @include media-min(XS) {
            iframe {
                border-radius: 0px 8px 8px 0px;
            }
        }

        @include media-min(MD) {
            iframe {
                border-radius: 8px;
            }
            p {
                height: 368px;
            }
        }
    }
}