@use "../../../../wbu-ressources-clean.scss" as *;

.evenex-about-venue {
    display: flex;

    @include media-max(DD) {
        flex-wrap: wrap;
    }

    &__map {
        width: 100%;

        @include media-max(DD) {
            height: 400px;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
        p {
            height: 100%;
        }
        div {
            height: 92%;
        }
    }
}