@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.expertise-section-handler{
    margin-top: $space_top;
    width: calc(960px + 480px);
    .text-descs{
        justify-content: space-between;
        align-items: center;
        .info{
            margin-right: $wbu-margin;
        }
        .subtitle{
            font-weight: $wbu-title-font-weight;
            font-size: $wbu-title-font-size;
            text-transform: uppercase;
            margin-bottom: $wbu-margin * 2;
            &::before{
                content: '';
                width: 2rem;
                height: 0.2rem;
                display: inline-block;
                margin-right: $wbu-margin * 0.2;
                vertical-align: middle;
                background: $wbu-background;
                box-sizing: inherit;
            }
        }
        .brief-desc{
            font-weight: $wbu-title-font-weight;
            font-size: $wbu-h1-font-size;
            margin-bottom: $wbu-margin * 1.5;
        }
        .content{
            line-height: 1.45;
            @include bp_h3(); 
        
        }
            
    }
    ._img-handler{
        display: flex;
        justify-content: center;
    }
    .lutin{
        height: 65vh;
    }
}