@use "../../../../../_variables.scss" as *;

.testimony-section-handler{
    margin-top: $space_top;
    padding-top: $space_inner_top;
    padding-bottom: $space-bottom;
    background: $wbu-background;
    color: $wbu-border-color;
    //overflow: hidden;

    .subtitle{
        font-weight: $wbu-title-font-weight;
        font-size: $wbu-title-font-size;
        text-transform: uppercase;
        margin-bottom: $wbu-margin * 2;
        &::before{
            content: '';
            width: 2rem;
            height: 0.2rem;
            display: inline-block;
            margin-right: $wbu-margin * 0.2;
            vertical-align: middle;
            background: $wbu-border-color;
            box-sizing: inherit;
        }
    }
    .content{
        font-size: $wbu-titre-big;
        font-weight: $wbu-title-font-weight;
        margin-left: $wbu-margin ;
    }
    .swipe-handler{
        display: flex;
        justify-content: center;
    }
    .swipers-wrapper{
        height: 335px;
        width: 795px;
        display: flex;
        //flex-direction: column;
        overflow: hidden;
        //justify-content: space-between;
        left: $wbu-margin;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            min-height: 320px;
            width: 10px;
            border-radius: 10px;
            background: $wbu-color-primary;
        }
    }
  .element{
    display: flex;
    justify-content: space-evenly;
    .arrow{
        cursor: pointer;
        position: relative;
        margin: $space_top;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: $wbu-color-primary;
    }
    .slide-handler{
        width: 100%;
        position: absolute;
        transition: ease-in-out 2s;
        margin-left: $wbu-margin ;
        padding-bottom: $wbu-margin *2 ;
        line-height: 4rem;
    }
    .swiper-slide{
        display: inline;
        width: 91%;
        height: 378px;
        
        .testimony{
            font-size: $wbu-h4-font-size;
            font-weight: $wbu-title-font-weight;
        }
        .author{
            margin-top: $space_top * 0.5;
            font-weight: bolder;
        }
        .role{
            margin-bottom: $space_top  ;
        }
    }
  }
}
















/*

.slider-handler{
        
        background: teal;
        .slide{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: #000;
        }
        .box-view{
            width: 578px;
            display: block;
            overflow: hidden;
            background: purple;
            display: flex;
            justify-content: center;
        }
    }
    */