@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;

.afc-month {
  display: flex;
  font-size: $wbu-default-font-size*1.1;
  gap: 1.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(184, 184, 184, 0.589);
  a {
    color: $wbu-color-secondary;
    padding: 1.5rem 0;
    text-transform: capitalize;
  }
  span {
    color: black;
  }
}
