@use "../../wbu-ressources-clean.scss" as *;

.main-menu {
    position: sticky;
    z-index: 99;
    width: 100%;
    padding-inline: 15px;
    background: $light;
    top: 0;

    .menu-wrapper {
        position: relative;
        // max-width: 1300px;
        padding: 0px 30px;
        min-height: 70px;
        max-height: 250px;
        line-height: 70px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            content: "";
            position: absolute;
            left: -100%;
            bottom: 0;
            right: -100%;
            height: 1px;
            background-color: $gray-600;
        }

        .site-information {
            gap: 10px;
            text-align: center;

            .logo a {
                color: $dark;
                font-size: 30px;
                font-weight: 600;
                text-decoration: none;

                img {
                    max-height: 100px;
                }
            }

            .site-name {
                line-height: initial;
                text-decoration: none;
                font-weight: bold;
                color: $dark;
                transition: color .3s;

                &:hover {
                    color: $wbu-color-primary;
                }
            }
        }

        .nav-links {
            display: inline-flex;
            position: relative;
            flex-wrap: wrap;

            .menu-element,
            li {
                list-style: none;
                padding: 0;
                overflow: hidden;

                label {

                    &::before,
                    &::after {
                        content: none;
                    }
                }

                a {
                    color: $dark;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 9px 15px;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .3s ease;
                        background-color: $wbu-color-primary;
                        left: -100%;
                        right: 100%;
                        height: 2px;
                    }



                    &:hover {

                        &::before {
                            opacity: 1;
                            visibility: visible;
                            left: 0;
                            right: 0;
                        }
                    }
                }


                &:hover {

                    .drop-menu,
                    .mega-box {
                        max-height: 1000%;
                    }
                }
            }

            .mobile-item {
                display: none;
            }

            .drop-menu {
                position: absolute;
                background: $light;
                width: 180px;
                line-height: 45px;
                padding: 0 10px;
                overflow: hidden;
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                max-height: 0;
                transition: max-height .5s ease-in;

                li a {
                    width: 100%;
                    display: block;
                    padding: 0;
                    font-weight: 400;
                    border-radius: 0px;
                }
            }
        }

        .menu-hamburger {

            width: 20px;
            aspect-ratio: 1;
            font-size: 20px;
            cursor: pointer;
            display: none;

            span,
            &::before,
            &::after {
                display: block;
                content: "";
                height: 3px;
                background-color: $dark;
                left: 0;
                right: 0;
                position: absolute;
            }

            &::before {
                top: 0;
            }

            &::after {
                top: 100%;
                transform: translateY(-100%);
            }

            span {
                top: 50%;
                transform: translateY(-50%);

            }

            &.close-btn {
                position: absolute;
                right: 30px;
                top: 10px;

                &::after,
                &::before {
                    top: 50%;
                }

                &::after {
                    transform: rotate(-45deg);
                }

                &::before {
                    transform: rotate(45deg);
                }
            }
        }

        @media screen and (max-width: 970px) {

            /* custom scroll bar */
            ::-webkit-scrollbar {
                width: 10px;
            }

            ::-webkit-scrollbar-track {
                background: #242526;
            }

            ::-webkit-scrollbar-thumb {
                background: #3a3b3c;
            }

            #menu-btn:checked~.nav-links {
                left: 0%;
            }

            #menu-btn:checked~.btn.menu-btn {
                display: none;
            }

            #close-btn:checked~.btn.menu-btn {
                display: block;
            }

            .sub-checkbox:checked+.menu-hamburger {
                display: none;
            }

            .showDrop:checked~.drop-menu,
            #showMega:checked~.mega-box {
                max-height: 100%;
            }

            .menu-hamburger {
                display: block;
            }

            .nav-links {
                position: fixed;
                height: 100vh;
                width: 100%;
                max-width: 350px;
                top: 0;
                left: -100%;
                background: $light;
                display: block;
                padding: 50px 10px;
                line-height: 50px;
                overflow-y: auto;
                box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
                transition: all 0.3s ease;
                z-index: 2;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 1px;
                    background-color: $gray-600;
                }

                li {
                    margin: 15px 10px;

                    a {
                        // padding: 0 20px;
                        display: block;
                        font-size: 20px;
                    }
                }

                .drop-menu {
                    position: static;
                    opacity: 1;
                    top: 65px;
                    visibility: visible;
                    padding-left: 20px;
                    width: 100%;
                    max-height: 0px;
                    overflow: hidden;
                    box-shadow: none;
                    transition: all 0.3s ease;

                    li {
                        margin: 0;

                        a {
                            border-radius: 5px;
                            font-size: 20px;
                        }
                    }
                }

                .desktop-item {
                    display: none;
                }

                .mobile-item {
                    display: block;
                    color: $dark;
                    font-size: 20px;
                    font-weight: 500;
                    padding-left: 15px;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                }

                .mobile-item:hover {
                    background: $light;
                }
            }
        }

        input {
            display: none;
        }
    }
}