@use "../../wbu-ressources-clean.scss" as *;
@use "../../atome/typography/default";
@use "../../bootstrap-grid.scss";
@use "../../variables";
@use "../sections/theme_builder/mitor/atome/mitor-card__body.scss";
@use "../sections/theme_builder/mitor/atome/mitor-btn.scss";
@use "../sections/theme_builder/mitor/atome/mitor-form-inline.scss";
@import "../../../node_modules/swiper/swiper.scss";

.cforge-slider-container {
    .mitor-hero-2 {
        width: 100%;
        padding: $space_bottom * 1.2 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 101%;
            background-color: $wbu-background;
            opacity: 0.9;
            pointer-events: none;
        }

        &>img {
            position: absolute;
            top: 1px;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        & .cover-hero-image img {
            position: absolute;
            top: 1px;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .mitor-hero-content {
            z-index: 2;
            width: 100%;
        }

        .mitor-card__body {
            text-align: center;
            margin: 0 auto;
            background-color: rgba(38, 36, 36, 0.357);

            .mc-title {
                color: white;
                // @include bp_h2();
            }

            .mc-description {
                color: $wbu-color-boder;

                li::before {
                    @include wbu__svg-dd-puce-check(#fff, 30);
                }
            }

            .mitor-btn {
                margin-top: 6.5rem;
            }
        }

        &--text-left {
            min-height: 45vh;

            .hole {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 0;
                opacity: 0.9;

                svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    max-width: 70%;
                    bottom: 0;
                    right: 0;
                    fill: $wbu-color-primary;

                    @include media-max(MD) {
                        display: none;
                    }
                }
            }

            .svg,
            .svg-2,
            .svg-3 {
                display: none;
            }

            &::before {
                opacity: 0.07;
            }

            .mitor-card__body {
                margin-left: 0;
                text-align: left;

                .mc-title {
                    color: color-yiq($wbu-color-primary);
                    margin-left: 0;

                    @include media-min(DD) {
                        width: 55%;
                    }
                }
            }
        }
    }
}