@use "../../../../../wbu-ressources-clean.scss" as *;
 
 
.sd-hero  {
  height: 75vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $wbu-background;
    opacity: 0.5;
  }
}
 
