@use "../../../../../wbu-ressources-clean.scss" as *;

.hbk-mega-menu.style-merseille {
  $contaiver_width: 600px;
  display: flex;
  justify-content: space-between;
  // padding: 0 $wbu-margin * 0.75;
  // @include media-min(DD) {
  //   padding: 0 $wbu-margin * 1.5;
  // }
  .block-logo {
    padding: $wbu-margin * 0.5 0;
    img {
      max-width: 150px;
      max-height: 70px;
      @include media-min(SM) {
        max-width: 220px;
        max-height: 110px;
      }
      @include WBUtransition($temps: 0.2s);
    }
  }
  .hbk-mega-menu--burgers {
    background: transparent;
    margin-bottom: 0;
    svg {
      stroke: $wbu-background;
      path {
        stroke: $wbu-background;
      }
    }
    .burger__button {
      @include media-min(DD) {
        display: none;
      }
    }
    .burger__right {
      .hbk--icon-search {
        cursor: pointer;
      }
    }
    .block-form-search {
      position: fixed;
      top: 13%;
      left: auto;
      right: 0;
      //  transform: translateX(-50%);
      z-index: 1001;
      //width: calc(#{$contaiver_width} - 30px);
      width: $contaiver_width;
      max-width: 100%;
      padding: $wbu-margin;
      opacity: 0;
      @include WBUtransition($temps: 0.6s);
      transition-duration: 0.2s;
      margin-top: calc(-100% + -150px);
      form .form-actions {
        align-self: center;
      }
      .form-type-search {
        flex-grow: 2;
      }
      .blm-submit {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        .hbk--icon-search {
          fill: color-yiq($wbu-background);
          width: 4rem;
          height: 4rem;
        }
      }
      .blm-key-search {
        font-style: italic;
        color: color-yiq($wbu-background);
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 2px solid color-yiq($wbu-background);
        padding-left: 0;
        width: 100%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: rgba(color-yiq($wbu-background), 0.6);
        }
      }
    }
  }
  .hbk-mega-menu--items {
    width: 100%;
    max-width: 500px;
    @include media-min(DD) {
      max-width: 1200px;
      width: calc(100% - $wbu-margin * 2);
      //margin-inline: auto;
    }
    > .item {
      flex: auto;
      @include media-min(DD) {
        flex-wrap: unset;
        align-items: center;
        > .svg-arrow {
          position: relative;
          margin: 0;
          margin-left: -0.75rem;
          margin-right: $wbu-margin * 0.5;
          margin-bottom: $wbu-margin;
        }
        > a::before {
          position: absolute;
          height: 4px;
          top: auto;
          bottom: 0;
          left: 0;
          right: auto;
          background-color: $wbu-color-primary;
          width: 0;
          @include WBUtransition($temps: 0.15s);
          content: "";
        }

        &.is-active,
        &.open,
        &:hover {
          > a::before {
            width: 100%;
          }
          > .item-link {
            color: $wbu-color-primary;
          }
          > .svg-arrow {
            fill: $wbu-color-primary;
          }
        }
        &.sub-alt {
          .hbk-mega-menu--items__sub {
            &::before {
              position: absolute;
              height: 4px;
              top: -4px;
              bottom: auto;
              left: 0;
              right: auto;
              background-color: $wbu-color-primary;
              width: 0;
              @include WBUtransition($temps: 0.3s);
              content: "";
            }
          }
        }
        &.sub-alt:hover {
          .hbk-mega-menu--items__sub {
            &::before {
              width: 100%;
            }
          }
          > a::before {
            display: none;
          }
        }
      }
      > .item-link {
        font-weight: bold;
        flex-grow: 0;
        padding-inline: $wbu-margin * 1;
        @include media-min(DD) {
          //
        }
      }
    }
  }
  .overlay-search {
    z-index: 1000;
    cursor: default;
    background: transparent;
    opacity: 0;
    display: block;
    margin: 0;
    transition-duration: 0.4s;
    height: 100vh;
    width: $contaiver_width;
    max-width: 100%;
    right: 0;
    left: auto;
    transform: translateX(100%);
    .svg-close {
      width: $wbu-margin * 1.5;
      height: $wbu-margin * 1.5;
      position: absolute;
      top: $wbu-margin * 4;
      right: $wbu-margin;
      visibility: hidden;
      opacity: 0;
      @include WBUtransition($temps: 0.15s);
      // @include media-min(DD) {
      //   top: $wbu-margin * 5;
      //   right: $wbu-margin * 4;
      // }
      left: auto;
      cursor: pointer;
      path {
        fill: color-yiq($wbu-background) !important;
        stroke: color-yiq($wbu-background) !important;
      }
    }
  }
  &.open-search {
    .overlay-search {
      z-index: 1000;
      display: block;
      background: $wbu-background;
      opacity: 1;
      transform: translateX(0);
      .svg-close {
        visibility: visible;
        opacity: 1;
        transition-duration: 1s;
      }
    }
    .block-form-search {
      opacity: 01;
      transition-duration: 0.3s;
      margin-top: 0;
    }
  }
}
