@use "../../../../../wbu-ressources-clean.scss" as *;
.hbk-mega-menu.style-merseille {
  display: flex;
  justify-content: space-between;
  padding: $wbu-margin;
  .block-logo {
    img {
      max-width: 220px;
      max-height: 70px;
    }
  }
  .hbk-mega-menu--burgers {
    background: transparent;
    margin-bottom: 0;
    svg {
      stroke: $wbu-background;
      path {
        stroke: $wbu-background;
      }
    }
    .burger__button {
      @include media-min(DD) {
        display: none;
      }
    }
    .burger__right {
      .hbk--icon-search {
        cursor: pointer;
      }
    }
    .block-form-search {
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1001;
      width: 100%;
      max-width: 600px;
      padding: $wbu-margin;
      opacity: 0;
      @include WBUtransition($temps: 0.6s);
      transition-duration: 0.2s;
      margin-top: calc(-100% + -150px);
      form .form-actions {
        align-self: center;
      }
      .form-type-search {
        flex-grow: 2;
      }
      .blm-submit {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        .hbk--icon-search {
          fill: color-yiq($wbu-background);
          width: 4rem;
          height: 4rem;
        }
      }
      .blm-key-search {
        font-style: italic;
        color: color-yiq($wbu-background);
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 2px solid color-yiq($wbu-background);
        padding-left: 0;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: rgba(color-yiq($wbu-background), 0.6);
        }
      }
    }
  }
  .hbk-mega-menu--items {
    width: 100%;
    max-width: 500px;
    @include media-min(DD) {
      max-width: 1200px;
      width: calc(100% - $wbu-margin * 2);
      margin-inline: auto;
    }
    > .item {
      flex: auto;
      @include media-min(DD) {
        flex-wrap: unset;
        align-items: center;
        > .svg-arrow {
          position: relative;
          margin: 0;
          margin-bottom: $wbu-margin;
        }
        &::before {
          position: absolute;
          height: 4px;
          top: auto;
          bottom: 0;
          left: 0;
          right: auto;
          background-color: $wbu-color-primary;
          width: 0;
          @include WBUtransition($temps: 0.15s);
          content: "";
        }

        &.is-active,
        &.open,
        &:hover {
          &::before {
            width: 100%;
          }
          > .item-link {
            color: $wbu-color-primary;
          }
          > .svg-arrow {
            fill: $wbu-color-primary;
          }
        }
      }
      > .item-link {
        font-weight: bold;
        flex-grow: 0;
        padding-inline: $wbu-margin * 1;
        @include media-min(DD) {
          //
        }
      }
    }
    &__sub {
      //box-shadow: none;
    }
  }
  .overlay-search {
    z-index: 1000;
    cursor: default;
    background: transparent;
    opacity: 0;
    display: block;
    margin: 0;
    transition-duration: 0.4s;
    height: 0;
    .svg-close {
      width: $wbu-margin * 1.5;
      height: $wbu-margin * 1.5;
      position: absolute;
      top: $wbu-margin * 2;
      right: $wbu-margin * 1.5;
      visibility: hidden;
      opacity: 0;
      @include WBUtransition($temps: 0.15s);
      @include media-min(DD) {
        top: $wbu-margin * 5;
        right: $wbu-margin * 4;
      }
      left: auto;
      cursor: pointer;
      path {
        fill: color-yiq($wbu-background) !important;
        stroke: color-yiq($wbu-background) !important;
      }
    }
  }
  &.open-search {
    .overlay-search {
      z-index: 1000;
      display: block;
      background: $wbu-background;
      opacity: 1;
      height: 100vh;
      .svg-close {
        visibility: visible;
        opacity: 1;
        transition-duration: 1s;
      }
    }
    .block-form-search {
      opacity: 01;
      transition-duration: 0.3s;
      margin-top: 0;
    }
  }
}
