/** 
 * Style for SVG
 */
@use "../../wbu-ressources-clean.scss" as *;
@use "../../variables";

.svg-fill {
  &--light {
    fill: #fff;
    svg {
      fill: #fff;
    }
  }
  &--wbu-color-primary {
    fill: $wbu-color-primary;
    svg {
      fill: $wbu-color-primary;
    }
  }
  &--wbu-background {
    fill: $wbu-background;
    svg {
      fill: $wbu-background;
    }
  }
}
