/** 
 * Style for SVG
 */
@use "../../wbu-ressources-clean.scss" as *;
@use "../../variables";

.svg-fill {
  &--light {
    fill: #fff;
    svg {
      fill: #fff;
    }
  }
  &--wbu-color-primary {
    fill: $wbu-color-primary;
    svg {
      fill: $wbu-color-primary;
    }
  }
  &--wbu-background {
    fill: $wbu-background;
    svg {
      fill: $wbu-background;
    }
  }
}
.wbu-angle-up {
  // position: relative;
  transition: ease 0.3s;
  &::after {
    content: "";
    position: absolute;
    height: 2.2rem;
    width: 2.3rem;
    transition: ease 0.3s;
    transform: translate(-50%, -50%);
    @include wbu__angle-up(white, 25);
  }
}
.wbu-angle-right {
  // position: relative;
  //transition: ease 0.3s;
  &::after {
    content: "";
    position: absolute;
    height: 2.2rem;
    width: 2.3rem;
    transition: transform ease 0.3s, background-image ease 0.3s;
    transform: translate(-50%, -50%);
    @include wbu__angle-right(white, 25);
    background-position: center;
  }
}
