@use "../../wbu-ressources-clean.scss" as *;
// https://sass-lang.com/documentation/modules/color/
@use "sass:color" as color;
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.formatage-models-footer-gp {
  background: $wbu-background;
  padding: 0 0 $wbu-margin * 1.5 0;
  color: color-yiq($wbu-background);
  .logo {
    margin-bottom: $wbu-margin;
    img {
      max-width: 200px;
      max-height: 100px;
    }
  }
  .footer-top {
    background: lighten($wbu-background, 3%);
    border-bottom: 2px solid color.adjust($wbu-background, $red: 35%, $green: 35%, $blue: 35%);
    padding: $wbu-margin * 3 0 $wbu-margin * 1.5 0;
  }
  .footer-top .footer-info {
    margin-bottom: $wbu-margin * 1.5;
    .link-titre {
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  // .links {
  //   .nav-item .nav-link {
  //     padding-left: 0;
  //     padding-right: 0;
  //   }
  // }
  // menu
  .nav-link {
    color: color-yiq($wbu-background);
  }
  // newsletter
  .footer-top .footer-newsletter form {
    margin-top: 30px;
    position: relative;
    border-radius: $wbu-margin * 0.3;
    display: flex;
  }
  .footer-top .footer-newsletter form input[type="email"] {
    border-radius: $wbu-margin * 0.3 0 0 $wbu-margin * 0.3;
  }
  .footer-top .footer-newsletter form input[type="submit"] {
    border-radius: 0 $wbu-margin * 0.3 $wbu-margin * 0.3 0;
  }

  .copyright {
    text-align: center;
    padding-top: 30px;
  }
  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
}
