@use "../../wbu-ressources-clean.scss" as *;

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.header-section-rc-web {
  padding: $space_bottom * 1.2 0;
  background: $wbu-background;
  @include media-max(SM) {
    padding: 100px 60px;
  }
  @include media-max(XX) {
    padding: 80px 20px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    @include media-max(SM) {
      min-height: 260px;
    }
    &__title {
      font-size: $wbu-default-font-size * 4;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: $space_bottom * 0.45;
      @include media-max(SM) {
        font-size: $wbu-default-font-size * 2;
      }
      span {
        color: $wbu-color-primary;
      }
    }
    &__desc {
      font-size: $wbu-default-font-size * 1.3;
      color: white;
      margin-bottom: 5px;
      max-width: 650px;
      @include media-max(SM) {
        font-size: $wbu-default-font-size;
        max-width: 800px;
      }
    }
  }
}
