@use "../../wbu-ressources-clean.scss" as *;

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section-rc-web {
  padding: $space_top * 1.6 0 $space_bottom * 1.2 0;
  background: rgb(15, 10, 10);
  @include media-max(SM) {
    padding: 100px 60px;
  }
  @include media-max(XX) {
    padding: 80px 20px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 150px;
    @include media-max(SM) {
      min-height: 260px;
    }
    &__title {
      font-size: $wbu-default-font-size * 3.5;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      margin-bottom: $space_top;
      @include media-max(SM) {
        font-size: $wbu-default-font-size * 2;
      }
      span {
        color: #c69c6d;
      }
      &::before {
        content: "";
        width: 60px;
        left: 0;
        height: 2px;
        background-color: $wbu-color-primary;
        bottom: -$space_top * 0.5;
        display: block;
        position: absolute;
      }
    }
    &__desc {
      font-size: 16px;
      color: white;
      margin-bottom: 5px;
      max-width: 650px;
      @include media-max(SM) {
        font-size: $wbu-default-font-size;
        max-width: 800px;
      }
    }
  }
}
