@use "../../wbu-ressources-clean.scss" as *;
.titre-rc-web {
  .col-el {
    margin: $wbu-margin * 0.5 0;
    padding: $wbu-margin;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(158, 157, 156, 0.151);
    font-size: $wbu-default-font-size * 1.7;
    font-weight: 500;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: darken($wbu-color-text, 25%);
  }

  .col-el::after,
  .col-el::before {
    content: "";
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 2.5;
    transition: all 400ms;
    left: 110%;
    top: 0;
    height: 100%;
    line-height: 1;
  }
  .col-el::after {
    background-image: url("https://cdn-icons-png.flaticon.com/128/318/318476.png");
    z-index: 10;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
  }

  .col-el::before {
    background: #c69c6d;
    text-align: center;
  }

  .col-el:hover {
    &::before,
    &::after {
      left: 0px;
    }
  }
}
