@use "../../../wbu-ressources-clean.scss" as *;
@use "../../../swipper/swiper-default.scss";

$with_thumbs_slider: 100px;
.galleries-main-thumbs {
  // main slider
  .galleries-main {
    position: relative;
    margin-bottom: $wbu-margin;
    @include media-min(DD) {
      order: 1;
    }
    &::after {
      content: "";
      padding: 0;
      height: 300px;
      width: 100%;
      display: block;
      @include media-min(S_575) {
        height: 380px;
      }
      @include media-min(S_768) {
        height: 450px;
      }
      @include media-min(DD) {
        height: 600px;
        // width: calc(100% - $with_thumbs_slider);
      }
    }
    .swiper-wrapper {
      position: absolute;
    }
    .swiper-slide {
      background-color: #fff;
    }
  }
  // thumb slider
  .galleries-thumb {
    .swiper-wrapper {
      max-height: 500px;
      height: auto;
    }
    .swiper-slide {
      border: 2px solid transparent;
      position: relative;
      padding: $wbu-margin * 0.4;
      opacity: 0.7;
      background-color: #fff;
      @include WBUtransition();
      &-thumb-active {
        opacity: 1;
        border-color: $wbu-color-primary;
      }
    }
    @include media-min(DD) {
      width: $with_thumbs_slider;
      &::after {
        content: "";
        padding: 0;
        height: 600px;
        width: 100%;
        display: block;
      }
      .swiper-wrapper {
        position: absolute;
      }
    }
  }
}
