@use "../../../wbu-ressources-clean.scss" as *;
@use "../../../swipper/swiper-default.scss";

$with_thumbs_slider: 250px;
.galleries-main-thumbs {
  // main slider
  .galleries-main {
    position: relative;
    &::after {
      content: "";
      padding: 0;
      height: 300px;
      width: 100%;
      display: block;
      @include media-min(S_575) {
        height: 380px;
      }
      @include media-min(S_768) {
        height: 450px;
      }
      @include media-min(DD) {
        height: 600px;
        // width: calc(100% - $with_thumbs_slider);
      }
    }
    .swiper-wrapper {
      position: absolute;
    }
    .swiper-slide {
      border: 1px solid #ccc;
      background-color: #fff;
    }
  }
  // thumb slider
  .galleries-thumb {
    .swiper-wrapper {
      max-height: 500px;
      height: auto;
    }
    .swiper-slide {
      border: 1px solid #ccc;
      position: relative;
      opacity: 0.8;
      background-color: #fff;
      &:after {
        position: absolute;
        background-color: rgba($wbu-background, 40%);
        z-index: 1;
        @include WBUtransition();
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      &-thumb-active {
        opacity: 1;
        &:after {
          background-color: rgba($wbu-background, 0);
        }
      }
    }
    @include media-min(DD) {
      width: $with_thumbs_slider;
      &::after {
        content: "";
        padding: 0;
        height: 600px;
        width: 100%;
        display: block;
      }
      .swiper-wrapper {
        position: absolute;
      }
    }
  }
}
