@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
// grace à ce fichier , l'élément hongo-element peut etre appeler dans d'autres sections pour plus
// de modularité et éviter la réécriture de code.
.hot_models_hongo_item {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  z-index: 1;
  margin-bottom: $wbu-margin * 0.2;

  .img-handler {
    img {
      width: auto;
      max-width: 1500px;
      height: 100%;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 0;
      @include media-min(mobile) {
        transform: none;
        left: 0;
        position: relative;
      }
    }
  }
  .text-wrapper {
    z-index: 2;
    position: absolute;
    background-color: rgba($wbu-background, 0.4);
    top: auto;
    padding: $wbu-margin * 1.5;
    left: $wbu-margin * 1.5;
    right: $wbu-margin * 1.5;
    bottom: $wbu-margin * 1.5;
    color: color-yiq($wbu-background);
    min-height: 200px;
    display: flex;
    align-items: end;
  }
}
