@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
// grace à ce fichier , l'élément hongo-element peut etre appeler dans d'autres sections pour plus
// de modularité et éviter la réécriture de code.
.hot_models_hongo_item {
  overflow: hidden;
  position: relative;
  min-height: 250px;
  z-index: 1;
  .img-handler {
    margin: $wbu-margin * 0.2;
    img {
      width: auto;
      max-width: 1500px;
      height: 100%;
    }
  }
  .text-wrapper {
    z-index: 2;
    position: absolute;
    background-color: rgba($wbu-background, 0.4);
    top: auto;
    padding: $wbu-margin * 1.5;
    left: $wbu-margin * 1.5;
    right: $wbu-margin * 1.5;
    bottom: $wbu-margin * 1.5;
    color: color-yiq($wbu-background);
    min-height: 200px;
  }
}
