@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.consult-section{
    position: relative;
    width: 100%;
    overflow: hidden;

    .row{
        position: relative;

        .bloc{
            display: block;
            width: 100%;
            position: relative;
            padding: $wbu-margin;
            background-color: white;

            .titled_one{
                line-height: $wbu-h3-line-height;
                display: block;
                padding: space_inner_top;
                font-size: $wbu-h1-font-size;
                font-weight: 400;
                margin-top: $wbu-margin;
                margin-left: $wbu-margin * 4;
                @include media-max(MD){
                    margin: 0;
                    font-size: $wbu-title-font-size;
                    padding: $wbu-btn-padding-x-sm * 2; 
                    font-weight: 0;
                    font-style: normal;
                }
            }

            .input-el{
                display: inline-block;
                vertical-align: middle;
                position: relative;
                margin-left: $wbu-margin * 4;
                margin-bottom: $wbu-margin;
                padding-top: $wbu-margin;
                border-radius: 0;
                @include media-max(MD){
                    padding: $wbu-btn-padding-x-sm * 2;
                    padding-top: 0;
                }
                
                .tel-input{
                    padding: $space_inner_top;
                    color: $wbu-color-thirdly;
                    background:  rgba($color: $wbu-color-boder, $alpha: 1);
                    border: none;
                    @include media-max(MD){
                        padding: $wbu-btn-padding-x-sm * 2;
                    }
                }
                input[type="tel"].tel-input{
                    &:hover{
                        border: 0.1rem solid $wbu-color-secondary;
                        //border-color: $wbu-color-secondary;
                        outline: 0;
                        cursor: auto 
                    }
                }
                .submit-button {
                    padding: $space_inner_top;
                    margin-left: -1rem;
                    background-color: $wbu-color-secondary;
                    font-weight: $wbu-btn-font-size;
                    padding: $space_inner-top;
                    color: $wbu-color-boder;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                    @include media-max(MD){
                        padding: $wbu-btn-padding-x-sm * 2;
                    }
                    
                }
                @include media-max(MD){
                    margin: 0;
                }
            }

        }
        .bloc-link{
            background-color: $wbu-color-secondary;
            color: $wbu-color-boder;
            .text{
                margin-left: $wbu-margin * 4;
                display: block;
                padding: $space_inner_top $space_inner_top 0 $space_inner_top;
                .titled{
                    display: block;
                    line-height: $wbu-h3-line-height;
                    font-size: $wbu-h1-font-size;
                    font-weight: 400;
                    @include media-max(MD){
                        font-size: 1.7rem;
                    }
                }
                @include media-max(MD){
                    margin: $wbu-margin 0 0 $wbu-margin;
                    padding: 0 $wbu-btn-padding-x-sm 0 $wbu-btn-padding-x-sm;
                    padding-left: 0;
                }
            }
            a{
                color: $wbu-color-boder;
                background: $wbu-color-secondary;
                display: block;
                text-decoration: none;
                margin-left: $wbu-margin * 4;
                padding: 0 $space_inner_top 0 $space_inner_top;
                font-weight: bold;
                &:hover{
                    color: $wbu-color-text;
                }
                @include media-max(MD){
                    margin-left: $wbu-margin;
                    padding-bottom: $wbu-btn-padding-x-sm;
                    padding-left: 0;
                    font-size: 1.2rem;
                    text-align: left;
                }
            }
        }

    }

}