@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.discuss {

    position: relative;
    display: block;
    background-color: rgba($color: $wbu-color-text, $alpha: 0.1);
    width: 100%;

    .text-container{
        padding-top: $wbu-margin ;
    }
    .bouton {
        padding-top: 0;
        .btn{
            &:hover{
                color: $wbu-color-boder;
            }
        }
    }
}