@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.discuss {

    position: relative;
    display: block;
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    background-color: rgba($color: $wbu-color-text, $alpha: 0.1);
    width: 100%;

    .text-container{
        padding-top: $wbu-margin ;
    }
}