@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.flooring {
    position: relative;
    border: 1px solid red;
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    .text-center {
        .subtitle-and-Title {
            display: block; 
            margin-top: 0;
        }
    }
    .card-container {
        .carder {
            padding: $wbu-margin;
        }
    }
}