@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.flooring {
    position: relative;
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    .text-center {
        .subtitle-and-Title {
            display: block; 
            margin-top: 0;
        }
    }
    .card-container {
        .carder {
            @include media-max(MD){
                margin-top: $space_inner_top;
            }
        }
    }
    .bouton-container {
        .bouton {
            display: block;
            padding-bottom: 0;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}