@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.guide {
    width: 100%;
    position: relative;
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    background-color: rgba($color: $wbu-color-text, $alpha: 0.1);
    .guide-content {
        position: relative;
        .col-md-12 {
            .bg-vids{
                position: relative;
                margin-bottom: $space_inner_top;
                img{
                    width: 100%;
                }
                .sub-cont {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    .btn-play{
                        background: $wbu-border-color;
                        border-radius: 50%;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        height: $space_inner_top;
                        width: $space_inner_top;
                        padding: $wbu-margin * 2;
                        svg{
                            position: absolute;
                            top: 29%;
                            left: 30%;
                        }
                        &:hover{
                            background-color:rgba($color: $wbu-border-color, $alpha: 0.4);
                        }
                    }
                    .text-play{
                        font-family: "Satisfy",cursive;
                        color: $wbu-border-color;
                        margin-left: $wbu-margin;
                        font-size: $wbu-titre-big;
                        @include media-max(MD){
                            width: 60%;
                            font-size: $wbu-h1-font-size;
                        }
                    }
                }
            }
            .title{
                font-weight: normal;
                font-size: $wbu-h1-font-size;
                margin-bottom: $space_inner_top;
                @include media-max(MD){
                    font-size: $wbu-h1-font-size-md;
                }
            }
            .text {
                font-size: $wbu-default-font-size;
                margin-bottom: $space_inner_top;
            }
            .btn {
                margin-bottom: $space_inner_top;
                font-size: $wbu-default-font-size;
                padding: 0;
                color: $wbu-color-secondary;
                &:hover {
                    color: $wbu-color-text;
                }
            }
            .video-play{
                display: none;
            }
        }
    }
}