@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.hero-section {
    position: relative;
    .row {
        margin: 0;
        width: 100%;
        .slider-item{
            display: block;
            width: 100%;
            .slider-image{
                position: relative;
                display: block;
                width: 100%;
                .img{
                    width: 100%;
                    vertical-align: middle;
                    height: 100%;
                    @include media-max(XS){
                        height: 260px;
                    }
                }
                .slider-text {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: auto;
                    //display: none;
                    background: none; // to remove
                    margin-top: 10%;
                    text-align: center;
                    opacity: 1;
                    z-index: 1000;
                    h1{
                        font-size: $wbu-h1-font-size * 2;
                        font-weight: $wbu-title-font-weight;
                        display: block;
                        text-align: center;
                        height: auto;
                        width: 34%;
                        margin-left: 33%;
                        top: 100%;
                        left: 50%;
                        padding: $space_inner_top;
                        color: white; // to remove
                        span{
                            font-family: "Satisfy",cursive;
                        }
                        @include media-max(MD){
                            width: 100%;
                            margin: 0;
                            font-size: 4rem;
                        }
                    }
                    .btn{
                        line-height: $wbu-btn-line-height;
                        font-size: $wbu-h3-font-size;
                        padding: $space_inner_top;
                        background-color: $wbu-color-secondary;
                        border: none;
                        height: auto;
                        width: auto;
                        &:hover {
                            background: $wbu-color-thirdly;
                        }
                        @include media-max(MD){
                            margin-top: -$space_inner_top;
                            padding: $wbu-margin;
                            font-size: $wbu-btn-font-size;
                        }
                    }
                }
            }
        }
        .slider-bullets{
            position: absolute;
            left: 0;
            bottom: 0;
            //margin-top: 35%;
            margin-bottom: $space_top;
            z-index: 2000;
            display: block;
            width: 100%;
            height: auto;
            text-align: center;
            @include media-max(MD){
                display: none;
            }

            .dot{

                display: inline-block;
                border-radius: 50%;
                height: 2rem;
                width: 2rem;
                margin-left: 0.5rem;
                background: white;
                opacity:0.6;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                }
            }
            .active{
                opacity: 1;
            }
        }
    }
}