@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.hero-section {
    position: relative;
    border: 1px solid red;
    .row {
        .slider-item{
            display: block;
            width: 100%;
            .slider-image{
                width: 100%;
                .img{
                    width: 100%;
                    @include media-max(XS){
                        height: 260px;
                    }
                }
            }
            .slider-content {
                position: absolute;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
                z-index: 1000;
                h1{
                    font-size: $wbu-h1-font-size * 2;
                    font-weight: $wbu-title-font-weight;
                    padding-top: $wbu-margin;
                    padding-bottom: $wbu-margin;
                    display: block;
                    text-align: center;
                    color: white; // to remove
                    span{
                        font-family: "Satisfy",cursive;
                    }
                    @include media-max(MD){
                        width: 100%;
                        font-size: 4rem;
                    }
                }
                .slider-bullets{
                    padding-top: $space_inner_top;
                    padding-bottom: $wbu-margin;
                    display: block;
                    text-align: center;
                    @include media-max(MD){
                        display: none;
                    }
                    .dot{
                        border-radius: 50%;
                        display: inline-block;
                        height: 2rem;
                        width: 2rem;
                        margin-left: 0.5rem;
                        background: $wbu-color-boder;
                        opacity:0.6;
                        &:hover{
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                    .active{
                        opacity: 1;
                    }
                }
            }
        }
    }
}