@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.project-section{

    position: relative;
    padding-top:$space_bottom;
    padding-bottom: $space_bottom;
    .row {
        .subtitle-and-Title {
            margin: 0;
        }
        .bouton {
            padding: 0;
        }
    }
    .image-contener {
        position: relative;
        margin-top: $wbu-margin;
        @include media-max(XM){
            margin: 0;
        }
        .col-md-4 {
            .image-caption-simple-hover {
                @include media-max(LM){
                    img{
                        height: 100%;
                    }
                }
                margin: 0;
                padding: 0;
                height: 100%;
                position: relative;
            }
            @include media-max(MD){
                padding: 0;
                margin: 0;
                .image-caption-simple-hover{
                    padding: $wbu-margin;
                    padding-top: 0;
                    margin: 0;
                }
            }
        }
    }
    @include media-max(XS){
        .image-contener{
            .col-md-4{
                .image-caption-simple-hover{
                    padding: 0;
                    margin: 0;
                    .caption {
                        display: none;
                    }
                }
            }
            .img-two {
                display: none;
            }
            .img-three {
                display: none;
            }
        }
    }

}