@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.type-section{

    position: relative;
    border: 1px solid red;
    display: block;
    background-color: rgba($color: $wbu-color-text, $alpha: 0.1);
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    .filter-container{
        padding: $wbu-margin;
    }
}