@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.type-section{

    position: relative;
    display: block;
    background-color: rgba($color: $wbu-color-text, $alpha: 0.1);
    width: 100%;
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
}