@use "../../../../wbu-ressources-clean.scss" as *;
@import "../../../../variables";

.update-section{

    position: relative;
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    .row {
        .subtitle-and-Title {
            margin: 0;
            margin-bottom: $wbu-margin;
            .subtitle {
                padding-top: 0;
            }
        }
    }
    .update-content{
        
        position: relative;

        .col-md-4 {
            position: relative;
            @include media-max(MD){
                //margin-top: 0;
                //margin: $wbu-margin;
            }
            .image-caption-simple-hover-icon {
                padding: 0;
                margin: 0;
                .caption {
                    padding: 0;
                    margin: 0;
                }
            }

            .simple-title {
                position: relative;
                width: 100%;
                margin-top: $wbu-margin;
                font-size: $wbu-h3-font-size;
                a{
                    color: $wbu-color-thirdly;
                    text-decoration: none;
                    &:hover{
                        color: $wbu-color-secondary;
                    }
                }
            }
            .date-link {
                position: relative;
                color: $wbu-color-text;
                text-decoration: none;
                &:hover{
                    color: $wbu-color-secondary;
                }
                &:hover svg{
                    fill: $wbu-color-secondary;
                }
            }

            .form-container{
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $wbu-color-secondary;
                color: $wbu-color-boder;
                padding: $space_inner_top;
                margin: 0;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                @include media-max(MD) {
                    position: relative;
                    margin-top: $wbu-margin;
                }
                .form-title{
                    font-size: $wbu-h1-font-size;
                    padding: $space_inner_top;
                }
                .inputs-container {
                    position: relative;
                    padding-left: $wbu-margin;
                    background-color: white;
                    margin-left: $wbu-margin;
                    padding-top: 0;
                    margin-bottom: $wbu-margin;
                    input {
                        background: inherit;
                        outline: none;
                        border: 0;
                        padding-top: $wbu-btn-padding-x-sm;
                        padding-left: $wbu-btn-padding-x-sm;
                        padding-bottom: $wbu-btn-padding-x-sm;
                    }
                    button {
                        padding: $wbu-btn-padding-x-sm;
                        padding-bottom: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: inherit;
                        border: 0;
                        margin-left: -0.5rem;
                    }
                }
            }

        }

    }

}