@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../molecule/default-class.scss";
@use "../../../../variables" as *;
@use "../../../../defaut/model/custom_bp.scss";

.facmaster-section-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  .picture {
    position: absolute;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .slide-one-content {
    color: color-yiq($wbu-background);
    text-transform: uppercase;
    .slide-one-subtitle {
      letter-spacing: 3;
    }
    .slide-one-title {
      color: $wbu-color-primary;
    }
    .slide-one-description {
      text-transform: none;
      margin-bottom: $wbu-margin * 2;
    }
  }
  .slide-btn {
    background: $wbu-color-primary;
    text-transform: uppercase;
    a {
      color: color-yiq($wbu-background);
      padding: $wbu-margin * 0.5;
    }
  }
}
