@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@use "../../../../defaut/model/custom_bp.scss";

.facmaster-coming-soon {
  min-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: $wbu-margin * 9 0 0 0;
  color: color-yiq($wbu-background);
  flex-direction: column;

  .facmaster-coming-soon-container {
    z-index: 22;
    .coming-soon-text-element {
      margin-bottom: 60px;
      .coming-soon-title {
        text-shadow: rgba(255, 255, 255, 0.4) 0px 9px 16px;
        margin-bottom: $wbu-margin * 1.5;
        letter-spacing: 9;
      }
      .coming-soon-subtitle {
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        color: $wbu-color-primary;
        //
        @include media-min(DD) {
          max-width: 600;
        }
      }
      .coming-soon-description {
        // width: 500px;
        margin-left: auto;
        margin-right: auto;
        @include media-min(DD) {
          max-width: 500;
        }
      }
    }
    .coming-soon-count {
      margin-bottom: $wbu-margin * 2;
      .count {
        text-align: center;
        //padding: 0 -15px;
        margin-bottom: 0 !important;
      }
      .set {
        position: relative;
        margin-bottom: $wbu-margin * 1.5;

        &::before {
          content: "";
          background: rgba(color-yiq($wbu-background), 0.2);
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          top: auto;
          width: auto;
          height: 100%;
        }
      }

      .time {
        padding: 60px 10px;
        z-index: 2;
        position: relative;
      }
      .letter {
        text-transform: uppercase;
        background-color: color-yiq($wbu-background);
        color: $wbu-background;
        padding: 20px 10px;
        margin-bottom: 0;
        position: relative;
        z-index: 2;
      }
    }
  }
  .coming-soon-copy-right {
    //
  }
}
