@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../_variables.scss" as *;
.footer-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $wbu-margin * 2;
    padding-left: $wbu-margin;
    padding-right: $wbu-margin;
    overflow: hidden;
    &__logo {
        padding: $wbu-margin;
        padding-left:0;
        text-transform: uppercase;
        font-size: $wbu-default-font-size;
        img {
            max-width: 100%;
        }
    }
    &__description {
        margin-bottom: $wbu-margin;
        text-align: justify;
        font-size: $wbu-default-font-size;
    }
    .footer-col__socials {
        margin-bottom: $wbu-margin;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a {
            display: inline-block;
            margin-right: $wbu-margin / 2;
        }
    }
    &__links {
        ul {
            padding-left: 0;
        }
        .elements {
            padding-left: 0;
            ul {
                padding-left: 0;
            }
        }
        li {
            a {
                padding: 0;
                color: $wbu-color-boder;
                margin-bottom: $wbu-margin / 2;
            }
            display: flex;
            //flex-direction: column;
            color: $wbu-color-boder;
            text-decoration: none;
            margin-bottom: $wbu-margin / 2;
            .element__link {
                text-decoration: none;
                display: flex;
                justify-content: justify;
                flex-direction: flex-start;
                color: $wbu-color-boder;
                &:hover {
                    color: $wbu-color-boder;
                }
                &_svg {
                    align-items: start;
                    width: inherit;
                }
                &_item {
                    text-decoration: none;
                    margin-left: $wbu-margin / 2;
                    align-items: flex-end;
                }
            }
        }
    }
}