@use "../../../../../variables" as*;
@use "./../../../../../wbu-ressources-clean.scss" as *;

.sale-content{
    margin-bottom: 25px;
    line-height: $wbu-default-line-height ;  
}

.btne{
    text-decoration: none;
    background: $wbu-background;
    color: white;
    border: 2px solid $wbu-color-boder;
    height: 45.5;
    padding: 9px 1.4em;
    border-radius: 30px;   
    
  
}
