@use "../../../wbu-ressources-clean.scss";
@import "../../../atome/typography/default";
@import "../../../variables";

.wix-full-page-handler{
  display: block;

.top-banner{
    display: flex;
    background: rgb(238,224,209);
    position: initial;
    width: 100vw;
    overflow: none;

    .pub-text{
        width: 75vw;
        
        p{
            margin-left: 70px;
            font-size: 1.6rem;
            letter-spacing: 0.15em;
            font-family: 'Saira Condensed', sans-serif;
            font-style: normal;
            font-stretch: narrower;
            font-weight: lighter;
        }
    }
    .login-section{
        width: 25vw;
        

        a{
            text-decoration: none;
            color: #333;
            border: 1px solid #333;
            padding: 3px 17px 3px 25px;
            line-height: 3;
            font-family: 'Saira Condensed', sans-serif;
            font-size: 1.7rem;
            border-radius: 20px;
            margin-right: 15px;
            margin-left: 40px;
            margin-top: 5px;

            &:hover{
                color: rgb(238,224,209);
                background: #333;
            }
        }
        .login{
            margin-left: 5px;
            i{
                margin-right: 5px;
            }
        }
    }
}
.navigation{
    position: absolute;
    display: flex;
    background: transparent;
    width: 100vw;
    height: 10vh;
    

    .logo{
        width: 60vw;

        a{
            font-family: 'cormorant garamond',serif;
            text-decoration: none;
            color: #333333;
            font-size: 6.4rem;
            line-height: 7rem;
            margin-left: -72px;
            margin-top: 50px;
        }
    }
    .nav-link{
        
        ul{
            display: flex;
            list-style-type: none;

            li{
                margin: 10px;
                font-family: 'Saira Condensed', sans-serif;
                font-size: 2.1rem;
            }
        }
    }
}
    .wix-yoga-header-handler{
        height: 138vh;
        width: 100vw;
        display: flex;
        position: initial;
        background: #0b0ff58c;
        overflow: hidden;
        
       
        .img-side{
         //float: left;
          height: 100vh;
          
            img{
                
            }
        }
        .right-side{
            background: #f5800b8c;
            display: block;
            height: 100vh;
            width: 100vw;
            
            .top-element{
                background: #f6f3f0;
                width: 50.6vw;
                height: 77vh;
                overflow: hidden;
                padding-top: 50px;
                
                p{
                    font-size: 9rem;
                    margin-left: 15rem;
                   font-family: 'Cormorant Garamond', sans-serif;
                    
                }
            }
           .bottom-element{
               width: 50.6vw;
               height: 65.5vh;
               font-family: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;;
               margin-top: -20px;
               background: rgb(202,219,215);

               p{
                   padding: 70px;
                   line-height: 2em;
                   font-size: 1.8rem;
               }
               button{
                   background: transparent;
                   height: 40px;
                   border: 1px solid #333;
                   margin-left: 65px;
                   padding: 2px 12px 2px 12px ;
                   border-radius: 30px;
                   font-size: 1.5rem;

                    &:hover{
                        background: #333;
                        color: #fff;
                    }
               }
           }
        }
    }

    .about-section-handler{
        background: #f6f3f0;
        height: auto;
        position: initial;
        width: 100vw;
        overflow: hidden;

        .about-section-header{
           // background: #29f83b8e;
            .section-title{
                padding-top: 20px;
                
                p{
                    margin-top: 10px;
                    margin-left: 100px;
                    font-size: 1.5rem;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
            }
            .about-section-descriptor{
                margin-top: 8px;

                p{
                    margin-left: 100px;
                    font-family: 'Cormorant Garamond', sans-serif;
                    font-size: 5rem;
                    width: 50vw;
                }
            }
        }

        .about-section-main-content{
            display: block;
            
            .first-about-section{
                display: flex;
            

                .img-container{
                    margin-top: 40px;
                    width: 50vw;

                    img{
                        margin-left: 120px;
                        border-radius: 180px 180px 0 0 ;
                    }
                }

                .text-description{
                    width: 50vw;
                    padding: 0 150px 0 200px;
                    margin-left: 70px;
                    display: block;
                    overflow: hidden;

                    p{
                        width: 30vw;
                        height: 60vh;
                        line-height: 3rem;
                        font-size: 1.5rem;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                    .read-more{
                        margin-top: 100px;

                        a{
                            text-decoration: none;
                            color: #33330098;
                            font-size: 1.4rem;
                            border: 1px solid #33330098;
                            padding: 10px 25px 10px 25px;
                            border-radius: 80px;
                            background-color: #f6f3f0;

                            &:hover{
                                color: #f6f3f0;
                                background: #333;
                            }
                        }
                    }
                }
            }
            .yoga-icon{
                width: 100vw;
                background: #f6f3f0;
                height: 60vh;
                padding-top: -70px;
                position: initial;
            }
        }
    }
    .wix-classes-handler{
        width: 100vw;
        background: #e7edec;
        height: 100vh;
        margin-top: -15px;
        position: initial;
        
       
        .section-header{
            display: flex;
            width: 100vw;
            height: auto;

            .left-header-section{
               width: 50vw;
                
                .section-title{
                    padding-top: 20px;
                    
                    p{
                        margin-top: 10px;
                        margin-left: 100px;
                        font-size: 1.5rem;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }
                }
                .section-subtitle{
                    margin-top: 8px;
    
                    p{
                        margin-left: 100px;
                        font-family: 'Cormorant Garamond', sans-serif;
                        font-size: 5rem;
                        width: 50vw;
                    }
                }
                .section-text-descriptor{
                    margin-left: 100px;

                    p{
                        font-size: 1.8rem;
                        line-height: 1.8;
                        font-family: fantasy;
                    }
                }
            }
            .right-header-section{
                margin-top: 100px;
                width: 50vw;

                a{
                    margin-left: 200px;
                    font-family: fantasy;
                    font-size: 2rem;
                    text-decoration: none;
                    color: #333;
                    border: 1px solid #333;
                    padding: 8px 30px 8px 30px ;
                    border-radius: 100px;

                    &:hover{
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
        .section-bottom{
          
          margin-top: -71px;
            .flex-list{
                display: flex; 
                min-height: 65vh;
                margin-top: 300px;
                //position: relative;
                background: #f6f3f0;
                .single-element{
                    margin-left: 30px;
                    margin-top: -250px;
                    .pic-handler{

                        img{
                            height: 400px;
                            width: 400px;
                            opacity: 0.87;
                            
                            &:hover{
                            opacity: 1;
                             }
                        }
                    }
                    .name-handler{

                        p{
                            font-family: 'Cormorant Garamond', sans-serif;
                            font-size: 2.3rem;
                            font-weight: 500;
                            text-align: center;
                        }
                    }
                    .description-area{
                        margin-top: -15px;
                        p{
                            font-size: 1.7rem;
                            text-align: center;
                        }
                    }
                    .book-button{
                        text-align: center;
                        margin-top: 50px;
                        
                        a{
                            font-family: fantasy;
                            font-size: 1.8rem;
                            text-align: center;
                            text-decoration: none;
                            color: #fff;
                            background: #333;
                            border: 1px solid #333;
                            padding: 8px 20px 8px 20px ;
                            border-radius: 100px;

                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    } 
                }
            }
        }
    }
    .guarantee-section-handler{
        background: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_425,ar_1.77,c_fill/dpr_2/image/diy/aede9f6d-c647-4873-9765-7c890dd168ab");
        background-size: cover;
        background-repeat: no-repeat;
        color: #333;
        height: 100vh;
        width: 100vw;
        margin-top: 280px;
        position: initial;

        .floating-pub-element{
            background: #eee0d1;
            width: 29vw;
            height:90vh;
            margin-top: 150px;
            position: absolute;

            .icon-handler{

               .sphere{
                   float: right;
                   fill: #AF4B43;
                   margin-top: 30px;
                   margin-left: 260px;
                   position: absolute;
               }
               .circle{
                   margin-left: 210px;
                   position: relative;
                   
               }
            }
            .text-handler{
                margin-top: -60px;
                .element-title{

                    p{
                        font-family: 'Cormorant Garamond', sans-serif;
                        margin-left: 50px;
                        font-weight: 100;
                        font-size: 5rem;
                        line-height: 6rem;
                    }
                }
                .element-text-desc{
                    margin-bottom: 80px;
                    margin-top: -25px;
                    p{
                        font-weight: 50;
                        visibility: inherit;
                        line-height: 2em;
                        font-size: 1.8rem;
                        margin-left: 50px;
                    }
                }
                .element-bottom-button{
                    margin-top: -20px;
                    text-align: center;

                    a{
                        text-decoration: none;
                        color: #333;
                        background-color: transparent;
                        border: 1px solid #333;
                        padding: 14px  30px 14px 30px;
                        border-radius: 55px;
                        font-weight: 300;
                        word-spacing: 5;
                        font-size: 1.8rem;

                        &:hover{
                            color: #eee0d1;
                            background: #333;
                        }
                    }
                }
            }
        }
    }
    .staff-section-handler{
        height: 170vh;
        width: 100vw;
        background: #f6f3f0;
        position: initial;
        margin-top: -14px;
        display: block;

        .section-header{
            position: initial;
            display: flex;
            .left-side-header{
                
                .section-title{
                    margin-top: 180px;
                    margin-left: 100px;
                    p{
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: 1.5rem;
                        line-height: 1.8em;
                    }
                }
                .section-subtitle{
                    margin-top: -20px;

                    p{
                        margin-left: 100px;
                        font-family: 'Cormorant Garamond', sans-serif;
                        font-size: 5rem;
                        width: 50vw;
                    }
                }
                .text-desc{
                    margin-left: 100px;
                    p{
                    font-size: 1.8rem;
                    line-height: 1.8;
                    font-family: fantasy;
                    width: 50vw;
                    }
                }
            }
            .right-side-header{
                width: 30vw;
                margin-top: 200px;
                
                a{
                    text-decoration: none;
                    color: #333;
                    background-color: transparent;
                    border: 1px solid #333;
                    padding: 8px  30px 8px 30px;
                    border-radius: 55px;
                    margin-left: 100px;
                    font-weight: 300;
                    word-spacing: 5;
                    font-size: 1.8rem;

                    &:hover{
                        background: #333;
                        color: #e7edec;
                    }
                }
            }
        }
        .instructor-section{
            position: initial;
            .instructor-handler{
                display: flex;

                .single-instructor1{
                    margin-top: 100px;
                    margin-left: 100px;

                    img{
                        border-radius: 150px 150px 0 0 ;
                    }
                    .name-post{
                        height: 11vh;
                        width: 15vw;
                        margin-top: -40px;
                        position: absolute;
                        background: #f6f3f0;

                        .name{
                            margin-top: 5px;
                            margin-left: 20px;
                            font-size: 1.9rem;
                        }
                        .post{
                            margin-top: -5px;
                            font-family: 'Cormorant Garamond', sans-serif;
                            font-style: italic;
                            font-weight: bold;
                            font-size: 1.9rem;
                        }
                    }
                }
                .single-instructor2{
                    margin-top: 180px;
                    margin-left: 100px;

                    img{
                        border-radius: 150px 150px 0 0 ;
                    }
                    .name-post{
                        height: 11vh;
                        width: 15vw;
                        margin-top: -40px;
                        position: absolute;
                        background: #f6f3f0;

                        .name{
                            margin-top: 5px;
                            margin-left: 20px;
                            font-size: 1.9rem;
                        }
                        .post{
                            margin-top: -5px;
                            font-family: 'Cormorant Garamond', sans-serif;
                            font-style: italic;
                            font-weight: bold;
                            font-size: 1.9rem;
                        }
                    }
                }
                .single-instructor3{
                    margin-top: 0px;
                    margin-left: 100px;

                    img{
                        border-radius: 150px 150px 0 0 ;
                    }
                    .name-post{
                        height: 11vh;
                        width: 15vw;
                        margin-top: -40px;
                        position: absolute;
                        background: #f6f3f0;

                        .name{
                            margin-top: 5px;
                            margin-left: 20px;
                            font-size: 1.9rem;
                        }
                        .post{
                            margin-top: -5px;
                            font-family: 'Cormorant Garamond', sans-serif;
                            font-style: italic;
                            font-weight: bold;
                            font-size: 1.9rem;
                        }
                    }
                }
            }
        }
    }
    .element-list-handler{
        background: #e7edec;
        height: 40vh;
        width: 100vw;

        .elements{
            display: flex;

            .single-element{
                display: block;
                padding: 20px 30px 20px 70px;

                .title{
                    

                    p{
                        text-align: center;
                        font-size: 1.5rem
                    }
                }
            }
        }
    }
    .client-section-handler{
        width: 100vw;
        height: 75vh;
        background: #f6f3f0;

        .header{

            .title{
                padding-top: 20px;
                
                p{
                    margin-top: 10px;
                    margin-left: 100px;
                    font-size: 1.5rem;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
            }
            .subtitle{
                margin-top: 8px;

                p{
                    margin-left: 100px;
                    font-family: 'Cormorant Garamond', sans-serif;
                    font-size: 5rem;
                    width: 50vw;
                }
            }
        }
        .clients-list{

            .flex-list{
                display: flex;
                
                .single-client1{
                    height: 55vh;
                    width: 100vw;
                    background: #cadbd7;
                    padding: 70px 50px 50px 80px;
                    
                    p{
                        font-size: 4rem;
                        font-family: 'Cormorant Garamond', sans-serif;
                        line-height: 1em;
                        margin-bottom: 45%;
                    }
                    .client-name{

                        p{
                            font-size: 1.7rem;
                            text-align: center;
                            
                        }
                    }
                }
                .single-client2{
                    height: 55vh;
                    width: 100vw;
                    background: #e7edec;
                    padding: 70px 50px 50px 80px;
                    
                    p{
                        font-size: 4rem;
                        font-family: 'Cormorant Garamond', sans-serif;
                        line-height: 1em;
                        margin-bottom: 45%;
                    }
                    .client-name{

                        p{
                            font-size: 1.7rem;
                            text-align: center;
                            
                        }
                    }
                }
                .single-client3{
                    height: 55vh;
                    width: 100vw;
                    background: #cadbd7;
                    padding: 70px 50px 50px 80px;
                    
                    p{
                        font-size: 4rem;
                        font-family: 'Cormorant Garamond', sans-serif;
                        line-height: 1em;
                        margin-bottom: 45%;
                    }
                    .client-name{

                        p{
                            font-size: 1.7rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .footer-section-handler{
        height: 100vh;
        width: 100vw;
        background: #eee0d1;
        padding: 100px 80px 70px 100px;
        //position: absolute;
        .flex-element{
            display: flex;

            .left-side{
                width: 100vw;
                height: 100%;

                .header{

                    p{
                        font-size: 4rem;
                        font-family: 'Cormorant Garamond', sans-serif;
                    }
                }
                .form{
                    margin-top: 50px;
                    margin-left: 10px;

                    label{
                        font-size: 1.6rem;
                        font-weight: 100;
                    }
                    .input-handler{
                        margin-top: 30px;
                        input[type=email]{
                            height: 40px;
                            width: 75%;
                            font-size: 2rem;
                            padding-left: 7px;
                            border-radius: 75px;
                            border: 1px solid #333;
                            background: #e7b9b5;
                            

                            &:hover{
                                background: #fff;
                                border: 2px solid #333;
                            }
                        }
                        input[type=submit]{
                            height: 40px;
                            width: 25%;
                            font-size: 1.8rem;
                            margin-left: -60px;
                            border-radius: 75px;
                            color: #333;
                            background: #eee0d1;
                            border: 1px solid #333;

                            &:hover{
                                color: #eee0d1;
                                background: #333;
                            }
                        }
                    }
                }
                .footer{
                    margin-top: 200px;
                    display: flex;
                    margin-left: -20px;
                    .logo{
                        
                        a{
                            text-decoration: none;
                            color: #333;
                            font-size: 4.8rem;
                            font-family: fantasy;
                            margin-left: -60px;
                        }
                    }
                    .footer-text{
                        margin-left: 70px;
                        margin-top: 30px;
                        a{
                            text-decoration: none;
                            color: #333;
                            font-size: 1.5rem;
                            font-family: sans-serif;
                            word-spacing: 0.5rem;
                            letter-spacing: 0.3rem;
                        }
                    }
                }
            }
            .right-side{
                width: 100vw;
                height: 100%;

                ul{
                    margin-left: 100px;

                    li{
                        list-style-type: none;
                        text-decoration: none;
                        margin: 25px;

                        a{
                            color: #333;
                            font-size: 1.7rem;
                            font-weight: initial;
                            font-family: sans-serif;
                        }
                    }
                }
                .footer{
                    margin-top: 170px;
                    display: flex;
                    margin-left: 250px;

                    p{
                        font-size: 1.7rem;
                        font-family: fantasy, sans-serif;
                    }
                }
            }
        }
    }
    .chat{
        position: -webkit-sticky;
        position: sticky;
        top: 85%;
        height: 50px;
        width: 180px;
        margin-left: 83%;
        border-radius: 65px;
        background: #AF4B43;
        p{
            text-align: center;
            padding: 15px 0 0 0 ;
        }
    }
}
