@use "../../wbu-ressources-clean.scss" as *;

.accordion.fields-box {
  .field-box {
    position: relative;
    box-sizing: border-box;
    // padding-bottom: $wbu-margin*1.15;

    .field-meta {
      background-color: $wbu-color-primary;
      display: flex;
      flex-wrap: nowrap;

      .bg-black-50 {
        background-color: rgba($color: #000, $alpha: 0.5);

        .field-title {
          color: color-yiq(rgba($color: #000, $alpha: 0.5));
        }
      }

      .field-icon {
        width: 63px;
        min-width: auto;
        text-align: center;
        background-color: $wbu-color-secondary;
        position: relative;

        svg {
          top: 50%;
          left: 50%;
          position: absolute;
          max-width: 50px;
          transform: translate(-50%, -50%);
          fill: currentColor;
        }
      }

      .field-title {
        text-transform: uppercase;
        color: color-yiq($wbu-color-primary);
        margin-bottom: 0;
        padding: $wbu-margin;
      }
    }

    .field-description {
      padding: $wbu-margin * 1.25 $wbu-margin * 1.15;
      // margin-block: 0px;
      border: 1px solid #d8d8d8;
      border-top: none;
    }
  }

  /**
     * derivate light
     */
  &.bg-field-light {
    .field-box {
      .field-meta {
        background-color: #f3f3f3;

        .field-title {
          color: #5b5b5b;
        }

        .field-icon {
          background-color: #b5b3b3;
        }
      }
    }
  }
}