@use "../../wbu-ressources-clean.scss" as *;
.field-skill-region {
  margin-bottom: $wbu-margin;

  .text {
    width: 30%;
  }
  .bar {
    .niveau {
      background-color: rgba(23, 23, 29, 0.897);
      margin: 0;
    }
  }
  .pourcentage {
    width: 10%;
    margin-bottom: 0;
    margin-left: $wbu-margin * 0.5;
  }
  .progress {
    width: auto;
    margin-top: $wbu-margin * 0.25;
  }
  .text {
    width: 100%;
  }
}
