@use "../../wbu-ressources-clean.scss" as *;

.field-svg {
  margin-top: $wbu-margin * 0.5;
  .icon {
    margin-right: $wbu-margin;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .text {
  }
}
