@use "../../wbu-ressources-clean.scss" as *;
.field-icon-address {
  .icon {
    background-color: $wbu-color-primary;
    color: color-yiq($wbu-color-primary);
    padding: $wbu-margin * 0.3;
    padding-bottom: $wbu-margin * 0.7;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    /**
     * Les balises SVG ne sont pas encore rendu par le module de PDF, on les masque en attendant.
     */
    .icon {
      height: $wbu-margin * 0.5 !important;
      width: $wbu-margin * 0.5 !important;
      background-color: $wbu-background !important;
      background: $wbu-background !important;
      line-height: 1 !important;
      border-radius: $wbu-margin * 0.25;
      border: none !important;
    }
    svg {
      fill: color-yiq($wbu-color-primary);
      width: $wbu-margin;
      display: inline-block;
    }
  }
  .text {
    padding-left: $wbu-margin;
    padding-bottom: $wbu-margin * 0.35;
  }
}
