@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../atome/typography/default";
@mixin fade-blac() {
  background: $wbu-color-primary;
  a {
    color: black;
  }
}
@mixin fade-white() {
  transition: all 0.5s;
  background: $wbu-background;
  a {
    color: white;
  }
}
@mixin bg-slide($color: $wbu-background) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: $color;
    transition: transform ease-in-out 0.3s;
    transform-origin: 0 0;
    transform: scaleX(0);
    pointer-events: none;
  }
}
.htl-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  font-size: $wbu-default-font-size;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  &,
  a {
    text-decoration: none;
    transition: all 0.3s;
  }
  a {
    padding: 2rem 4.5rem;
    display: inline-block;
  }

  &--fade {
    @include fade-blac();
    &:hover {
      transition: all 0.5s;
      @include fade-white;
    }
  }
  &--inv {
    @include fade-white;
    &:hover {
      @include fade-blac();
    }
  }
  &--big {
    a {
      padding: 2.5rem 5rem;
    }
  }
  &--sm {
    a {
      padding: 1.4rem 3rem;
    }
  }
  &--bg {
    @include fade-blac();
    a {
      z-index: 1;
      position: relative;
      transition: ease-in-out 0.3s;
    }
    @include bg-slide();

    &:hover {
      &::before {
        transform: scaleX(1);
      }
      a {
        color: white;
      }
    }
  }
  &--bg-inv {
    @include fade-white();
    a {
      z-index: 1;
      position: relative;
      transition: ease-in-out 0.3s;
    }
    @include bg-slide($wbu-color-primary);
    &:hover {
      &::before {
        transform: scaleX(1);
      }
      a {
        color: black;
      }
    }
  }
}
@include media-max(MS) {
  .htl-btn {
    a {
      padding: 1.8rem 3.8rem;
    }
    &--big {
      a {
        padding: 2.2rem 4.4rem;
      }
    }
    &--sm {
      a {
        padding: 1.2rem 2.8rem;
      }
    }
  }
}
@include media-max(SM) {
  .htl-btn {
    a {
      padding: 1.6rem 3.4rem;
    }
    &--big {
      a {
        padding: 1.8rem 3.8rem;
      }
    }
    &--sm {
      a {
        padding: 1rem 2.4rem;
      }
    }
  }
}
@include media-max(XS) {
  .htl-btn {
    a {
      padding: 1.5rem 3rem;
    }
    &--big {
      a {
        padding: 1.6rem 3.4rem;
      }
    }
    &--sm {
      a {
        padding: 0.8rem 2rem;
      }
    }
  }
}
