@use "../../../../../wbu-ressources-clean.scss" as *;

@mixin fade-blac($color: $wbu-color-primary) {
  background: $color;
  color: color-yiq($color);
  a {
    color: color-yiq($color);
  }
}
@mixin fade-white($color: $wbu-background) {
  transition: all 0.5s;
  background: $color;
  color: color-yiq($color);
  a {
    color: color-yiq($color);
  }
}
@mixin bg-slide($color: $wbu-background) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: $color;
    transition: transform ease-in-out 0.3s;
    transform-origin: 0 0;
    transform: scaleX(0);
    pointer-events: none;
    z-index: -1;
  }
}
.htl-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;

  &.htl--center-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    padding: 0;
  }
  /**
   * Ideale pour des elements de liens, i.e contenant la baslise a.
   */
  &,
  a {
    text-decoration: none;
    transition: all 0.3s;
  }

  a {
    padding: $wbu-margin * 0.75 $wbu-margin * 2;
    display: inline-block;
  }
  &--big {
    a {
      padding: $wbu-margin $wbu-margin * 3;
    }
  }
  &--sm {
    a {
      padding: $wbu-margin * 0.5 $wbu-margin;
    }
  }
  /**
   * Dans le cas ou le rendu n'est pas un lien.
   */
  &.hasnotlink {
    padding: $wbu-margin * 0.75 $wbu-margin * 2;
    &.htl-btn--sm {
      padding: $wbu-margin * 0.5 $wbu-margin;
    }
    &.htl-btn--big {
      padding: $wbu-margin $wbu-margin * 3;
    }
  }
  // model1. (fade)
  &--fade {
    @include fade-blac($wbu-color-primary);
    &:hover {
      transition: all 0.5s;
      @include fade-white($wbu-background);
    }
  }
  // model2.
  &--inv {
    @include fade-white($wbu-background);
    &:hover {
      @include fade-blac($wbu-color-primary);
    }
  }
  // model3.
  &--bg {
    @include fade-blac($wbu-color-primary);
    a {
      z-index: 1;
      position: relative;
      transition: ease-in-out 0.3s;
    }
    @include bg-slide($wbu-background);
    &:hover {
      color: color-yiq($wbu-background);
      &::before {
        transform: scaleX(1);
      }
      a {
        color: color-yiq($wbu-background);
      }
    }
  }
  // model4.
  &--bg-inv {
    @include fade-white($wbu-background);
    a {
      z-index: 1;
      position: relative;
      transition: ease-in-out 0.3s;
    }
    @include bg-slide($wbu-color-primary);
    &:hover {
      &::before {
        transform: scaleX(1);
      }
      a,
      a:hover {
        color: color-yiq($wbu-color-primary);
      }
    }
  }
}
@include media-max(MS) {
  .htl-btn {
    a {
      padding: 1.8rem 3.8rem;
    }
    &--big {
      a {
        padding: 2.2rem 4.4rem;
      }
    }
    &--sm {
      a {
        padding: 1.2rem 2.8rem;
      }
    }
  }
}
@include media-max(SM) {
  .htl-btn {
    a {
      padding: 1.6rem 3.4rem;
    }
    &--big {
      a {
        padding: 1.8rem 3.8rem;
      }
    }
    &--sm {
      a {
        padding: 1rem 2.4rem;
      }
    }
  }
}
@include media-max(XS) {
  .htl-btn {
    a {
      padding: 1.5rem 3rem;
    }
    &--big {
      a {
        padding: 1.6rem 3.4rem;
      }
    }
    &--sm {
      a {
        padding: 0.8rem 2rem;
      }
    }
  }
}
