@use "../../../../../wbu-ressources-clean.scss" as *;

.section-title {
  &::before {
    content: "";
    width: 50px;
    display: block;
    height: 3px;
    margin-top: $space-top * 0.6;
    margin-bottom: $wbu-margin * 0.49;
    background: $wbu-color-primary;
  }
  p {
    margin: 0;
  }
  font-size: $wbu-h4-font-size;
  color: $wbu-background;
  margin-bottom: $wbu-margin * 3.5;
  text-align: left;
}
