@use "../../wbu-ressources-clean.scss" as *;
.buildercv_competances {
  .container {
    padding-bottom: $wbu-margin * 1.5;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      left: 15px;
      right: 15px;
      bottom: 0;
      top: auto;
      border-bottom: 1px solid #ccc;
      position: absolute;
    }
    .langues {
      position: relative;
      &::before {
        content: "";
        display: block;
        left: -15px;
        right: auto;
        bottom: -$wbu-margin * 1.5;
        top: 0;
        border-left: 1px solid #ccc;
        position: absolute;
      }
    }
  }
}
