@use "../../wbu-ressources-clean.scss" as *;
.time-line-cv-buildercv {
  .listes {
    padding-bottom: $wbu-margin * 2;
    @include media-min("DD") {
      padding-bottom: 0;
    }
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}
