@use "../../wbu-ressources-clean.scss" as *;

.unicamp-head{
    
.unicamp-detail{
    padding:$wbu-padding;
    transition:1s box-shadow;
    &:hover{
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);

    }

}

}