/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@use "../../wbu-ressources.scss" as *;
@use "../../atome/typography/h4.scss";
@use "../../atome/typography/h1.scss";
.formatage-models-ac-hero {
  background: $wbu-background;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .content-text {
    //padding-top: $space_bottom;
    //padding-bottom: $space_bottom;
    padding-right: $wbu-margin;
    color: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    order: 3;
    @include media-max("MD") {
      order: 1;
    }
  }

  .subtitle {
    color: inherit;
    margin-bottom: $space_bottom * 0.3;
  }

  .title {
    line-height: 100%;
    margin-bottom: $space_bottom * 0.3;
    @include media-min("DD") {
      margin-bottom: $space_bottom * 0.6;
    }
    color: inherit;
  }

  .description {
    margin-bottom: $space_bottom * 0.6;
    text-align: justify;
  }

  .content-image {
    min-height: 300px;
    order: 1;
    overflow: hidden;
    position: relative;
    z-index: 0;
    @include media-min(MD) {
      order: 3;
    }
    @include media-min("DD") {
      min-height: 550px;
      overflow: visible;
    }

    img {
      min-width: 100%;
      position: absolute;
      left: 0;
      width: auto;
      height: auto;
      max-width: 1900px;
      max-height: 1900px;
      min-height: 100%;
      object-fit: cover;
      @include media-min("MD") {
        max-width: 700px;
      }
      @include media-min("DD") {
        max-width: 1900px;
        max-height: calc(100% + #{$space_bottom} + #{$space_top});
      }
    }
  }
  &.image-left {
    .content-text {
      order: 3;
    }
    @include media-min(MD) {
      .content-text {
        padding-right: $wbu-margin;
        padding-left: $space_bottom;
      }
    }
    .content-image {
      order: 1;
      @include media-min(MD) {
        img {
          left: auto;
          right: 0;
          right: $grid-gutter-width * 0.5;
        }
      }
    }
  }
}
.formatage-models-simple-block-4508--VYd7YVE5les {
  min-height: 100vh;
  position: relative;
  .position-unset {
    position: unset;
  }
  .custom-btn {
    .block {
      width: 50%;
      margin-top: 0 !important;
      margin: 1.5rem;
    }
  }
  .custom-title {
    letter-spacing: 2px;
  }
  .layout-region {
    position: relative;
    z-index: 3;
  }
  .video-cover {
    z-index: 2;
    position: unset;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgb(0 0 0 / 35%);
      z-index: 2;
    }
    video {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100% !important;
      right: 0;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: 100% !important;
      z-index: 1;
    }
  }
}

.formatage-models-simple-block-1531--hG2giUVkmvY {
}
