/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@use "../../wbu-ressources.scss" as *;
@use "../../atome/typography/h4.scss";
@use "../../atome/typography/h1.scss";
.ac-hero {
  background: $wbu-background;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  .content-text {
    padding-top: $space_bottom;
    padding-bottom: $space_bottom;
    color: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    color: inherit;
    margin-bottom: $space_bottom * 0.3;
  }

  .title {
    line-height: 100%;
    margin-bottom: $space_bottom * 0.3;
    @include media-min("DD") {
      margin-bottom: $space_bottom * 0.6;
    }
    color: inherit;
  }

  .description {
    margin-bottom: $space_bottom * 0.6;
    text-align: justify;
  }

  .content-image {
    min-height: 300px;
    //padding-top: $space_bottom;
    position: relative;
    z-index: 0;
    @include media-min("DD") {
      min-height: 550px;
    }

    img {
      min-width: 100%;
      position: absolute;
      left: 0;
      width: auto;
      height: auto;
      max-width: 1900px;
      max-height: 1900px;
      min-height: 100%;
      @include media-min("MD") {
        max-width: 700px;
      }
      @include media-min("DD") {
        max-width: 1900px;
        max-height: calc(100% + #{$space_bottom} + #{$space_top});
      }
    }
  }
}
