@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.document-parent {
  .element-modif {
    .first-presentation {
      .photo {
        img {
          width: 250px;
          height: 250px;
          background-size: 100%;
          border-radius: 50%;
          margin-top: $wbu-margin * 2.5;
          border: 3px solid $wbu-background;
        }
      }
      .presentation-name {
      }
      .presentation-profession {
      }
      .presentation-status {
      }
      .presentation-description {
        margin: $wbu-margin * 2 0;
      }
    }
  }
}
