@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@use "./evenex-theme-color.scss" as *;


.evenex-newsroom-section-handler{

    padding: $wbu-margin*4.85 0 $wbu-margin*3.44;
    .section-title{
        text-align: center;
        .title{
            color: $evenex-dark-color;
        }
    }
    .cards-handler{
        .single-card{
            overflow: hidden;
            height: 100%;
            background: teal;
            &:hover{
                img{
                    transform: rotateY(12);
                }
            }
            .head-card{
                height: 50%;
                .img-link{
                    img{
                        width: 100%;
                        height: max-content;
                        padding: $wbu-margin;
                    }
                }
            }
        }
    }
}