@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@use "./evenex-theme-color.scss" as *;


.evenex-pricing-section-handler{
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 100vw;
    padding: $wbu-margin*4.85 0 $wbu-margin*3.44;
    @media only screen and (max-width: 990px) {
        //overflow-x: visible;
        .filter-overlay{
            height: 200%;
            width: 100%;
            padding: $wbu-margin;
        }
    }
    .filter-overlay{
        position: absolute;
        background-color: $evenex-blue-color;
        opacity: .91;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
    }
    &::before{
        overflow: hidden;
    }
    .bottom-img{
        position: absolute;
        transform: translateX(24.3px);
        left: 87%;
        top: 59%;
        opacity: 1;
        z-index: 2;
        pointer-events: none;
        img{
            transform: rotate(0deg);
            filter: blur(0px);
        }
    }
    .top-img{
        position: absolute;
        transform: translateX(-33.2px);
        left: 0%;
        top: 0%;
        opacity: 1;
        z-index: 2;
    }
    .pricing-content-handler{
        z-index: 2;
        position: relative;
        height: auto;
        text-align: center;
        .pricing-title{
            color: $evenex-light-color;
            margin: 0 0 3px;
            font-size: 48px;
            font-weight: 700;
            line-height: 54px;
            letter-spacing: -1.7px;
        }
        .pricing-cards{
            margin-bottom: $wbu-margin;
            margin-top: $wbu-margin*4;
            .active{
                width: min-content;
                &:before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: linear-gradient(100deg,#F94743 0%,#FF7C49 100%)!important;
                    transition: all linear .3s;
                    opacity: 1;
                    clip-path: circle(150% at 100% 10px);
                }
                    color: $evenex-light-color;
                    
                    .ticket-price{
                        color: $evenex-light-color;
                        &::after{
                            background-color: $evenex-light-color;
                            opacity: .8;
                        }
                    }
                    .ticket-title{
                        color: $evenex-light-color;
                    }
                    .ticket-description{
                        color: $evenex-light-color;
                    }
                    .booked-btn{
                        background: $evenex-light-color;
                    }
                
                
                margin-top: $wbu-margin;
                display: block;
                width: 100%;
                padding: $wbu-margin*2 $wbu-margin*1.4 !important;
                background: $evenex-light-color !important;
                -webkit-mask-image: url(https://i.ibb.co/myRzgmC/masking-pricing-table.png);
                overflow: hidden;
                mask-position: center center;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                position: relative;
                
            .card-content-active{
                margin-top: $wbu-margin;
                margin-bottom: $wbu-margin;
                z-index: 3;
                position: relative;
                text-align: center;
                display: flex;
                width: 300px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .ticket-title{
                    color: $evenex-light-color;
                    font-weight: 700;
                }
                .ticket-price{
                    font-weight: bold;
                    color: $evenex-light-color;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 3px;
                        background: $evenex-light-color;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .ticket-description{
                    position: relative;
                    margin: calc($wbu-margin*1.45) 0 calc($wbu-margin*1.14);
                    padding: $wbu-margin*1.8;
                }
                .ticket-btn-handler{
                    display: inline-block;
                    margin-top: $wbu-margin;
                    margin-bottom: $wbu-margin*2;
                    .booked-btn{
                        display: flex;
                        align-items: center;
                        position: relative;
                        font-weight: 500;
                        color: $evenex-orange-color;
                        padding: $wbu-margin*0.6 $wbu-margin*1.4;
                        border-radius: 5px;
                        vertical-align: middle;
                        text-decoration: none;
                        background: $evenex-light-color;
                        box-shadow: 0 15px 25px 0 rgb(249 71 67 / 30%);
            
                        &:hover{
                           color: $evenex-orange-color;
                        
                        }
                        .btn-text{
                            text-transform: capitalize;
                        }
                        .btn-icon{
                            margin-right: $wbu-margin*0.4;
                        }
                    }
                }
            }
            }
            .single-card{
                width: min-content;
                &:before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: linear-gradient(100deg,#F94743 0%,#FF7C49 100%)!important;
                    transition: all linear .3s;
                    opacity: 0;
                    clip-path: circle(50% at 100% 10px);
                }
                &:hover{
                    color: $evenex-light-color;
                    &:before{
                        opacity: .91;
                        clip-path: circle(150% at 100% 10px);
                    }
                    .ticket-price{
                        color: $evenex-light-color;
                        &::after{
                            background-color: $evenex-light-color;
                            opacity: .8;
                        }
                    }
                    .ticket-title{
                        color: $evenex-light-color;
                    }
                    .ticket-description{
                        color: $evenex-light-color;
                    }
                    .booked-btn{
                        background: $evenex-light-color;
                    }
                }
                
                margin-top: $wbu-margin;
                display: block;
                width: 100%;
                padding: $wbu-margin*2 $wbu-margin*1.4 !important;
                background: $evenex-light-color !important;
                -webkit-mask-image: url(https://i.ibb.co/myRzgmC/masking-pricing-table.png);
                overflow: hidden;
                mask-position: center center;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                position: relative;

            
            
            }
            .card-content{
                margin-top: $wbu-margin;
                margin-bottom: $wbu-margin;
                z-index: 3;
                position: relative;
                text-align: center;
                display: flex;
                width: 300px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .ticket-title{
                    color: $evenex-orange-color;
                    font-weight: 700;
                }
                .ticket-price{
                    font-weight: bold;
                    color: $evenex-dark-color;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 3px;
                        background: #f94743;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .ticket-description{
                    position: relative;
                    margin: calc($wbu-margin*1.45) 0 calc($wbu-margin*1.14);
                    padding: $wbu-margin*1.8;
                }
                .ticket-btn-handler{
                    display: inline-block;
                    margin-top: $wbu-margin;
                    margin-bottom: $wbu-margin*2;
                    .booked-btn{
                        display: flex;
                        align-items: center;
                        position: relative;
                        font-weight: 500;
                        color: $evenex-orange-color;
                        padding: $wbu-margin*0.6 $wbu-margin*1.4;
                        border-radius: 5px;
                        vertical-align: middle;
                        text-decoration: none;
                        background: $evenex-light-color;
                        box-shadow: 0 15px 25px 0 rgb(249 71 67 / 30%);
            
                        &:hover{
                           color: $evenex-orange-color;
                        
                        }
                        .btn-text{
                            text-transform: capitalize;
                        }
                        .btn-icon{
                            margin-right: $wbu-margin*0.4;
                        }
                    }
                }
            }
        }
    }
    .bottom-desc{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $evenex-light-color;
        z-index: 2;
        flex-wrap: wrap;
        text-align: center;
        position: relative;
        margin-top: $wbu-margin *2;
        .link-b{
            margin-left: $wbu-margin*0.3;
            font-weight: 700;
            color: $evenex-light-color;
            text-decoration: underline;
            text-transform: capitalize;
        }
    }
}