@use "../../../../../variables" as *;
@use "../../../../../wbu-ressources-clean.scss" as *;

.safety-handler {
  overflow: hidden;
  .security-service {
    display: flex;
    flex-direction: column;
    background: $wbu-background;
    color: color-yiq($wbu-background);
    position: relative;
    overflow: hidden;
    padding: 0 $wbu-margin;
    .image-block {
      display: none;
    }
    .handler {
      position: relative;
      padding: $wbu-margin;
      margin-bottom: $wbu-margin;
      display: flex;
      flex-direction: column;
      //align-items: justify; // Spaker cette valeur n'existe pas.
      justify-content: end;
    }
    .icon {
      // position: absolute;
      margin-bottom: $wbu-margin;
      font-weight: bold;
      text-align: justify;
      display: inline-block;
      /*position: relative;
      padding: $wbu-margin;
      margin-bottom: $wbu-margin;*/
      //top: 65px;
      //left: -130px;
      opacity: 0.6;
      svg {
        width: 330px;
        height: 330px;
      }
    }
    .head-title {
      margin-bottom: $wbu-margin;
      font-weight: bold;
      text-align: justify;
      display: inline-block;
    }
  }
  .reverse-class {
    display: flex;
    flex-direction: row;
  }
  .all-services {
    margin-bottom: $wbu-margin;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: end;
    .list-services {
      color: lighten($wbu-color-text, 30);
      text-align: left;
      padding-bottom: $wbu-margin;
      .element {
        list-style-type: disc;
        display: flex;
        padding-top: $wbu-margin * 0.5;
        &::before {
          content: "\2022";
          color: $wbu-color-primary;
          display: flex;
          padding-right: $wbu-margin;
        }
      }
    }
  }
  .head-title {
    font-weight: bold;
    text-align: left;
    margin-top: $space-inner-top;
    display: inline-block;
  }
  // variante avec l'icone qui est partielement caché.
  &--icon-partiel-hiden {
    .security-service {
      .handler {
        flex-direction: row;
        margin-bottom: 0;
        padding: $wbu-margin;
        @include media-min(DD) {
          padding: $wbu-margin * 3 $wbu-margin * 2 $wbu-margin * 2 $wbu-margin *
            2;
        }
      }
      .head-title {
        margin-top: 0;
      }
      .all-services {
        margin-bottom: 0;
      }
      .icon {
        position: absolute;
        max-width: 300px;
        width: 100%;
        left: -140px;
        bottom: auto;
        top: 45%;
        right: auto;
        opacity: 0.9;
        svg,
        i {
          width: 300px;
          height: auto;
        }
      }
    }
    .call-info {
      background-color: $wbu-color-primary;
      color: color-yiq($wbu-color-primary);
      .handler {
        padding: $wbu-margin;
        @include media-min(DD) {
          padding: $wbu-margin * 3 $wbu-margin * 2 $wbu-margin * 2 $wbu-margin *
            2;
        }
      }
      .head-title {
        margin-top: 0;
      }
      .icon {
        position: absolute;
        max-width: 300px;
        width: 100%;
        right: -140px;
        left: auto;
        bottom: auto;
        top: 45%;
        text-align: right;
        opacity: 0.9;
        svg,
        i {
          width: 300px;
          height: auto;
        }
      }
    }
  }
}
// On recherche l'interet de ce block.
// Les derivées sont present au niveax de drupal, donc c'est assez urgent.
// hot_models/src/Plugin/Layout/Sections/HotModelsSafetyHandler.php
// au niveau drupal on a 3 derivées ou sont utilisé ces derniers ?.
/*
.all-services {
  margin-top: $wbu-margin * 0.5;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  .list-services {
    color: lighten($wbu-color-text, 30);
    text-align: left;
    padding-bottom: $wbu-margin;
  }
  &--reverse {
    .reverse-class {
      flex-direction: row-reverse;
    }
    .security-service {
      .icon {
        opacity: 1;
      }
    }
    .call-info {
      .icon {
        opacity: 1;
      }
    }
    .security-service {
      padding: 0;
      .handler,
      .head-title,
      .icon {
        display: none;
      }
      .image-block {
        display: block;
        height: 100%;
        min-height: 300px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &--image-right {
    .security-service {
      .icon {
        opacity: 1;
      }
    }
    .call-info {
      padding: 0;
      .icon,
      .head-title,
      .phone-number {
        display: none;
      }
      .image-block {
        display: block;
        height: 100%;
        min-height: 300px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &--image-left {
    .call-info {
      .icon {
        opacity: 1;
      }
    }
    .security-service {
      padding: 0;
      .handler,
      .head-title,
      .icon {
        display: none;
      }
      .image-block {
        display: block;
        height: 100%;
        min-height: 300px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
*/
