@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@mixin hr_separation(
  $bottom: $wbu-margin,
  $height: 5px,
  $width: 60px,
  $color: "#fff"
) {
  position: relative;
  z-index: 1;
  &::after,
  &::before {
    background-color: $color;
    bottom: -$wbu-margin;
    content: "";
    height: $height;
    left: 0;
    position: absolute;
    width: $width;
    z-index: 2;
  }
  &::after {
    width: $width * 0.333;
    background-color: $wbu-color-primary;
    left: $width * 0.333;
    z-index: 3;
  }
}
