@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../_variables" as *;
.vixon-heading {
  padding-left: $wbu-margin;
  position: relative;
  .stroked-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $wbu-color-boder;
    //font-size: $wbu-titre-suppra;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }
  .head-title {
    margin-top: $wbu-margin * 0.5;
    font-weight: 700;
    line-height: 1.2;
    word-break: break-word;
    margin-left: $wbu-margin * 6.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    color: black;
    &::before {
      content: "";
      position: absolute;
      left: -140px;
      //top: 20px;
      width: 100px;
      height: 3px;
      background: $wbu-color-primary;
    }
  }
  .title-description {
    line-height: 1.5;
    margin-top: $wbu-margin;
    margin-left: $wbu-margin * 6.5;
    //font-size: $wbu-h5-font-size;
  }
  @media only screen and (max-width: 560px) {
    .stroked-text {
      //font-size: $wbu-h1-font-size;
    }
    .head-title {
      margin-left: 0;
      // &::before{
      //     display: none;
      // }
    }
    .title-description {
      margin: 0;
    }
  }
}
