@use "../../../../../wbu-ressources-clean.scss" as *;
@use "swiper/css/pagination";
.carousel-nav {
  display: inline-flex;
  align-items: center;
  position: absolute;
  // bottom: 0%;
  // z-index: 10;
  // left: 0;
  .swiper-pagination-bullet {
    margin: 0 5px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 17px;
    height: 17px;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.3s;
    color: transparent;
    &-active {
      width: 35px;
      height: 7px;
      border-radius: 10px;
      opacity: 1;
    }
  }
  &--black {
    .swiper-pagination-bullet {
      background-color: black;

      &-active {
        opacity: 1;
      }
    }
  }
  &--carree {
    .swiper-pagination-bullet {
      width: 17px;
      height: 17px;
      border-radius: 0;
      opacity: 0.3;
      &-active {
        width: 17px;
        height: 17px;
        opacity: 1;
      }
    }
  }
  &--right {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 10% !important;
    left: initial !important;
    right: 30% !important;
    width: auto !important;
  }
}
.carousel-testy {
  .swiper-wrapper {
    height: auto;
  }
  .carousel-nav {
    position: relative;
    bottom: 0;
    width: auto;
  }
}
.project-tabs {
  .swiper-wrapper {
    height: auto;
    position: relative;
  }
  .carousel-nav {
    width: 100%;

    position: absolute;
    bottom: 17%;
    left: 10%;
    display: flex;
    justify-content: center;
    @include media-max(SM) {
      position: relative;
      bottom: 0;
      margin: 3rem;
      width: auto;
      left: initial;
    }
  }
}
.carousel-testy-nav {
  overflow: hidden;
  padding: 1rem;
  .swiper-wrapper {
    height: auto;
    align-items: center;
    @include media-min(MS) {
      width: 80%;
      //margin: 0 auto;
    }
    @include media-min(M) {
      width: 100%;
      margin: 0;
    }
  }
  .carousel-nav {
    width: auto;
    position: relative;
    bottom: 0;
  }
  .swiper-slide {
    //max-width: 65rem;

    & > div {
      width: 100%;
    }

    // @include media-min(MD) {
    //   & > div {
    //     width: 80%;
    //   }
    // }
    @include media-min(DD) {
      & > div {
        width: 80%;
      }
    }
    @include media-min(M) {
      & > div {
        width: 100%;
      }
    }
  }
  .swiper-slide:not(.swiper-slide-active) {
    //max-width: fit-content;
    width: 60%;
    .single-testimonial {
      padding: 0;
      box-shadow: none;
      .testimony-handler {
        display: none;
      }
    }
  }
  .swiper-slide {
    &-next {
      .single-testimonial--flex {
        .img-handler {
          padding: 0;
          img {
            max-width: 150px;
          }
        }
        justify-content: start;
      }
    }
    &-prev {
      .single-testimonial--flex {
        .img-handler {
          padding: 0;
          img {
            max-width: 150px;
          }
          .social-link {
            display: none;
          }
        }
        justify-content: end;
      }
    }
  }
  .swiper-button {
    &-prev,
    &-next {
      width: 70px;
      height: 50px;
      border: 1px solid rgb(34 34 34 / 30%);
      color: #000000;
      display: flex;
      align-items: center;
      z-index: 99;
      justify-content: center;
      position: absolute;
      top: 40%;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      outline: none;
      background: white;
      @include media-max(DD) {
        display: none;
      }
    }
    &-prev {
      left: -2%;
      &::before {
        content: "←";
        color: #000000;
        font-weight: 700;
        font-family: "slick";
        font-size: 3rem;
        opacity: 0.75;
      }
    }
    &-next {
      right: -2%;
      &::before {
        content: "→";
        color: #000000;
        font-weight: 700;
        font-family: "slick";
        font-size: 3rem;
        opacity: 0.75;
        margin-bottom: 5px;
      }
    }
    @include media-min(LM) {
      &-next {
        right: -10%;
      }
      &-prev {
        left: -10%;
      }
    }
  }
}
.carousel-testy-nav-rond {
  overflow: hidden;
  padding: 1rem;

  .swiper-wrapper {
    margin: 0 auto;
    // overflow: hidden;
    height: auto;
  }
  .carousel-nav {
    position: relative;
    bottom: 0;
    width: auto;
  }
  .swiper-button {
    &-prev,
    &-next {
      width: 50px;
      height: 50px;
      border: 1px solid $wbu-background;
      color: #000000;
      display: flex;
      align-items: center;
      z-index: 99;
      justify-content: center;
      position: absolute;
      top: 50%;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      outline: none;
      background: white;
      border-radius: 50%;
      @include media-max(DD) {
        display: none;
      }
    }
    &-prev {
      left: -6%;
      &::before {
        @include wbu__angle-right($wbu-background, 20);
        width: 2rem;
        height: 2rem;
        content: "";
        transform: rotate(-180deg);
      }
    }
    &-next {
      right: -6%;
      &::before {
        @include wbu__angle-right($wbu-background, 20);
        width: 3rem;
        height: 3rem;
        content: "";
      }
    }
    @include media-min(LM) {
      &-next {
        right: -14%;
      }
      &-prev {
        left: -14%;
      }
    }
  }
}
.bloc-carousel {
  position: relative;
}
