@use "../../../../../wbu-ressources-clean.scss" as *;

.swiper-pagination {
  display: inline-flex;
  align-items: center;
  position: absolute;
  // bottom: 0%;
  // z-index: 10;
  // left: 0;
  .swiper-pagination-bullet {
    margin: 0 5px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.3s;
    color: transparent;
    &-active {
      width: 35px;
      height: 7px;
      border-radius: 10px;
      opacity: 1;
    }
  }
}
