@use "../../../../../wbu-ressources-clean.scss" as *;
@use "swiper/css/pagination";
.carousel-nav {
  display: inline-flex;
  align-items: center;
  position: absolute;
  // bottom: 0%;
  // z-index: 10;
  // left: 0;
  .swiper-pagination-bullet {
    margin: 0 5px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 17px;
    height: 17px;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.3s;
    color: transparent;
    &-active {
      width: 35px;
      height: 7px;
      border-radius: 10px;
      opacity: 1;
    }
  }
  &--black {
    .swiper-pagination-bullet {
      background-color: black;

      &-active {
        opacity: 1;
      }
    }
  }
  &--carree {
    .swiper-pagination-bullet {
      width: 17px;
      height: 17px;
      border-radius: 0;
      opacity: 0.3;
      &-active {
        width: 17px;
        height: 17px;
        opacity: 1;
      }
    }
  }
  &--right {
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 10% !important;
    left: initial !important;
    right: 30% !important;
    width: auto !important;
  }
}
.carousel-testy {
  .swiper-wrapper {
    height: auto;
  }
  .carousel-nav {
    position: relative;
    bottom: 0;
    width: auto;
  }
}
.project-tabs {
  .swiper-wrapper {
    height: auto;
    position: relative;
  }
  .carousel-nav {
    width: 100%;

    position: absolute;
    bottom: 17%;
    left: 10%;
    display: flex;
    justify-content: center;
    @include media-max(SM) {
      position: relative;
      bottom: 0;
      margin: 3rem;
      width: auto;
      left: initial;
    }
  }
}
