@use "../../../../../wbu-ressources-clean.scss" as *;

.mitor-comment-article {
  color: #000000;
  margin-bottom: $wbu-margin * 2;
  display: flex;
  justify-content: space-between;

  .lutin-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  .comment-info {
    margin-left: $wbu-margin;
  }
  .commentor {
    font-weight: bold;
    margin-top: $wbu-margin * 0.5;
    margin-bottom: $wbu-margin * 0.5;
  }
  .comment-content {
    line-height: 2.5rem;
  }
  .reply {
    margin-top: $wbu-margin;
  }
  .reply-link {
    color: #000000;
    &:hover {
      text-decoration: none;
    }
  }
}
