@use "../../../../../wbu-ressources-clean.scss" as *;

.mitor-btn {
  display: inline-block;

  font-size: $wbu-default-font-size;
  background-color: $wbu-background;
  box-shadow: 0 0 12px rgb(120 113 105 / 60%);
  border: 1px solid $wbu-background;
  padding: 1.3rem 3rem;
  display: inline-block;
  border-radius: 50px;
  transition: background-color ease-in-out 0.3s, border-color 0.28s,
    transform ease-in-out 0.3s;
  text-transform: capitalize;
  margin-right: 1rem;
  margin-left: 1rem;
  position: relative;
  &,
  a {
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  a {
    @include cover-link();
  }
  p {
    margin: 0;
  }
  &:hover {
    color: white;
    text-decoration: none;
    background-color: lighten($wbu-background, 20);
    border-color: lighten($wbu-background, 20);
    // transform: scale(1.01);
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.mitor-play-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  .mtb-play {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: #fff;
    transition: height 0.25s ease, width 0.25s ease;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    &:hover {
      &::after,
      &::before {
        animation: none;
      }
    }
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }

    &::after {
      animation: ripple 2s linear 1s infinite;
    }
    &::before {
      animation: ripple 2s linear infinite;
    }
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}
@keyframes ripple {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.75);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
