@import "@stephane888/wbu-atomique/scss/libraries/_inline-svg.scss";
$svg_quote: '<svg width="800px" height="800px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.8533 9.11599C11.3227 13.9523 7.13913 19.5812 6.30256 26.0029C5.00021 36 13.9404 40.8933 18.4703 36.4967C23.0002 32.1002 20.2848 26.5196 17.0047 24.9942C13.7246 23.4687 11.7187 24 12.0686 21.9616C12.4185 19.9231 17.0851 14.2713 21.1849 11.6392C21.4569 11.4079 21.5604 10.9591 21.2985 10.6187C21.1262 10.3947 20.7883 9.95557 20.2848 9.30114C19.8445 8.72888 19.4227 8.75029 18.8533 9.11599Z" fill="#000000"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38.6789 9.11599C31.1484 13.9523 26.9648 19.5812 26.1282 26.0029C24.8259 36 33.7661 40.8933 38.296 36.4967C42.8259 32.1002 40.1105 26.5196 36.8304 24.9942C33.5503 23.4687 31.5443 24 31.8943 21.9616C32.2442 19.9231 36.9108 14.2713 41.0106 11.6392C41.2826 11.4079 41.3861 10.9591 41.1241 10.6187C40.9519 10.3947 40.614 9.95557 40.1105 9.30114C39.6702 8.72888 39.2484 8.75029 38.6789 9.11599Z" fill="#000000"/></svg>';

background: rgba($wbu-color-primary, 0.33);
.container {
  max-width: 1000px;
  .files__items {
    .block_2 {
      // box-shadow: 1px 1px 13px #bdbdbd;
      // border: 1px solid #b5b3b3;
      border-radius: 5px;
      overflow: hidden;
      background-color: #fff;
    }
  }
  .items {
    @include media-min(DD) {
      display: flex;
    }
    .item {
      &.files {
        .content-file {
          display: flex;
          flex-direction: column;
          .layout-region.main {
            margin: 0.5rem 0;
            font-weight: 600;
          }
          .layout-region.block_2 {
            order: -2;
            min-height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            img {
              width: 100%;
              max-width: 100%;
              height: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }
        }
        .blocks_contents__file_download__default {
          height: 100%;
          .block_3 {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            a {
              color: inherit;
              &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
              }
            }
          }
        }
      }
      @include media-min(DD) {
        &.texte {
          width: 55%;
          .comment {
            padding-left: 3rem;
            @include background-svg($svg_quote);
            background-size: 5rem;
            background-repeat: no-repeat;
            padding-top: 3rem;
            padding-left: 4rem;
            @include media-min(MD) {
              background-size: 8rem;
              background-position: -5px top;
              padding-top: 3.5rem;
              padding-left: 8rem;
            }
            @include media-min(DD) {
              padding-right: 4rem;
            }
          }
        }
        &.files {
          width: 45%;
        }
      }
    }
  }
}
