@use "../../../../wbu-ressources-clean.scss" as *;
@use "./mollecules/product-ban.scss";
@use "./atomes/product-tag.scss";
@use "./atomes/product-love-icon.scss";
@use "./mollecules/product-gallery.scss";
@use "./mollecules/product-description.scss";
@use "./mollecules/product-vote.scss";
@use "./mollecules/product-pricer__item.scss";
.product-block {
    border: 1px solid red;
    padding-left: 4rem;
    padding-right: 4rem;
    .product-content {
        border: 1px solid green;
        width: 100%;
        display: block;
        .col-md-6 {
            border: 1px solid black;
        }
        .product-tager {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        .product-pricer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}