@use "../wbu-ressources-clean.scss" as *;
@use "../variables";

.webform_id {
  background-color: rgb(126 131 141) !important;
  background: url("/modules/contrib/drag_and_drop_files/images/bg1.webp");
  background-size: 100% auto;
  background-position: bottom;
  background-attachment: fixed;
  .dialog-off-canvas-main-canvas {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(47 62 99);
      opacity: 0.8;
      content: "";
      z-index: -2;
    }
  }
}
.user-webform,
.container.user-webform {
  max-width: 1100px;
}
.user-webform {
  margin-top: 5rem;
  margin-bottom: 5rem;
  @include media-min(DD) {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  //background-color: #fff;
  padding: 4rem;
  border-radius: 20px;
  .breadcrumb {
    color: #f0f8ff;
    a {
      color: #f0f8ff;
    }
  }
  .webform-container {
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
  }
  .title {
    margin-bottom: 5rem;
    color: #fff;
  }
  .description-form {
    margin-top: -2rem;
    margin-bottom: 5rem;
    p {
      margin: 0;
      & + p {
        margin-top: 1rem;
      }
    }
  }
  .add-submision {
    color: #f0f8ff;
  }

  .webform-containers {
    // display: grid;
    // grid-template-columns: 2fr 2fr;
    // grid-gap: 2rem;
    // grid-template-areas: "left right";
    display: grid;
    /* Auto-fit as many items on a row as possible without going under 180px */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* A little spacing between articles */
    grid-gap: 1em;
    grid-auto-flow: dense;
    grid-auto-rows: max-content;
  }
  //
  .sousmissions {
    margin-bottom: 3rem;
    .sousmission {
      margin-bottom: 1.5rem;
      background-color: #f0f8ff;
      padding: 1.5rem;
      border-radius: 15px;
      display: flex;
      align-items: center;
      .titre {
        width: calc(100% - 80px);
      }
      a {
        color: #000;
        font-weight: 600;
      }
      .svg-1 {
        padding: 0.5rem;
        border: 1px solid $wbu-color-primary;
        border-radius: 10px;
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
        background-color: rgba($wbu-color-primary, 10%);
        path {
          stroke: $wbu-color-primary;
        }
      }
    }
  }
  .add_submision {
    .svg-icon-plus {
      background: $wbu-color-primary;
      border-radius: 50%;
      padding: 0.5rem;
      margin-left: 0.5rem;
      path {
        stroke: #fff;
        fill: #fff;
      }
    }
  }

  .webform-submission-navigation,
  .webform-submission-information {
    display: none;
  }
}
.user-list-webform {
  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .item {
      width: 300px;
      text-align: center;
      margin-left: 3rem;
      margin-right: 3rem;
      box-shadow: 1px 1px 13px 0px #aba8a8;
      border-radius: 10px;
      min-height: 250px;
      position: relative;
      margin-bottom: 5rem;
      .item--title {
        padding: 2rem;
        background-color: $wbu-background;
        color: color-yiq($wbu-background);
        border-radius: 10px 10px 0 0;
        position: relative;
        overflow: visible;
        padding-bottom: 5.5rem;
      }
      .number {
        color: $wbu-background;
        background-color: #fff;
        position: absolute;
        font-weight: 700;
        left: 50%;
        right: auto;
        top: calc(100% - 33px);
        bottom: auto;
        height: 64px;
        width: 64px;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 1px 1px 11px #ccc inset;
      }
    }
  }
}
