@use "../../../../../wbu-ressources-clean.scss" as *;
.product-ban {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $wbu-background;
  position: relative;
  @include bp_h3();
  margin-bottom: $wbu-margin;
  padding: $wbu-margin * 0.5 0;
}
