@use "../../../../../wbu-ressources-clean.scss" as *;
@use "./product-gallery__bullets.scss";
.product-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    img {
        cursor: url(https://www.nocibe.fr/res/fr_FR/images/products/viewer.svg?frz-v=4385) 15 15,pointer;
    }
    @include media-max(MD) {
        flex-direction: row;
    }
    &__image {
        width: 100%;
        display: flex;
        padding: 2rem;
        position: relative;
        &_vids {
            width: 100%;
            @include media-max(MD) {
                display: none;
            }
        }
        img {
            width: 100%;
        }
    }
    &__two_image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img {
            width: 50%;
            padding: 2rem;
        }
        @include media-max(MD) {
            img {
                width: 100%;
            }
        }
    }
    .product-gallery__bullets { 
        position: relative;
    }
}