@use "../../../../../wbu-ressources-clean.scss" as *;
.product-description {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    color: $wbu-color-secondary;
    @include media-max(MD) {
        align-items: center;
    }
    &__name {
        font-size: $wbu-h3-font-size;
        font-weight: 600;
    }
    &__subname {
        font-size: $wbu-default-font-size;
    }
}