@use "../../../../../wbu-ressources-clean.scss" as *;
.product-card__plus {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: #f4f4f4;
    overflow: hidden;
    border-radius: 0.3rem;
    &__product {
        border: 1px solid red;
        padding: 0;
        display: inline-block;
        &__icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
            text-align: center;
            border-radius: 50%;
            background: #ddd;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 16px;
            border: 1px solid black;
            justify-content: space-between;
            &_img {
                background-color: #fff;
                min-height: 100px;
                width: 100%;
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
            &_desc {
                background-color: #fff;
                padding: 0.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
                &_name {
                    font-weight: 600;
                    font-family: $wbu-h4-font-size;
                    line-height: $wbu-default-line-height;
                }
                &_type { 
                    background-color: #fff;
                    font-size: 1.2rem;
                }
                &_text {
                    font-size: 1.2rem;
                    background-color: #fff;
                }
                &_price {
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-weight: 600;
                }
            }
            &_cont {
                background-color: #fff;
                margin-top: 1rem;
                border: 1px solid #ddd;
                width: 100%;
                color: $wbu-color-secondary;;
                padding: 1rem;
                font-size: $wbu-default-font-size;
                border-radius: 4rem;
                text-align: center;
            }
        }
    }
    &__subtitle {
        font-size: $wbu-default-font-size;
        font-weight: 600;
        color: $wbu-color-secondary;
        padding: 1.6rem 0 1.6rem 0;
    }
    &__product {
        padding: 1.6rem;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__icon {
        background: #ddd;
        border: 1px solid black;
    }
}