@use "../../../../../wbu-ressources-clean.scss" as *;
.product-gallery__bullets{
    display: none;
    //display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
    //border: 1px solid black;
    
    &_item {
        background: gray;
        display: block;
        border-radius: 0.2rem;
        padding: 0 1rem 0 1rem;
        margin: 0 1rem 0 1rem;
        height: 0.5rem;
        width: 3rem;
        &_selected {
            background: $wbu-background;
        }
        &:hover {
            background: $wbu-background;
            cursor: pointer;
        }
    }
    @include media-max(MD) {
        display: flex;
    }
}