@use "../../../../../wbu-ressources-clean.scss" as *;
.product-card__plus {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: #f4f4f4;
    overflow: hidden;
    border-radius: 0.3rem;
    &__subtitle {
        border: 1px solid red;
        font-size: $wbu-default-font-size;
        font-weight: 600;
        color: $wbu-color-secondary;
        padding: 1.6rem 0 1.6rem 0;
    }
    &__product {
        border: 1px solid red;
        padding: 1.6rem;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__icon {
        background: #ddd;
        border: 1px solid black;
    }
}