@use "../../../../../wbu-ressources-clean.scss" as *;
.product-price__quality {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0 0 0;
    &__text {
        font-size: $wbu-default-font-size;
    }
    &__image {
        margin-right: 0.8rem;
        max-width: 2.6rem;
        vertical-align: middle;
        img {
            display: block;
            position: relative;
            width: 100%;
        }
    }
}