@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
.portfolio-wrap {
    transition: 0.3s;
    position: relative;
    margin-bottom: $wbu-margin;
    overflow: hidden;
    z-index: 1;
    background: rgba($wbu-background, $alpha: 0.6);

    img {
      transition: all ease-in-out 0.3s;
    }

    .portfolio-info {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      display: none;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 20px;

      &_title {
        font-weight: 600;
        color: color_yiq($wbu-background);
      }

      &_text {
        text-transform: uppercase;
        color: color_yiq($wbu-background);
        padding: 0;
        margin: 0;
        font-style: italic;
      }
    }

    .portfolio-links {
      text-align: center;
      z-index: 4;
      display: flex;
      color: color_yiq($wbu-background);
      flex-direction: row;
      a {
        text-decoration: none;
        margin: 0 5px 0 0;
        font-size: 28px;
        display: inline-flex;
        transition: 0.3s;
      }
    }
    &:hover {
      &::after {
        opacity: 1;
      }
      .portfolio-info {
        display: flex;
      }
    }
    &::after {
      content: "";
      background: rgba($wbu-background, $alpha: 0.6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all ease-in-out 0.3s;
      z-index: 2;
      opacity: 0;
    }
}