@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@use "./atome/section-title.scss";

.spaker_mod_contact {
  padding-top: $space_bottom;
  .contact-about {
    h3 {
      margin: 0 0 10px 0;
      padding: 0;
      line-height: 1;
      font-weight: $wbu-title-font-weight + 1;
      letter-spacing: 1px;
    }

    p {
      line-height: 24px;
    }
  }

  .social-links {
    padding-bottom: 20px;

    a {
      display: inline-block;
      background: color-yic($wbu-color-primary);
      color: $wbu-color-primary;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      border: 1px solid $wbu-color-primary;
      text-decoration: none;

      i {
        color: $wbu-color-primary;
      }

      &:hover {
        background: $wbu-color-primary;
      }

      &:hover i {
        color: #fff;
      }
    }
  }

  .info {

    svg {
      color: $wbu-color-primary;
      float: left;
      line-height: 1;
    }

    &_text {
      line-height: 28px;
    }

    div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .php-email-form {
    .form-group {
      margin-bottom: 20px;
    }

    input,
    textarea {
      border-radius: 0;
      box-shadow: none;
      padding: 10px 15px;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
    }

    .error-message {
      display: none;
      background: $wbu-background;
      text-align: left;
      padding: 15px;
      font-weight: $wbu-title-font-weight;
    }

    .sent-message {
      display: none;
      background: $wbu-background;
      text-align: center;
      padding: 15px;
      font-weight: $wbu-title-font-weight;
    }

    button[type="submit"] {
      background: $wbu-color-primary;
      border: 0;
      padding: 15px 24px 10px 24px;
      transition: 0.4s;
      border-radius: 50px;

      a {

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background: $wbu-color-secondary;
      }
    }
  }
}