@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
//@use "./atome/section-title.scss";

.spaker_mod_contact {
  padding-top: $space_bottom;

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $wbu-margin;
    svg {
      fill: $wbu-background;
      line-height: 1;
    }
    &_text {
      line-height: 28px;
      margin-left: $wbu-margin;
    }
  }

  .php-email-form {
    .form-group {
      margin-bottom: 20px;
    }

    input,
    textarea {
      border-radius: 0;
      box-shadow: none;
      padding: 10px 15px;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
    }

    .error-message {
      display: none;
      background: $wbu-background;
      text-align: left;
      padding: 15px;
      font-weight: $wbu-title-font-weight;
    }

    .sent-message {
      display: none;
      background: $wbu-background;
      text-align: center;
      padding: 15px;
      font-weight: $wbu-title-font-weight;
    }

    button[type="submit"] {
      background: $wbu-color-primary;
      border: 0;
      padding: 15px 24px 10px 24px;
      transition: 0.4s;
      border-radius: 50px;

      a {
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background: $wbu-color-secondary;
      }
    }
  }
}
