@use "../../../../../wbu-ressources-clean.scss" as *;
.aranoz-product-teaser {
  @include WBUtransition();
  margin-bottom: $wbu-margin;
  &__text {
    margin: 0;
    padding-top: $wbu-margin * 1.5;
    padding-bottom: $wbu-margin * 1.5;
    @include WBUtransition();
    .icons {
      @include WBUtransition();
      opacity: 0;
    }
    svg {
      fill: currentColor;
      height: $wbu-margin;
      width: $wbu-margin;
    }
  }
  &:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
    .aranoz-product-teaser__text {
      padding: $wbu-margin * 1.5;
      .icons {
        opacity: 1;
      }
      .svg-wishlist {
        &:hover {
          fill: $wbu-color-primary;
          cursor: pointer;
        }
      }
    }
  }
}
