@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../atome/hotlock-btn.scss";

.hotlock-hero {
  position: relative;
  width: 100%;

  .img-bloc {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    > * {
      display: flex;
      flex-grow: 2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.5;
      background: black;
      position: absolute;
      z-index: 0;
      pointer-events: none;
    }
  }
  .hth-content {
    position: relative;
    &__container {
      min-height: 600px;
      padding: $space_inner_top 0;
    }
    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
    }
    .title {
      margin-bottom: $wbu-margin;
      color: darken($color: $wbu-color-boder, $amount: 5);
      font-weight: lighter;
    }
    .sub-title {
      color: white;
    }
    .htl-btn {
      //margin-top: $space-top;
      margin-bottom: $wbu-margin;
    }
  }
}
