@use "../../../../../wbu-ressources-clean.scss" as *;

.services-testimony {
  margin: 0;
  position: relative;
  .done {
    background: $wbu-color-primary;
    position: relative;
  }
  .all-single-services {
    //padding: $wbu-margin * 4 $wbu-margin; #if you need to change it just check the layout
    // i close it cose i will want to add some image that take all the layout size
    // thanks : tmc @ habeuk
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      height: 100%;
    }
    .services {
      &:first-child {
        margin-left: $wbu-margin * -1;
      }
      .icon {
        color: color-yiq($wbu-color-primary);
        margin-bottom: $wbu-margin * 1.5;
      }
      .number {
        margin-bottom: $wbu-margin * 1.5;
        color: color-yiq($wbu-color-primary);
      }
      .title {
        color: color-yiq($wbu-color-primary);
        font-weight: bold;
      }
      svg {
        max-width: 80px;
        max-height: 80px;
        width: 100%;
      }
    }
  }
  .testimony-handler {
    background: $wbu-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .testimony {
      padding: $wbu-margin * 3;
      max-width: 100%;
      width: 100%;
      &::before {
        content: "";
        height: 2px;
        width: 70px;
        display: block;
        margin-bottom: $wbu-margin;
        background: $wbu-color-primary;
      }
    }
    .title {
      color: color-yiq($wbu-background);
      font-weight: bold;
      margin-bottom: $wbu-margin;
    }
    .slider-container {
      position: relative;
      margin-bottom: $wbu-margin;
      text-align: justify;
      color: color-yiq($wbu-background);
      display: block;
      max-width: 100%;
      width: 100%;

      .speech {
        padding-right: $wbu-margin;
        color: color-yiq($wbu-background);
      }
      .info {
        display: flex;
        margin-bottom: $wbu-margin;
        align-items: center;
        .author {
          color: color-yiq($wbu-background);
        }
        .company-name {
          padding: 0 0 0 $wbu-margin * 0.5;
          color: rgba($color: $wbu-color-boder, $alpha: 0.5);
        }
      }
    }
  }
}
