@use "../model/custom_bp.scss" as *;
@use "../../variables" as *;

/**
 *  Breack point hero.
 */
@mixin bp_hero() {
  font-size: $wbu-h1-font-size-sm;
  @include media-min(SM) {
    font-size: $wbu-titre-big-sm;
  }
  @include media-min(DD) {
    font-size: $wbu-titre-big-md;
  }
  @include media-min(M) {
    font-size: $wbu-titre-big;
  }
  @include media-min(LM) {
    font-size: $wbu-titre-biggest;
  }
}

@mixin wbu-titre-suppra() {
  font-size: $wbu-titre-suppra-xs;
  @include media-min(SM) {
    font-size: $wbu-titre-suppra-sm;
  }
  @include media-min(DD) {
    font-size: $wbu-titre-suppra-dd;
  }
  @include media-min(M) {
    font-size: $wbu-titre-suppra-m;
  }
  @include media-min(LM) {
    font-size: $wbu-titre-suppra;
  }
}

/**
 *  Breack point h1.
 */
@mixin bp_h1() {
  font-size: $wbu-h1-font-size-sm;
  @include media-min(DD) {
    font-size: $wbu-h1-font-size-md;
  }
  @include media-min(M) {
    font-size: $wbu-h1-font-size;
  }
}

/**
 *  Breack point h2.
 */
@mixin bp_h2() {
  font-size: $wbu-h2-font-size-sm;
  @include media-min(DD) {
    font-size: $wbu-h2-font-size;
  }
}

/**
 *  Breack point h3.
 */
@mixin bp_h3() {
  font-size: $wbu-h3-font-size-sm;
  @include media-min(DD) {
    font-size: $wbu-h3-font-size;
  }
}

/**
 *  Breack point h4.
 */
@mixin bp_h4() {
  font-size: $wbu-default-font-size;
  @include media-min(DD) {
    font-size: $wbu-h4-font-size;
  }
}

/**
 *  Breack point h5.
 */
@mixin bp_h5() {
  font-size: $wbu-h5-font-size;
}

/**
 *  Breack point h6.
 */
@mixin bp_h6() {
  font-size: $wbu-h6-font-size;
}
