@use "../../../../../variables" as*;
@use "./../../../../../wbu-ressources-clean.scss" as *;



.slide2{
    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_1589823133v2-EDIT_1512x.jpg?v=1672929603');
    background-repeat: no-repeat;
    background-size: cover;
   
   color: color-yiq($wbu-color-primary);
    .slide2-container{
        max-width: 40%;
       text-align: center;
      .slide2-container-texte{
        height: 100%;
        padding-top: 60%;
        
      }
      .btn{

        &:hover{
           opacity: 0.5;
            
        }
    }
      
    }
 }



















