@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;

.mitor-core-value-section-handler {
  // background: $wbu-background;
  display: flex;
  position: relative;
  //derivée height 100%
  &--bg-img {
    height: 100vh;
    background: url(https://ludoviccreative.com/storage/2022/05/3-450x328.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .section-header {
    position: relative;
    z-index: 5;
    .section-title {
      padding-top: $wbu-margin;
      padding-bottom: $wbu-margin;
      text-align: center;
    }
    .section-desc {
      padding-top: $wbu-margin;
      text-align: center;
      padding-bottom: $wbu-margin;
    }
  }
  .value-list {
    position: relative;
    z-index: 5;
  }
}
