@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;

.mitor-section-title {
  padding: $space-bottom 0;
  .section-header {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    margin-bottom: 7rem;
    .section-title {
      max-width: 700px;
      font-weight: bold;
      @include bp_h2();
      text-align: center;
      color: black;
      margin: 0 auto;
      margin-bottom: $wbu-margin;
    }
    .section-desc {
      text-align: center;
      margin: 0 auto;
      font-weight: $wbu-default-font-size;
    }
  }
}
