@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;

.single-item {
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  margin: $wbu-margin * 0.5;
  overflow: hidden;
  border-radius: 5px;
  .img-handler {
    img {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .content {
    .content-link {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: $wbu-margin * 0.8 0;
      font-weight: 500;
      background-size: 200% 100%;
      background-position: right bottom;
      position: relative;
      color: black;
      z-index: 1;
      text-transform: capitalize;
      &::before {
        content: "";
        z-index: -1;
        color: $wbu-color-boder;
        position: absolute;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        left: 0;
        width: 0;
        height: 100%;
        background: $wbu-background;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
