@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;

.mitor-contact-hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 65vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .titles-handler {
    position: relative;
    z-index: 3;
    color: $wbu-border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 2rem;
      color: white;
    }

    .divider {
      display: none;
    }

    .title-desc {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: initial;
      padding: 0;
      gap: 2rem;
    }

    .parent-route {
      font-size: $wbu-default-font-size;
      color: white;
      text-transform: capitalize;
      padding: 1rem 0;
      margin: 0 1rem;

      a {
        display: inline-block;
        color: white;
      }

      a:hover {
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
      }

      &:last-child {
        pointer-events: none;

        a {
          color: black;
          pointer-events: none;
        }
      }

      &:first-child {
        list-style: none;
      }
    }
  }

  &--vixcon {
    min-height: 65vh;

    // &::before {
    //   opacity: 0.9;
    // }

    .titles-handler {
      .title {
        letter-spacing: 2px;
        text-transform: capitalize !important;
        font-size: $wbu-titre-big-sm;
      }

      .divider {
        width: 100px;
        height: 6px;
        display: block;
      }

      .title-desc {
        list-style: none;

        li:not(:first-of-type)::before {
          content: "/";
          margin-right: 1.5rem;
        }
      }
      .parent-route {
        margin: 0 0rem;
        font-size: $wbu-h5-font-size;

        &:last-child {
          pointer-events: none;

          a {
            color: white;
            pointer-events: none;
          }
        }
      }
    }
  }
}
