@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;
@use "./molecule/mitor-blog.scss";


.mitor-blogs-section-handler{
    .initial{
        display: none;
    }
    .reverse{
        display: none;
    }
    .reversed-comment{
        display: block;
        .media-link{
            display: flex;
            align-items: center;
            padding: $wbu-margin;
            border-bottom: 1px solid #eee;
            .caption{
                font-weight: 800;
                margin-right: $wbu-margin;
                text-transform: capitalize;
                font-size: $wbu-h5-font-size;
            }
            .elements{
                .element{
                    list-style-type: none;
                    display: inline-block;
                }
                .fb{
                    .link{
                        background: #3b5999;
                        height: 20px;
                        width: 20px;
                        line-height: $wbu-margin*2;
                        padding: 10px 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
                .tter{
                    .link{
                        background: #399fed;
                        height: 20px;
                        width: 20px;
                        line-height: $wbu-margin*2;
                        padding: 10px 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
                .msenger{
                    .link{
                        background: #0084ff;
                        height: 20px;
                        width: 20px;
                        line-height: $wbu-margin*2;
                        padding: 10px 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
                .prest{
                    .link{
                        background: #bd081c;
                        height: 20px;
                        width: 20px;
                        line-height: $wbu-margin*2;
                        padding: 10px 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
                .wtsap{
                    .link{
                        background: #25d366;
                        height: 20px;
                        width: 20px;
                        line-height: $wbu-margin*2;
                        padding: 10px 15px;
                        border-radius: 5px;
                        color: #fff;
                    }
                }
            }
        }
        .comment-article{
            color: #000000;
            margin-top: $wbu-margin*2;
            display: flex;
            justify-content: space-between;
            .lutin-img{
                width: 100px;
                height: 100px;
                border-radius: 100%;
            }
            .comment-info{
                margin-left: $wbu-margin;
            }
            .commentor{
                font-weight: bold;
                margin-top: $wbu-margin * 0.5;
                margin-bottom: $wbu-margin * 0.5;
            }
            .comment-content{
                line-height: 2.5rem;
            }
            .reply{
                margin-top: $wbu-margin;
            }
            .reply-link{
                color: #000000;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .sidebar-widget{
        padding: $wbu-margin 0 0 0 ;
        overflow: hidden;
        margin-top: $wbu-margin * 0.5;
    }
    .right-side-wrap{
        .search-widget{
            display: flex;
            box-shadow: 0 0 10px $wbu-color-boder;
            padding: $wbu-btn-padding-y-sm * 0.2;
            border: 1px solid $wbu-color-boder;
            border-radius: 5px;
            .mycustom{
                padding: calc($wbu-btn-padding-x-sm - 7px);
                
                .input{
                    border: none;
                    outline: 0;
                }
            }
            .btn-primary{
                box-shadow: none;
                border-radius: 5px;
                background: $wbu-background;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                z-index: 2;
                border: 1px solid transparent;
            }
        }
        .widget-title{
            .title{
                text-transform: capitalize;
                display: inline-block;
                margin: 0 auto calc($wbu-margin - 7px);
                font-weight: 600;
                color: $wbu-background;
                margin-top: $wbu-margin;
            }
        }
        .categories{
            .elements{
                list-style-type: none;
                .element{
                    padding: $wbu-margin * 0.5;
                    border-bottom: 1px solid $wbu-background;
                    .link-element{
                        color: $wbu-background;
                        display: flex;
                        justify-content: space-between;
                        .category{
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}