@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;
@use "./molecule/mitor-pricing-card.scss";
@use "./atome/bundle-selection.scss";
.mitor-pricing-section-handler {
  .pricing-header {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    word-break: break-all;
    padding-bottom: calc($wbu-margin + 18px);
    .pricing-title {
      text-transform: capitalize;
      color: $wbu-background;
      font-weight: 600;
      margin: 0 auto $wbu-margin;
      width: 100%;
      line-height: 1.4;
    }
    .small-desc {
      line-height: $wbu-margin;
      font-weight: normal;
      word-break: break-all;
    }
  }
}

.pricing-card-handler {
  display: flex;
  justify-content: center;
  width: 100%;
}
