@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;
.lg-backdrop {
  background-color: rgb(0 0 0 / 90%) !important;
}
.mitor-grid-img {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 45rem));
  //grid-template-rows: repeat(3, );
  grid-gap: 2rem;
  justify-content: center;
  grid-auto-rows: minmax(auto, 25rem);
  max-width: 90%;
  margin: 0 auto;
  padding: 0 2rem;
  transition: 0.3s;
  .grid-item {
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    &:nth-child(2) {
      grid-row: span 2;
    }
    &:nth-child(4) {
      grid-row: span 2;
    }
  }
  @include media-min(MD) {
    grid-template-columns: repeat(2, 1fr);
    max-width: none;
  }
  @include media-min(DD) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, 25rem);
    .grid-item {
      &:nth-child(6) {
        grid-row: auto;
      }
    }
  }
  @include media-min(M) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, 25rem);
  }
}
