@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;
@use "./molecule/mitor-card-img.scss";
@use "./atome/carrousel-nav.scss";
.mitor-hero {
  padding: $space_bottom 0;
  background-color: $wbu-background;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .mitor-card {
    .mc-title {
      color: white;
    }
    .mc-description {
      color: $wbu-color-boder;
      li::before {
        @include wbu__svg-dd-puce-check(#fff, 30);
      }
    }
  }

  .svg-2,
  .svg-3 {
    width: 100%;
    display: none;
  }
  &--un {
    border-radius: 0;
    border-bottom-left-radius: 8%;

    .svg-1 {
      svg {
        display: block;
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 5vw;
        right: 0;
      }
    }
  }
}
