@use "../../../../../variables" as *;
@use "../../../../../wbu-ressources-clean.scss" as *;




.galerie-content{
    margin-bottom: 25px;
    
}
.btns{
    text-decoration: none;
    background: transparent;
    color: $wbu-color-primary;
    border: 2px solid $wbu-border-color;
    height: $wbu-default-line-height * 35;
    padding: 10px 2em;
    margin: 5px;
    border-radius: $wbu-btn-border-radius;
    
    &:hover{
        color:$wbu-color-secondary;
        text-decoration: none;
    }
   
}
.galerie_item {
    position: absolute;
    top: 75%;
    left: 158px;
    transform: translate(-50%, -50%);
    color: $wbu-color-primary;
    font-size: 24px;
    font-weight: bold;
    
    .galerie_title {
        font-size: 15px;
    }
    .line1 {
        font-size: 35px;
    }
}
    
    .row_image {
     position: relative;

     &:hover{
       opacity: 0.8;
        
    }
   
    
    }
   