@use "../../../../atome/separator/separator_rectangele_middle.scss";
@use "../../../../wbu-ressources-clean.scss" as *;
$wbu-color-primary: #085796;
$wbu-color-secondary: #f07e02;

.type-parquet {
  &__title {
    line-height: 1.2;
    position: relative;
    color: $wbu-color-primary;
    text-align: center;
    margin: 15px 0;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    font-size: $wbu-default-font-size * 2;
  }
  &__desc {
    margin: 10px 0;
    text-align: left;
    line-height: 1.65;
    font-size: $wbu-default-font-size * 1.2;
  }
  &__h3 {
    text-align: center;
    position: relative;
    margin: 15px 0;
    font-size: $wbu-default-font-size * 1.8;
    color: $wbu-color-secondary;
    font-weight: 700;
  }
  &__h4 {
    position: relative;
    text-align: left;
    margin: 15px 0;
    font-size: $wbu-default-font-size * 1.8;
    color: $wbu-color-primary;
    font-weight: 700;
  }
}
