@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/separator/separator_rectangele_middle.scss";

.type-parquet {
  &__title {
    line-height: 1.2;
    position: relative;
    color: $wbu-color-primary;
    text-align: center;
    margin: 15px 0;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    font-size: $wbu-h2-font-size;
    line-height: $wbu-h2-margin * 1.2;
  }
  &__desc {
    margin: 10px 0;
    text-align: left;
  }
  &__h3 {
    text-align: center;
    position: relative;
    margin: 15px 0;
    line-height: $wbu-h3-line-height;
    font-size: $wbu-h3-font-size;
    color: $wbu-color-secondary;
    font-weight: 700;
  }
}
