@use "../../../../../../wbu-ressources-clean.scss" as *;
// la typography est externe : ... ypography/default
// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;

.single-card-testimonials {
  margin-top: $space_inner_top;
  margin-bottom: $space-bottom;
  height: 85%;
  //padding-bottom: 30px;
  border-bottom: 1px solid $wbu-color-boder;
  .testimony {
    font-size: $wbu-default-font-size ;
    font-weight: 500 !important;
    line-height: 2.2rem;
    color: rgba($wbu-background, 0.9);
    padding: $wbu-margin * 2 0 $wbu-margin;
    margin: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2rem;
      @include wbu_svg_quote_before();
      transform: none;
      color: rgba(black, 0.12);
    }
  }
  .icon {
    color: $wbu-color-boder;
    display: block;
    margin-bottom: $wbu-margin * 0.7;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  .img-profiles {
    position: relative;
    .img-link {
      width: 11rem;
      height: 11rem;
      display: inline-block;
      position: relative;
      margin-bottom: $wbu-margin * 0.7;
      .__img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
      }
      &::before {
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0;
        width: 100%;
        border-radius: 100%;
        background: $wbu-color-primary;
        position: absolute;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
      }
      &:hover::before {
        opacity: 0.5;
      }
    }
  }
  .testimony-info {
    .info {
      .name-link {
        color: rgba($wbu-background, 0.9);
        text-decoration: none;
        border-bottom: 1px solid $wbu-color-secondary;
        font-size: $wbu-h5-font-size;
        padding-bottom: $wbu-margin * 0.2;
        transition: all 0.2s;
        display: inline-block;
        cursor: pointer;
        &:hover {
          border-color: transparent;
        }
      }
      .role {
        margin-top: $wbu-margin * 0.22;
        font-size: $wbu-h6-font-size *0.9;
        text-transform: uppercase;
      }
    }
  }
}
