@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
/**
 * On doit mettre cette partie dans un autre fichier, celui du block.
 */
.view_filter_display_exposed_fields_filter {
  label,
  .form-item legend {
    font-weight: 600;
    @include bp_h5();
    margin-bottom: $wbu-margin * 0.5;
  }

  .js-form-item {
    width: 100%;
  }
  .form-item {
    .bef-link-active {
      box-shadow: inset 0px 0px 3px $wbu-color-primary;
      border-color: $wbu-color-primary;
    }
    ::placeholder {
      opacity: 0.5;
    }
  }
  .op--between {
    .fieldset-wrapper {
      display: flex;
      label {
        display: none;
      }
    }
  }

  .show_reset_link {
    text-align: right;
    width: 100%;
    padding: $wbu-margin;
    a {
      position: relative;
      line-height: 1;
      &::before {
        content: "+";
        position: absolute;
        width: 18px;
        height: 18px;
        left: -25px;
        top: 2px;
        background: $wbu-color-primary;
        border-radius: 50%;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        color: #fff;
        transform: rotate(45deg);
      }
    }
  }
}
.views-exposed-form {
  > .form-item:last-child {
    margin-bottom: 0 !important;
  }
}
