@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.codepen-footer-handler{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  hr{
    border-top-color:#bbb;
    opacity:0.5;
  }
  .footer-title{
    color:#fff;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;

  }
  .link-site{
    text-decoration: none;
    color: #737373; &:hover{
      color: $wbu-color-thirdly;
      text-decoration: none;
    }
  }
  .footer-links{
    padding-left: 0;
    list-style-type: none;
    .link{
      color: #737373;
      &:hover{
        color: $wbu-color-thirdly;
        text-decoration: none;
      }
      &:active{
        color: $wbu-color-thirdly;
        text-decoration: none;
      }
      &:focus{
        color: $wbu-color-thirdly;
        text-decoration: none;}
    }
  }
  .linker-lang{
    display: block;
  }
  .linker{
    display: inline-block;
  }
  .social-icons{
    text-align: right;
    .link{
      width:40px;
      height:40px;
      line-height:40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left:6px;
      margin-right:0;
      border-radius:100%;
      background-color:#33353d;
      color: #737373;
      &:hover{
        color: $wbu-color-thirdly;
        text-decoration: none;
      }
      &:active{
        color: $wbu-color-thirdly;
        text-decoration: none;
      }
      &:focus{
        color: $wbu-color-thirdly;
        text-decoration: none;
      }
    
    }
    .facebook:hover
    {
      color: #fff;
      background-color:#3b5998
    }
    .twitter:hover
    {

      color: #fff;
      background-color:#00aced
    }
    .linkedin:hover
    {
      color: #fff;
      background-color:#007bb6
    }
    .dribbble:hover
    {
      color: #fff;
      background-color:#ea4c89
    }
  }
}




.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .codepen-footer-handler
  {
    padding-bottom:0
  }
  .codepen-footer-handler .copyright-text,.codepen-footer-handler .social-icons
  {
    text-align:center
  }
}

