@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

.top-header-teaser {
  background-color: $wbu-background;
  color: $wbu-color-boder;
  .linker {
    color: $wbu-color-boder;
  }
  .appName {
    color: $wbu-color-boder;
  }
  :is(.location, .phone) {
    color: $wbu-color-thirdly;
  }
  .joinBtn {
    color: $wbu-color-boder;
    background: $wbu-color-teal;
    padding: $wbu-margin * 0.5;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link {
      color: $wbu-color-boder;
    }
    list-style: none;
  }
  .right-link {
    display: flex;
    width: auto;
    justify-content: space-between;
  }
  .page-linker {
    display: flex;
    justify-content: center;
    align-items: center;
    .linker {
      color: $wbu-color-boder;
      &:hover {
        color: $wbu-color-boder;
      }
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  //ceci c'est uniquement au cas ou ou le module lang-dropdown est activé
  .block-lang-dropdown {
    form select {
      max-width: 120px;
      background-color: transparent;
      color: color-yiq($wbu-background);
      option {
        background-color: $wbu-background;
      }
    }
  }
}
