@use "../../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../../_variables" as *;

.banner-teaser {
  margin-top: $space_top;
  display: block;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: $space_top;
  padding-bottom: $space_bottom;
  background: $wbu-background;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  .banner-content {
    //overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 3.6rem;
      left: 6rem;
      top: -14rem;
      background: $wbu-color-secondary;
      position: absolute;
      height: 20rem;
      transform: rotate(-42deg);
    }
    &::after {
      content: "";
      width: 3.6rem;
      right: 7.5rem;
      bottom: -12rem;
      display: block;
      background: $wbu-color-primary;
      position: absolute;
      height: 20rem;
      transform: rotate(-135deg);
    }
    .h2-text {
      font-size: $wbu-titre-big;
      font-weight: $wbu-title-font-weight;
      color: $wbu-color-boder;
      margin-bottom: $space_bottom;
    }
    .contact-btn {
      background: transparent;
      color: $wbu-color-boder;
      border: 2px solid $wbu-color-boder;
      padding: $wbu-btn-padding-x-sm * 1.5 $wbu-btn-padding-y-sm;
      border-radius: 50px;
      font-weight: $wbu-title-font-weight;
      margin-bottom: $wbu-margin;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
