
@use "../../../wbu-ressources-clean.scss" as *;



.col {
    position: relative;

    a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

  }

  img{
    width:100px;
    opacity:0.2;
    cursor:pointer;
    position: relative;
    z-index:1;

    &:hover{
        opacity:1;
    }
  }
  
