
@use "../../../wbu-ressources-clean.scss" as *;



img{
    width:100px;
    cursor: pointer;
    opacity:0.2;
    &:hover{
        opacity:1
    }
}

a{
    position: relative;
    left:70px;
    
  
}