@use "../../wbu-ressources-clean.scss" as *;

.people-container{
    img{
        padding-top:15px;
        height:100px;
        border-radius:50%;
        width:100px;
    }

      .card{
        box-shadow:2px 4px 3px #c0c0c0;
        background-color: #d3d3d3;
        transition: transform 0.5s;
        &:hover{
            transform:translateY(-5px);
        }
      }

    h4{
        font-size:$wbu-default-font-size*0.7;
        font-weight:$wbu-title-font-weight
        }
}