@use "../../wbu-ressources-clean.scss" as *;
@import "../../variables";

.bouton {

    position: relative;
    margin-top: $wbu-margin;
    margin-bottom: $wbu-margin;
    padding: $space_inner_top;
}