@use "../../wbu-ressources-clean.scss" as *;
@import "../../variables";

.image-filter-hover{

    display:block;
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: $wbu-margin;
    margin-bottom: $wbu-margin;

    @include media-max(MD){
        padding: 0 $wbu-margin;
        margin: $space_inner_top $wbu-margin;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .image{
        //margin: $wbu-margin;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    .caption{

        background: rgba($color: $wbu-background, $alpha: 0.7);
        position: relative;
        height: auto;
        width: 100%;
        bottom: 6.7rem;
        display: block;
        text-align: center;
        padding: $space_inner_top 0 $space_inner_top 0 ; 
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;

        span{

            color: $wbu-color-boder;
            font-size: $wbu-default-font-size;
            display: block;

        }
    }

    &:hover .caption{
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 0;
        color:white;// to remove
        span{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 50%;
            //padding-top: $wbu-margin;
        }
    }

}