@use "../../wbu-ressources-clean.scss" as *;
@import "../../variables";

.image-filter-hover{

    display:block;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @include media-max(MD){
        margin: $space_inner_top;
    }
    img{
        width: 100%;
    }
    .caption{

        background: rgba($color: $wbu-background, $alpha: 0.7);
        position: absolute;
        text-align: center;
        height: 25%;
        vertical-align:center;
        top: auto;
        left:0;
        bottom: 0;
        right: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        span{
            color: $wbu-color-boder;
            font-size: $wbu-default-font-size;
            padding: $wbu-margin;
        }
    }

    &:hover .caption{
        height: 100%;
    }

}