@use "../../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../../atome/typography/default";
@use "../.././variables.scss" as *;

.first-nav {
  background-color: rgba($wbu-color-boder, 0.5);
  display: flex;
  justify-content: start;
  padding: 0 4.5rem;
  flex-wrap: nowrap;
  a {
    text-decoration: none;
    &:hover {
      color: black;
    }
  }

  & .menu-icons {
    display: none;
    position: relative;
  }
  &__brand {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    display: none;
    padding: 1rem 0;
    a {
      color: black;
    }
    img {
      max-width: 25rem;
      width: 100%;
      max-height: 10rem;
      height: auto;
      object-fit: cover;
      @include media-max(XS) {
        max-width: 15rem;
      }
    }
    @media screen and (max-width: 400px) {
      font-size: 2.5rem;
    }
  }
  .nav-item {
    display: block;
    font-weight: bold;
    font-size: 1.35rem;
    text-transform: capitalize;

    .nav-link {
      color: black;
      padding: 1rem 2rem;

      &:hover {
        background-color: $wbu-color-primary;
      }
    }
    &--active {
      & > .nav-link {
        background-color: $wbu-color-primary;
      }
    }
  }
  .sub-alt {
    & > .nav-link {
      padding-right: 4rem;
      &::after {
        width: 1.5rem;
        height: 1.5rem;
        content: "";
        position: absolute;
        @include wbu__angle-right(black, 10);
        transform: rotate(90deg);
        background-position: center;
        display: inline-block;
        top: 1.1rem;
        right: 1.2rem;
      }
    }
  }
  .nav-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: end;
    & > .nav-item {
      &:nth-child(7) ~ * {
        @include media-min(M) {
          .sub-menu {
            //left: -25rem;
            & ul {
              left: -25rem;
              & ul {
                left: 25rem;
                & ul {
                  left: -25rem;
                }
              }
            }
          }
        }
      }
      &:nth-child(7) ~ * {
        @include media-min(LM) {
          .sub-menu {
            //left: -25rem;
            & ul {
              left: 25rem;
              & ul {
                left: -25rem;
                & ul {
                  left: 25rem;
                }
              }
            }
          }
        }
      }
      &:nth-child(4) ~ * {
        @include media-max(DD) {
          .sub-menu {
            left: 0;
            & ul {
              left: -25rem;

              & ul {
                left: 25rem;

                & ul {
                  left: -25rem;
                }
              }
            }
          }
        }
      }
      &:nth-child(6) ~ * {
        @include media-max(MS) {
          .sub-menu {
            right: 0;
            left: auto;
            & ul {
              left: -25rem;
              right: auto;
              & ul {
                left: 25rem;
                right: auto;
                & ul {
                  left: -25rem;
                  right: auto;
                }
              }
            }
          }
        }
      }
      &:nth-child(4) {
        @include media-max(MS) {
          .sub-menu {
            //left: -25rem;
            & ul {
              left: -25rem;
              & ul {
                left: 25rem;
                & ul {
                  left: -25rem;
                }
              }
            }
          }
        }
      }
    }
    .nav-item {
      // background-color: $wbu-color-primary;
      &:hover {
        & > ul {
          display: inherit;
          max-height: 30rem;
          padding: 2rem 0;
          opacity: 1;
          z-index: 15;
          overflow: visible;
          border-top: 4px solid $wbu-color-primary;
          animation: anheight 0.6s;
        }
      }
    }
    .sub-menu {
      max-height: 0;
      position: absolute;
      top: 3.7rem;
      left: 0;
      overflow: hidden;
      opacity: 5;
      z-index: 10;
      padding: 0;
      background-color: white;
      box-shadow: 0 2px 22px rgb(0, 0, 0, 0.25);
      border-color: transparent;

      transition: display 0.5s, visibility 1s, ease-in-out max-height 0.4s,
        border-color 0.4s, opacity 1s, overflow 2.2s, padding 0.4s;

      .nav-item {
        width: 25rem;
      }
      .sub-alt {
        .nav-link {
          &::after {
            transform: rotate(0deg);
          }
        }
      }
      & li {
        position: relative;
      }

      & ul {
        top: -2.4rem;
        left: 25rem;
        & ul {
          left: -25rem;
          & ul {
            left: 25rem;
            & ul {
              left: -25rem;
              & ul {
                left: 25rem;
              }
            }
          }
        }
      }
      &--reverse {
        ul {
          left: -25rem;
          & ul {
            left: 25rem;
            & ul {
              left: -25rem;
            }
          }
        }
      }
    }
  }
}
@keyframes anheight {
  to {
    overflow: visible;
  }
  from {
    overflow: hidden;
  }
}

@include media-max(SM) {
  .first-nav {
    flex-wrap: wrap;
    // width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    &__brand {
      padding-left: 3rem;
      display: block;
      color: $wbu-brand-color;
    }
    .menu-icons {
      margin-right: 3rem;
      display: block;
      transform: scale(1);
      transition: ease 0.3s;
      span {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        display: inline-block;
        position: relative;
      }

      .xmark {
        display: none;
        .wbu-close::before {
          transform: none;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
      //
    }
    .nav-list {
      display: none;
    }
    .nav-list-mobile {
      flex-direction: column;
      min-width: 100%;
      display: none;
      transition: 0.3s;
      overflow-x: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.4s, opacity 0.8s;
      .sub-menu {
        //display: none;
        max-height: 0;
        overflow: hidden;
        position: relative;
        transition: max-height 0.4s;
        .nav-item {
          width: 100%;
          & > .nav-link {
            padding: 2rem;
            margin: 1px 0;
            padding-left: 5rem;
          }
          & ul > li {
            .nav-link {
              padding-left: 7rem;
            }
            & ul > li {
              .nav-link {
                padding-left: 10rem;
              }
              & ul > li {
                .nav-link {
                  //background-color: rgb(0, 153, 255);
                  padding-left: 13rem;
                }
              }
            }
          }
        }
        .sub-alt {
          ::before {
            top: 3rem;
          }
        }
      }
    }
    .sub-alt {
      & > .nav-link {
        &::after {
          display: none;
        }
        &::before {
          content: "+";
          font-size: 2rem;
          position: absolute;
          color: black;
          top: 4rem;
          right: 4rem;
          transition: content ease 0.3s;
          transform: translate(-50%, -50%);
        }
      }
    }

    .nav-item {
      font-size: 1.5rem;
      display: block;
      width: 100%;
      position: relative;
      margin: 1px;
      .nav-link {
        padding: 3rem;
        background-color: transparent;
        transition: 0.2s;

        &:hover {
          background-color: $wbu-color-primary;
        }
      }
      &--active {
        & > .nav-link {
          background-color: $wbu-color-primary;
        }
      }
      &--open {
        & > .nav-link {
          background-color: $wbu-color-primary;
        }
        & > .sub-menu {
          //display: inherit;
          // max-height: none;
          // height: auto;
          visibility: visible;
          opacity: 1;
          z-index: 100;
        }
        &.sub-alt > .nav-link {
          &::before {
            content: "–";
          }
        }
        & > .sub-menu {
          display: block;
        }
      }
    }
  }
  /* Cette classe doit être ajoutér par le js sur le parent de first-nav */
  .active {
    .first-nav {
      // .nav-list {
      //   display: block;
      // }
      .nav-list-mobile {
        display: block;
        overflow: hidden;
        opacity: 1;
      }
      .menu-icons {
        .burger {
          display: none;
        }
        .xmark {
          display: block;
          .wbu-close::before {
            transform: none;
          }
        }
      }
    }
  }
}
.wbu-bars {
  &::before {
    width: 4rem;
    height: 4rem;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transition: ease 0.3s;
    transform: translate(-50%, -50%);
    @include wbu-bars(black, 28);
  }
}
.wbu-close {
  &::before {
    width: 2rem;
    height: 2rem;
    position: absolute;
    transition: ease 0.3s;
    content: "";
    transform: translate(-50%, -50%);
    @include wbu-close(black, 28);
  }
}
