@use "../../../../../../wbu-ressources-clean.scss" as *;
// on ne doit non plus integrer les la typography à ce niveau.
// // la typography est externe :
// Mauvaise construction, les variables surcharger ne doivent pas etre inclut dans les fichiers cela se fait en dehors de wb-atomique.
//// les variables surcharger ne doivent pas etre dans wbu-atomique ... @use ...ariables.scss" as *;

.first-nav {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  a {
    text-decoration: none;
  }

  & .menu-icons {
    display: none;
    position: relative;
  }
  &__brand {
    font-weight: bold;
    text-transform: uppercase;
    display: none;
    padding: 1rem 0;
    img {
      max-width: 25rem;
      width: 100%;
      max-height: 10rem;
      height: auto;
      object-fit: cover;
      @include media-max(XS) {
        max-width: 15rem;
      }
    }
  }
  .nav-item {
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    color: inherit;
    position: relative;
    .nav-link {
      color: inherit;
      padding: 1rem 1rem;
      &:hover {
        background-color: $wbu-color-primary;
        color: color-yiq($wbu-color-primary);
      }
    }
    &--active {
      & > .nav-link {
        background-color: $wbu-color-primary;
        color: color-yiq($wbu-color-primary);
      }
    }
  }
  .sub-alt {
    & > .nav-link {
      padding-right: 4rem;
      &::after {
        width: 1.5rem;
        height: 1.5rem;
        content: "";
        position: absolute;
        /**
         * on doit avoir des derivées afin de permettre au svg d'etre visible sur les principaux couleurs de fonds.
         */
        @include wbu__angle-right(color-yiq($wbu-background), 10);
        transform: rotate(90deg);
        background-position: center;
        display: inline-block;
        top: calc(50% - 7px);
        right: $wbu-margin;
      }
      &:hover {
        &::after {
          @include wbu__angle-right(color-yiq($wbu-color-primary), 10);
        }
        &::before {
          color: color-yiq($wbu-color-primary);
        }
      }
    }
    & .sub-alt {
      & .nav-link {
        &::after {
          @include wbu__angle-right(color-yiq($wbu-color-primary), 10);
        }
      }
    }
    &.nav-item--active {
      & > .nav-link {
        &::after {
          @include wbu__angle-right(color-yiq($wbu-color-primary), 10);
        }
        &::before {
          color: color-yiq($wbu-color-primary);
        }
      }
    }
    &.nav-item--open {
      & > .nav-link {
        color: color-yiq($wbu-color-primary);
        &::after {
          @include wbu__angle-right(color-yiq($wbu-color-primary), 10);
        }
        &::before {
          color: color-yiq($wbu-color-primary);
        }
      }
    }
  }
  .nav-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0;
    padding: 0;
    & > .nav-item {
      &:nth-child(7) ~ * {
        @include media-min(M) {
          .sub-menu {
            //left: -25rem;
            & ul {
              left: -25rem;
              & ul {
                left: 25rem;
                & ul {
                  left: -25rem;
                }
              }
            }
          }
        }
      }
      &:nth-child(7) ~ * {
        @include media-min(LM) {
          .sub-menu {
            //left: -25rem;
            & ul {
              left: 25rem;
              & ul {
                left: -25rem;
                & ul {
                  left: 25rem;
                }
              }
            }
          }
        }
      }
      &:nth-child(4) ~ * {
        @include media-max(DD) {
          .sub-menu {
            left: 0;
            & ul {
              left: -25rem;

              & ul {
                left: 25rem;

                & ul {
                  left: -25rem;
                }
              }
            }
          }
        }
      }
      &:nth-child(6) ~ * {
        @include media-max(MS) {
          .sub-menu {
            right: 0;
            left: auto;
            & ul {
              left: -25rem;
              right: auto;
              & ul {
                left: 25rem;
                right: auto;
                & ul {
                  left: -25rem;
                  right: auto;
                }
              }
            }
          }
        }
      }
      &:nth-child(4) {
        @include media-max(MS) {
          .sub-menu {
            //left: -25rem;
            & ul {
              left: -25rem;
              & ul {
                left: 25rem;
                & ul {
                  left: -25rem;
                }
              }
            }
          }
        }
      }
    }
    .nav-item {
      &:hover {
        & > ul {
          display: inherit;
          max-height: 30rem;
          padding: 1rem 0;
          opacity: 1;
          z-index: 15;
          overflow: visible;
          border-top: 4px solid $wbu-color-primary;
          animation: anheight 0.6s;
        }
      }
    }
    .sub-menu {
      max-height: 0;
      position: absolute;
      top: 100%;
      left: 0;
      bottom: auto;
      overflow: hidden;
      opacity: 5;
      z-index: 10;
      padding: 0;
      background-color: white;
      box-shadow: 0 2px 22px rgb(0, 0, 0, 0.25);
      border-color: transparent;

      transition: display 0.5s, visibility 1s, ease-in-out max-height 0.4s,
        border-color 0.4s, opacity 1s, overflow 2.2s, padding 0.4s;

      .nav-item {
        width: 25rem;
      }
      .sub-alt {
        .nav-link {
          &::after {
            transform: rotate(0deg);
          }
        }
      }
      & li {
        position: relative;
      }

      & ul {
        top: -1.4rem;
        left: 25rem;
        & ul {
          left: -25rem;
          & ul {
            left: 25rem;
            & ul {
              left: -25rem;
              & ul {
                left: 25rem;
              }
            }
          }
        }
      }
      &--reverse {
        ul {
          left: -25rem;
          & ul {
            left: 25rem;
            & ul {
              left: -25rem;
            }
          }
        }
      }
    }
  }
}
@keyframes anheight {
  to {
    overflow: visible;
  }
  from {
    overflow: hidden;
  }
}

@include media-max(SM) {
  .first-nav {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    &__brand {
      padding-left: 3rem;
      display: block;
      color: $wbu-color-primary;
    }
    .menu-icons {
      margin-right: 3rem;
      display: block;
      transform: scale(1);
      transition: ease 0.3s;
      span {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        display: inline-block;
        position: relative;
      }

      .xmark {
        display: none;
        .wbu-close::before {
          transform: none;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
      //
    }
    .nav-list {
      display: none;
    }
    .nav-list-mobile {
      flex-direction: column;
      min-width: 100%;
      display: none;
      transition: 0.3s;
      overflow-x: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.4s, opacity 0.8s;
      .sub-menu {
        //display: none;
        max-height: 0;
        overflow: hidden;
        position: relative;
        transition: max-height 0.4s;
        .nav-item {
          width: 100%;
          & > .nav-link {
            padding: 2rem;
            margin: 1px 0;
            padding-left: 5rem;
          }
          & ul > li {
            .nav-link {
              padding-left: 7rem;
            }
            & ul > li {
              .nav-link {
                padding-left: 10rem;
              }
              & ul > li {
                .nav-link {
                  padding-left: 13rem;
                }
              }
            }
          }
        }
        .sub-alt {
          ::before {
            top: 3rem;
          }
        }
      }
    }
    .sub-alt {
      & > .nav-link {
        &::after {
          display: none;
        }
        &::before {
          content: "+";
          position: absolute;
          color: black;
          top: 4rem;
          right: 4rem;
          transition: content ease 0.3s;
          transform: translate(-50%, -50%);
        }
      }
    }

    .nav-item {
      display: block;
      width: 100%;
      position: relative;
      margin: 1px;
      .nav-link {
        padding: 3rem;
        background-color: transparent;
        transition: 0.2s;

        &:hover {
          background-color: $wbu-color-primary;
          color: color-yiq($wbu-color-primary);
        }
      }
      &--active {
        & > .nav-link {
          background-color: $wbu-color-primary;
          color: color-yiq($wbu-color-primary);
        }
      }
      &--open {
        & > .nav-link {
          background-color: $wbu-color-primary;
        }
        & > .sub-menu {
          //display: inherit;
          // max-height: none;
          // height: auto;
          visibility: visible;
          opacity: 1;
          z-index: 100;
        }
        &.sub-alt > .nav-link {
          &::before {
            content: "–";
          }
        }
        & > .sub-menu {
          display: block;
        }
      }
    }
  }
  /* Cette classe doit être ajoutér par le js sur le parent de first-nav */
  .active {
    .first-nav {
      // .nav-list {
      //   display: block;
      // }
      .nav-list-mobile {
        display: block;
        overflow: hidden;
        opacity: 1;
      }
      .menu-icons {
        .burger {
          display: none;
        }
        .xmark {
          display: block;
          .wbu-close::before {
            transform: none;
          }
        }
      }
    }
  }
}
.wbu-bars {
  &::before {
    width: 4rem;
    height: 4rem;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transition: ease 0.3s;
    transform: translate(-50%, -50%);
    @include wbu-bars(black, 28);
  }
}
.wbu-close {
  &::before {
    width: 2rem;
    height: 2rem;
    position: absolute;
    transition: ease 0.3s;
    content: "";
    transform: translate(-50%, -50%);
    @include wbu-close(black, 28);
  }
}
