@use "../../../../wbu-ressources-clean.scss" as *;
.lgb-left-right {
  text-align: center;
  .title {
    font-size: $wbu-h1-font-size;
    margin-bottom: $wbu-margin;
  }
  &--image {
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      height: 100%;
      width: auto;
      max-width: 2000px;
      left: 0;
      top: 0;
    }
  }
  &--content {
    padding: 0;
    text-align: left;
    background: #fff;
    box-shadow: 10px 8px 10px 3px #0000001a;
    @include media-min(DD) {
      padding: $wbu-margin;
      font-size: $wbu-h3-font-size;
    }
    .description {
      background: rgba($color: $wbu-background, $alpha: 0.051);
      padding: $wbu-margin * 0.5;
      margin-bottom: $wbu-margin;
    }
  }
}
