@use "../../../../../wbu-ressources-clean.scss";
@use "../../../../../variables" as *;
.section-title {
  text-align: center;
  padding-bottom: 3.5rem;
  //background:black;

  h2 {
    font-size: $wbu-h2-font-size;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: black;
    margin-bottom: 1.5rem;
    @include media-max(SM) {
      font-size: $wbu-h2-font-size * 0.8;
    }
    @include media-max(XS) {
      font-size: $wbu-h2-font-size * 0.7;
    }

    &::before {
      content: "";
      margin: 0 15px 10px 0;
      width: 50px;
      height: 2px;
      background: $wbu-color-primary;
      display: inline-block;
    }

    &::after {
      content: "";
      margin: 0 0 10px 15px;
      width: 50px;
      height: 2px;
      background: $wbu-color-primary;
      display: inline-block;
    }
  }
  .desc {
    max-width: 70rem;
    margin: 0 auto;
    font-size: $wbu-default-font-size;
  }
}

.section-bg {
  background: lighten($wbu-color-boder, 8);
}
