@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.section-skill {
  padding-bottom: $wbu-margin * 2;
  padding-top: $wbu-margin;
}
.skill {
  padding: 0;
  .comp {
    padding: 0 $wbu-margin;
    .progress {
      width: auto;
      margin-top: $wbu-margin * 0.25;
    }
    .text {
      width: 100%;
    }
  }
}
