@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.section-language {
  padding-bottom: $wbu-margin * 2;
  padding-top: $wbu-margin;
  margin-right: $wbu-margin * 2;
  .language {
    margin: 0;
    padding: 0;
    margin-bottom: $wbu-margin;
    .progress {
      width: auto;
      margin-top: 5px;
    }
    .text {
      width: 100%;
    }
  }
}
