@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.section-contact {
  padding-bottom: $wbu-margin * 2;
  padding-top: $wbu-margin;
  margin-right: $wbu-margin * 2;
  .coordonnées {
    .field-svg {
      margin-top: $wbu-margin * 0.05;
      border-bottom: $wbu-margin * 0.05 solid #dddddd;
      .icon {
        background-color: black;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: white;
          width: 15px;
        }
        .text {
          color: #dddddd;
          word-break: break-word;
        }
      }
    }
  }
}
