@use "../../../../../wbu-ressources-clean.scss" as *;

@use "./four-btn.scss";
@use "../../../../../variables";
.clothing-single-product {
  padding: 0 0 $wbu-margin * 2;
  max-width: fit-content;
  margin: 0 auto;
  //
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  // margin-top: 4rem;
  .bloc-img {
    position: relative;
    overflow: hidden;
    .images {
      &::before {
        content: "";
        background-color: black;
        opacity: 0;
        width: 50px;
        height: 50px;
        top: calc(50% + 16px);
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        position: absolute;
        pointer-events: none;
        z-index: 2;
        @include WBUtransition($temps: 0.8s);
        //  transition-delay: 0.5s;
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .img-1 {
      position: relative;
      opacity: 1;
      @include WBUtransition($temps: 1.2s);
    }
    .img-2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      @include WBUtransition($temps: 1.2s);
    }
  }
  .badge {
    padding: 1rem 2rem;
    // color: color-yiq($wbu-background);
    // background-color: $wbu-background;
    // font-size: $wbu-h6-font-size;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 3;
    &--reduction {
      // background-color: $wbu-color-primary;
      // color: color-yiq($wbu-color-primary);
      right: 0;
      top: 0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      left: auto;
      font-weight: bold;
      // font-size: $wbu-h6-font-size;
    }
  }
  .csp-title {
    a {
      @include WBUtransition();
      &:hover {
        color: darken($wbu-color-primary, 15);
        text-decoration: none;
      }
    }
  }
  .csp-desc {
    padding: $wbu-margin * 0.25 0;
    flex-grow: 2; // permet d'ettirer cette zone et ainsi l prix est toujours eligner en bottom.
    // max-width: 85%;
  }
  .price-rating {
    padding: 0;
  }
  .price {
    //color: black;
    font-weight: bold;
    padding-right: 1rem;
    &--old {
      //color: $wbu-border-color;
      text-decoration: line-through;
    }
  }

  // .clothing-four-btn {
  //   position: absolute;
  //   transform: translate(-50%, -50%);
  //   top: 50%;
  //   left: 50%;
  //   width: 100%;
  //   justify-content: center;
  //   height: 100%;
  //   margin-top: 0;
  //   pointer-events: none;
  //   z-index: 3;
  //   .btn-carre {
  //     pointer-events: all;
  //     opacity: 0;
  //     position: relative;
  //     top: 65%;
  //     &:nth-child(1) {
  //       transition: cubic-bezier(0, 0.16, 0.6, 1.01) 0.3s;
  //     }
  //     &:nth-child(2) {
  //       transition: cubic-bezier(0, 0.16, 0.6, 1.01) 0.4s;
  //     }
  //     &:nth-child(3) {
  //       transition: cubic-bezier(0, 0.16, 0.6, 1.01) 0.5s;
  //     }
  //     &:nth-child(4) {
  //       transition: cubic-bezier(0, 0.16, 0.6, 1.01) 0.6s;
  //     }
  //     &:hover {
  //       background-color: $wbu-color-secondary;
  //       border-color: $wbu-color-secondary;
  //       svg {
  //         fill: $wbu-color-primary;
  //       }
  //     }
  //   }
  // }
  // &:hover {
  //   .images {
  //     &::before {
  //       opacity: 0.5;
  //       transform: translate(-50%, -50%) scale(1);
  //     }
  //   }
  //   .img-1 {
  //     opacity: 0;
  //   }
  //   .img-2 {
  //     opacity: 1;
  //     //z-index: 1;
  //   }
  //   // .clothing-four-btn {
  //   //   .btn-carre {
  //   //     top: 50%;
  //   //     opacity: 1;
  //   //   }
  //   // }
  // }
}
