@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../atome/typography/default";
@use "../atome/btn-carre.scss";
@use "../../../../../variables";
.clothing-four-btn {
  display: flex;
  gap: 1rem;
  margin-top: $wbu-margin * 1.5;
  flex-wrap: wrap;
}
