@use "../../../../../wbu-ressources-clean.scss" as *;

@use "../../../../../variables";
@use "./countdown.scss";
@use "./brand-content.scss";
.img-bloc-slide {
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 65vh;
  }

  .clothing-countdown {
    margin-top: $wbu-margin * 2.5;
  }
}
