@use "../../../wbu-ressources-clean.scss" as *;
@use "../../../atome/stan/seeMore.scss";

.images-bg {
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-size: cover;
  height: 100vh;
  min-height: 400px;
  max-height: 800px;
  padding-top: $space_top * 2;
  padding-bottom: $space_bottom * 2;
  z-index: 2;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba($color: $wbu-background, $alpha: 0.35);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .seeMore {
    display: inline-block;
    color: color-yiq($wbu-color-primary); //white;
    background: $wbu-color-primary; //transparent;
    border-color: $wbu-color-primary;

    &:hover {
      background: color-yiq($wbu-color-primary);
      border: 2px solid color-yiq($wbu-color-primary);

      a {
        text-decoration: none;
        color: $wbu-color-primary;
      }
    }
  }

  .titre {
    line-height: 1.2;
    margin-bottom: $wbu-margin;
  }

  .sub_title {
    margin-bottom: $wbu-margin;
  }

  .row {
    padding-top: $wbu-margin;
    padding-bottom: $wbu-margin;

    @include media-min("DD") {
      padding-top: $wbu-margin * 2;
      padding-bottom: $wbu-margin * 2;
    }
  }
}
