@use "../../../wbu-ressources-clean.scss" as *;
@use "../../../atome/stan/seeMore.scss";

.images-bg {
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-size: cover;
  height: 100vh;
  padding-top: $space_top * 2;
  padding-bottom: $space_bottom * 2;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba($color: $wbu-background, $alpha: 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .seeMore {
    display: inline-block;
    color: color-yiq($wbu-background); //white;
    background: $wbu-background; //transparent;
    border-color: $wbu-background;
  }

  .titre {
    line-height: 1.2;
    //color: #fff;
    margin-bottom: $wbu-margin;
  }

  .sub_title {
    //color: #fff;
    margin-bottom: $wbu-margin;
  }

  .row {
    padding-top: $wbu-margin;
    padding-bottom: $wbu-margin;

    @include media-min("DD") {
      padding-top: $wbu-margin * 2;
      padding-bottom: $wbu-margin * 2;
    }
  }
}