@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../atome/hotlock-btn.scss";

.service-items {
  background: $wbu-background;
  text-decoration: none;
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  min-height: 13rem;
  align-items: center;
  justify-content: center;
  position: static;
  border-right: 1px solid rgba($wbu-border-color, 0.2);
  border-bottom: 1px solid rgba($wbu-border-color, 0.2);
  // cursor: pointer;
  &:hover {
    color: $wbu-color-primary;
    .icon {
      color: $wbu-color-primary;
    }
    .icon-title,
    a {
      color: $wbu-color-primary;
      text-decoration: none;
    }
  }

  .icon {
    color: $wbu-color-primary;
    transition: 0.3s;
  }
  .icon-title {
    font-size: $wbu-default-font-size;
    a,
    & {
      transition: 0.3s;
      font-weight: bold;
      color: $wbu-border-color;
      text-align: center;
    }
  }
}
