@use "../../../wbu-ressources-clean.scss" as *;

.hbktemplateuser-info-resume {
  background-color: #fff;
  padding: $wbu-margin * 1.25;
  box-shadow: 0px 3px 12px 0 rgb(0 0 0 / 10%);
  @include WBUtransition();
  &:hover {
    box-shadow: 0px 8px 12px 0 rgb(0 0 0 / 10%);
  }
  .title {
    a {
      color: inherit;
    }
    //
    .title-manage {
      .items .item {
        margin-left: $wbu-margin * 0.5;
        @include media-min(M) {
          margin-left: $wbu-margin;
        }
        @include media-min(LM) {
          margin-left: $wbu-margin * 1.5;
        }
        opacity: 0.55;
        @include WBUtransition();
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .icone {
    color: $wbu-color-primary;
    @include bp_h3();
    * {
      margin: 0;
    }
    img,
    svg {
      max-width: 40px;
      width: 100%;
      height: auto;
    }
    svg {
      fill: $wbu-color-primary;
    }
  }
  .nombre {
    @include bp_h3();
  }
}
