@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;

.grandrestaurant-price-card{
    position: relative;
    &__image{
        position: relative;
        &_icon{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: .6s;
            opacity: 0;
            &_linker {
                background-color: rgba($color: $wbu-background, $alpha: 0.7);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: ($wbu-margin/2);
                border-radius: 50%;
                svg{
                    fill: $wbu-color-boder;
                }
            }
        }
        img{
            max-height: 36rem;
            width: 100%;
        }
        &:hover{
            .grandrestaurant-price-card__image_icon {
                opacity: 1;
            }
        }
    }
    &__info{
        padding: ($wbu-margin/2);
        text-transform: capitalize;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $wbu-color-text;
        &_generic {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &_title{
                font-weight: $wbu-title-font-weight;
                font-size: $wbu-h5-font-size;
            }
            &_compo{
                position: relative;
                //font-size: $wbu-title-font-size;
            }
        }
        &_price{
            font-weight: $wbu-title-font-weight;
            font-size: $wbu-h5-font-size;
        }
    }
    &--hover {
        @keyframes topit {
            0% {
              top: 9;
            }
            100% {
              top: 0;
            }
        }
        .grandrestaurant-price-card__image_icon {
            display: none;
        }
        .grandrestaurant-price-card__info {
            border: 0.1rem solid $wbu-color-boder;
            padding: $wbu-margin;
            margin: $wbu-margin;
            position: absolute;
            display: none;
            top: 4;
            left: 0;
            bottom: 0;
            left: 0;
            color: $wbu-color-boder;
            &_price {
                margin-top: $wbu-margin;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            display: none;
            background-color: rgba($color: $wbu-background, $alpha: 0.5);
        }
        &:hover {
            &::after {
                display: block;
                animation: 1s ease-out 0s 1 topit;
                z-index: 2;
            }
            .grandrestaurant-price-card__info {
                display: block;
                z-index: 3;
            }
        }
    }
}