@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;
@use "./grandrestaurant.scss" as *;
.grandrestaurant-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom:$space_bottom;
    padding-top:$space_bottom;
    &__title {
        font-family: 'Lato' , sans-serif;
        position: relative;
        text-align: center;
        width: 100%;
        font-weight: $wbu-title-font-weight;
        text-transform: uppercase;
        padding-left: $wbu-margin * 2;
        padding-right: $wbu-margin * 2;
        margin-bottom: $wbu-margin;
        color: $wbu-color-text;
        @include media-max(XX) {
            padding: 0;
            transition: 1s ease-in-out;
        }
        @include media-max(MD) {
            transition: 1s ease-in-out;
            padding: 0;
        };
    }
    &__subtitle {
        font-family: 'Lato' , sans-serif;
        text-align: center;
        color: $wbu-color-text;
        text-transform: uppercase;
        margin-bottom: $wbu-margin;
        padding-left: $wbu-margin * 2;
        padding-right: $wbu-margin * 2;
        width: 100%;
        position: relative;
        @include media-max(XX) {
            padding: 0;
            transition: 1s ease-in-out;
        }
        @include media-max(MD) {
            transition: 1s ease-in-out;
            padding: 0;
        }
    }
    &__author {
        font-family: 'Kristi', cursive ;
        text-align: center;
        color: $wbu-color-text;
        margin-bottom: $wbu-margin;
        padding-left: $wbu-margin * 2;
        padding-right: $wbu-margin * 2;
        width: 100%;
        position: relative;
        @include media-max(XX) {
            padding: 0;
            transition: 1s ease-in-out;
        }
        @include media-max(MD) {
            padding: 0;
            transition: 1s ease-in-out;
        }
    }
    &__teaser {
        position: relative;
        display: block;
        width: 100%;
    }
}