@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.image-rounded {
  display: contents;
  width: 30%;
  img {
    width: 150px;
    height: auto; //@landry, on ne definie pas la hauteur et la largeur d'image, il faut definir sur 1 et l'autre en auto.( sinon l'image peut etre deformer).
    background-size: 100%;
    border-radius: 50%;
    border: 1px solid black;
  }
}
