@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../cv/fields/field-svg.scss";
@use "../../../../../variables" as *;

.presentation {
  background-color: $wbu-background;
  padding: $wbu-margin * 2 $wbu-margin * 0.5;
  .name {
    letter-spacing: $wbu-margin * 0.25;
  }
  .post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    letter-spacing: $wbu-margin * 0.25;
    color: $wbu-color-primary;
    &:nth-child(1) {
      color: lighten($wbu-color-primary, 50%);
    }
    &::after,
    &::before {
      content: "";
      height: 2px;
      background-color: $wbu-color-primary;
      display: block;
      margin: 0 $wbu-margin * 1.25;
    }
  }
  .initial {
    color: $wbu-color-primary;
    letter-spacing: $wbu-margin * 0.25;
  }
}
