@use "../../../wbu-ressources-clean.scss" as *;
@use "../../../_variables" as *;

.promoted-product {
  position: relative;
  &__content {
    position: absolute;
    padding: 3rem;
  }
  &__descripton {
    font-size: 1.5rem;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  &__price-container {
    padding-top: 3rem;
  }
  &__subtitle {
    font-size: 1.3rem;
  }
  &__current-price {
    color: $wbu-color-secondary;
    font-size: 2rem;
  }
  &__old-price {
    font-size: 1.5rem;
  }
  &__price {
    display: flex;
    align-items: baseline;
  }
}
