@use "../../wbu-ressources-clean.scss" as *;

.lm-btn {
  color: white;
  padding: $wbu-margin * 0.7 $wbu-margin * 0.9;
  border: none;
  border: 3px solid white;
  border-radius: 5px;
  text-decoration: none;
  // line-height: 1;
  // font-size: $wbu-default-font-size * 0.9;
  transition: ease-in-out 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  a {
    color: white;
    pointer-events: none;
    text-decoration: none;
  }

  &-black {
    background-color: transparent;
    &:hover {
      background-color: $wbu-color-primary;
      border-color: $wbu-color-primary;
      color: white;
    }
  }
  &-noir {
    background-color: $wbu-background;
    border-color: $wbu-background;
    &:hover {
      background-color: transparent;
      color: $wbu-background;
    }
  }
  &-inv {
    border-color: $wbu-color-primary;
    background-color: $wbu-color-primary;
    &:hover {
      background-color: transparent;
      border-color: white;
      color: white;
    }
  }
  &-big {
    border-color: $wbu-color-primary;
    background-color: transparent;
    //padding: $wbu-margin $wbu-margin * 2;
    font-size: $wbu-default-font-size * 1.3;
    @include media-max(XS) {
      padding: 15px;
    }
    a {
      color: $wbu-color-primary;
    }
    &:hover {
      background-color: $wbu-color-primary;
      border-color: $wbu-color-primary;
      a {
        color: white;
      }
    }
  }
}
.lm-btn.btn {
  padding: $wbu-margin * 0.6 $wbu-margin;
  font-size: $wbu-default-font-size * 0.8;
}
.lm-btn.btn-lg {
  padding: $wbu-margin * 0.8 $wbu-margin * 1.3;
}
.lm-btn-big.btn-lg {
  padding: $wbu-margin $wbu-margin * 2;
}
