body {
  color: $text_normal;
}

h1,
.h1 {
  @include bp_h1();
}

h2,
.h2 {
  @include bp_h2();
}

h3,
.h3 {
  @include bp_h3();
}

h4,
.h4 {
  @include bp_h4();
}

h5,
.h5 {
  font-size: 1em;
  @include media-min(MD) {
    font-size: 1.25em;
  }
}

h6,
.h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.4em;
}

/**
 * form col-auto.
 */
form {
  .js-form-item.col-auto {
    padding-right: 0;
    padding-left: 0;
  }
}
.cover-link {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
