@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../_variables" as *;
.hot_models_box-y {
  padding: $wbu-margin;
  position: relative;
  height: 100%;
  background-color: $wbu-color-primary;
  color: color-yiq($wbu-color-primary);
  min-height: 300px;
  display: flex;
  align-items: center;

  .left_teaser_img {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: $wbu-margin;
    width: 80%;
    left: 20%;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: baseline;
    img {
      // object-fit: cover;
      // max-width: 1500px;
      // max-height: 100%;
    }
  }
  .inner-square {
    padding-top: $wbu-margin * 2;
    padding-bottom: $wbu-margin * 2;
    padding-left: $wbu-margin;
    padding-right: $wbu-margin;
    width: 100%;
    height: 100%;
    border: solid 2px $wbu-border-color;
    display: block;
    position: relative;
    box-sizing: border-box;
    position: relative;

    .content {
      z-index: 10;
      max-width: 50%;
      min-width: 250px;
      flex-direction: column;
      position: relative;
    }
    .title {
      margin-bottom: $wbu-margin * 2;
    }
    .link {
      border-bottom: 1px solid $wbu-border-color;
      &:hover {
        text-decoration: none;
      }
    }
    .sticker-handler {
      max-width: 50%;
      position: absolute;
      bottom: -$wbu-margin;
      right: -$wbu-margin;
      top: auto;
      background-size: cover;
      background-position: center;
      .layout-region {
        position: relative;
        z-index: 2;
      }
      .discount {
        padding: $wbu-margin * 2;
        .discount_value {
          margin: 0;
          line-height: 1;
        }
      }
      .sticker {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
          max-width: 300px;
          width: auto;
          max-height: 100%;
          transform: translateX(-25%);
        }
      }
    }
  }
}
