@use "../../../../../variables";
@use "./../../../../../wbu-ressources-clean.scss" as *;


.slide1{
    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_297687515v6_1512x.jpg?v=1632741210');
    background-repeat: no-repeat;
background-size: cover;
color: color-yiq($wbu-color-primary);
    .slide1-container{
        .slide1-texte{
            height: 100%;
            .part-one-line-2{
                max-width: 50%;
                margin-bottom: $wbu-margin;
            }
            .titre{
                max-width: 42%;
                margin-bottom: $wbu-margin;
            }
        }
    }
}