@use "../../wbu-ressources.scss" as *;
@use "../../atome/stephane/cover-link.scss";
@use "../../atome/typography/default";

.billetDeBlogTeaser {
  margin: 0 auto $wbu-margin * 2.5;
  width: 100%;
  display: block;
  position: relative;
  min-height: 328px;
  background-size: cover;
  background-position: top;
  *,
  .layout-region * {
    color: #fff;
  }

  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(27, 25, 24, 0),
      rgba(16, 16, 16, 0.88)
    );
    padding-top: $wbu-margin * 1.5;
    @include WBUtransition();
  }
  &:hover {
    .background {
      background: linear-gradient(
        180deg,
        rgba(27, 25, 24, 0.2),
        rgba(16, 16, 16, 1)
      );
    }
  }
  //
  &__text {
    padding: 0 20px;
    .layout-region {
      margin-bottom: $wbu-margin * 0.5;
    }

    .date {
      font-size: $wbu-default-font-size;
      line-height: 18px;
      display: flex;
      flex-wrap: wrap;
      a {
        display: inline-block;
        padding-right: $wbu-margin * 0.25;
        position: relative;
        &:hover {
          font-weight: 400;
        }
        + a {
          padding-left: $wbu-margin * 0.25;
          &::before {
            content: "|";
            display: inline-block;
            position: absolute;
            top: 0;
            left: -2px;
          }
        }
      }
    }
    .title {
      font-size: $wbu-h3-font-size;
      margin-bottom: $wbu-margin;
      font-weight: 400;
    }
    .description {
      font-weight: 500;
      position: relative;
      i {
        margin-right: $wbu-margin * 0.25;
        font-size: 1.6rem;
        position: absolute;
        left: -$wbu-margin;
      }
    }
  }
  //
  &.a-la-une {
    margin-bottom: $wbu-margin * 2.5;
    height: 450px;
    .billetDeBlogTeaser__text {
      line-height: 2.2;
      .a-la-une {
        font-size: 22px;
      }
      .title {
        font-size: $wbu-h1-font-size;
        line-height: 40px;
        font-weight: 500;
      }
    }
  }
  //
  &.a-la-une {
    margin-bottom: $wbu-margin * 2.5;
    height: 450px;
    .billetDeBlogTeaser__text {
      line-height: 2.2;
      .a-la-une {
        font-size: 22px;
      }
      .title {
        font-size: $wbu-h1-font-size;
        line-height: 40px;
        font-weight: 500;
      }
    }
  }
  &.show-text-hover {
    overflow: hidden;
    .background {
      bottom: $wbu-margin * 1.5;
      transform: translateY(100%);
      @include WBUtransition();
    }
    &:hover {
      .background {
        bottom: 0;
        transform: translateY(0);
      }
    }
  }
}
