.billetDeBlogTeaser {
  display: block;
  position: relative;
  height: 328px;
  background-size: cover;
  background-position: top;
  .background {
    position: absolute;
    bottom: 0;
    height: 153px;
    width: 100%;
    background: linear-gradient(180deg, rgba(27, 25, 24, 0), #1b1918);
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    .date {
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      margin-bottom: 10px;
    }
    .title {
      font-size: 24px;
      line-height: 24px;
      color: #fff;
      margin-bottom: 22px;
    }
  }
}
