@use "../../wbu-ressources.scss" as *;
.reinsuranceItem {
  // max-width: 270px;
  text-align: center;
  margin-bottom: $wbu-margin;

  &__iconContainer {
    background-color: $wbu-background;
    border-radius: 50%;
    border: 1px solid darken($wbu-background, 30%);
    margin: 0 auto 22px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__assistance {
    // height: 80px;
    // width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $wbu-margin * 0.5;

    svg,
    img,
    i {
      max-height: 60px;
      max-width: 60px;
      width: 100%; // Si cela ne fonctionne pas pour la balise i, il faudra la surchager en dessous.
      color: $wbu-color-primary;
      fill: $wbu-color-primary;
    }
  }

  &__title {
    margin-bottom: $wbu-margin * 1.5;
    color: #1b1918;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    span {
      color: #49a0a2;
    }
  }

  &__description {
    color: #1b1918;
    font-weight: 300;
    font-size: 1em;
    line-height: 20px;
  }
}
