@use "../../wbu-ressources-clean.scss" as *;
@use "../../variables" as *;

.galeryImage {
  width: 100%;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  &__big {
    width: 75%;
    padding-right: 3px;
    flex-grow: 0;
    max-width: 75%;
    position: relative;
    overflow: hidden;
    min-height: 400px;

    img {
      width: auto;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      right: 5px;
    }
  }

  &__small {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .small {
      margin-bottom: 4px;
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      // &:last-child {
      //   margin: 0;
      //   position: relative;

      //   .small__voirPlus {
      //     color: #fff;
      //     position: absolute;
      //     text-decoration: none;
      //     font-weight: 400;
      //     font-size: $wbu-default-font-size * 1.4;
      //     cursor: pointer;
      //     @include media-max(MD) {
      //       font-size: $wbu-default-font-size;
      //     }
      //     @include media-max(XS) {
      //       font-size: $wbu-default-font-size * 0.6;
      //     }

      //     &:hover {
      //       text-decoration: underline;
      //     }
      //   }

      //   &::before {
      //     content: "";
      //     position: absolute;
      //     background-color: black;
      //     top: 0;
      //     opacity: 0.35;
      //     bottom: 0;
      //     right: 0;
      //     left: 0;
      //     transition: ease-in-out 0.2s;
      //   }

      //   &:hover {
      //     &::before {
      //       opacity: 0.7;
      //     }
      //   }
      // }

      img {
        margin: 0;
        max-width: 295px;
        width: 100%;
      }
    }
  }
  &__read-more {
    position: absolute;
    width: 25%;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    background-color: rgba($wbu-background, 0.5);
    height: 100px;
    color: color-yiq($wbu-background);
    opacity: 0.7;
    cursor: pointer;
    @include WBUtransition();
    svg {
      width: 15px;
      margin-left: 0.5rem;
      @include media-min(MD) {
        width: 20px;
        margin-left: 1rem;
      }
      fill: $wbu-background;
      @include WBUtransition();
    }
    &:hover {
      opacity: 1;
      background-color: rgba($wbu-background, 0.8);
      svg {
        fill: $wbu-color-primary;
      }
    }
  }
}
