@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables.scss" as *;
@use "./molecule/note-avis.scss";
@use "./molecule/sd-card-actu.scss";
@use "./atome/bloc-actus-all.scss";

.sd-actus-section {
  padding: 2rem 0;
  .sdt-title {
    margin: 0 0 4rem;
    @include bp_h2();
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    letter-spacing: 5px;
  }
}
