@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;
@use "./molecule/sac-service.scss";
.ac-nos-services {
  .ac-column-image {
    height: 100%;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .ac-nos-services--content {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 9rem 4rem;
    background: $wbu-background;
    @include media-max(XS) {
      padding: 6rem 2rem;
    }
  }

  .ac-content {
    max-width: 70rem;
    @include media-min(M) {
      max-width: 100rem;
    }
  }
  .ac-left-header {
    padding: 0 0 $wbu-margin * 2;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;

    .ac-first-title {
      text-align: left;
      margin-bottom: 20px;
      width: 100%;
      color: #ffffff;
      font-size: $wbu-default-font-size;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.5em;
      letter-spacing: 5px;
    }
    .ac-head-title {
      margin-bottom: 20px;
      width: 100%;
      position: relative;
      color: #ffffff;
      font-size: $wbu-titre-big;
      font-weight: 800;
      @include media-max(XS) {
        font-size: $wbu-titre-big-sm;
      }
    }

    .ac-text-descriptor {
      max-width: 80rem;
      position: relative;
      color: #ffffff;
      line-height: 1.5em;
      padding: 0;
      margin: 0;
      font-size: 1.6rem;
    }
  }
}
