@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;
.section-education {
  padding-bottom: $wbu-margin * 2;
  padding-top: $wbu-margin;
  .experience-group {
    :nth-last-child(1) {
      margin-bottom: 0 !important;
    }
    .experience-education {
      :nth-child(1) {
        margin: 0 !important;
      }
      margin-bottom: $wbu-margin;
    }
  }
}
