@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../variables" as *;

.document-secondaire {
  //color: $wbu-color-primary;
  .sous-document-primary {
    width: 30%;
    min-width: 30%;
  }

  a {
    color: $wbu-color-primary;
    text-decoration: underline;
  }
  .sous-document-secondary {
    margin-left: $wbu-margin * 2;
    width: 70%;
    min-width: 70%;
  }
}
