@use "../../../../_variables.scss";
@use "../../../../wbu-ressources-clean.scss" as *;

.footer-handler {
  background: $wbu-background;
  padding: $space-bottom 0;

  .img-logo {
    margin-bottom: 3.5rem;
    img {
      max-width: 100%;
    }
  }
  p {
    margin: 0;
  }

  .element {
    display: flex;
    align-items: center;
    padding-bottom: $wbu-margin * 0.8;

    .icon {
      border: 2px soliid tomato;
      color: $wbu-color-primary;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: $wbu-color-primary;
      fill: $wbu-color-primary;
    }

    .location {
      color: white;
      margin-left: $wbu-margin * 0.8;
    }
    .email {
      color: white;
      margin-left: $wbu-margin * 0.5;
    }
    a {
      transition: all 0.5s;
      color: white;
      &:hover {
        text-decoration: none;
        color: $wbu-color-primary;
      }
    }
  }
  .link {
    color: white;

    a,
    & {
      transition: all 0.5s;
      color: white;
    }
    &:hover,
    a:hover {
      text-decoration: none;
      color: $wbu-color-primary;
    }
  }

  .head-element {
    margin-bottom: 3.5rem;
    color: white;
    font-weight: bold;
  }
  .links {
    display: block;
    margin-top: $wbu-margin;
    .link {
      padding-bottom: $wbu-margin * 0.8;
    }
  }

  .description {
    margin-top: $space_inner_top * 0.6;
    color: white;
  }
  .email-form {
    margin-top: $space_top * 0.5;
    display: flex;
    align-items: center;
    .mail {
      width: 60%;
      height: 60px;
      padding-left: $wbu-margin * 0.5;
      &:focus {
        box-shadow: none;
        border-color: $wbu-color-primary;
      }
    }
    .send {
      position: relative;
      height: 60px;
      background: $wbu-color-primary;
      margin-left: $wbu-margin * -0.2;
      border: none;
      color: black;
      letter-spacing: 0.5;
      z-index: 1;
      text-transform: uppercase;
      font-weight: bold;
      padding-left: $wbu-margin * 0.3;
      //white-space: nowrap;
      padding-right: $wbu-margin * 0.3;
      //transform: scaleX(1);
      width: 40%;
      transition: ease-in-out 0.3s;
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        z-index: -1;
        position: absolute;
        background: $wbu-background;
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4);
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
        color: white;
      }
    }
  }
}
.copyright {
  padding-top: $wbu-margin * 3;
  p {
    margin: 0;
  }

  .elements {
    color: white;
    font-size: $wbu-title-font-size;

    .f-link {
      color: $wbu-color-boder;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        transition: all 0.3s;
        color: $wbu-color-primary;
      }
    }
  }
}
