@use "../wbu-atomique/scss/_variables.scss";
@use "..//wbu-atomique/scss/wbu-ressources-clean.scss" as *;


.lock-smithing-service-handler{
   

    .lock-info-section{
        
        &::before{
            content: "";
            width: 70px;
            height: 3px;
            background: $wbu-color-secondary;
            display: block;
            margin-top: $wbu-margin * 0.5;
            margin-bottom: $space_bottom * 0.2;
        }
        .title{
            font-size: $wbu-h2-font-size-sm * 0.55;
            font-weight: bold;
            margin-bottom: $space_bottom * 0.7;
        }
        .description{
            font-size: $wbu-h1-font-size-md;
        }
        .all-services{
            margin-top: $space-top;
            .list-services{
                color: $wbu-color-text;
                .element{
                    list-style-type: disc;
    
                    &::before{
                        content: "\2022";
                        color: $wbu-color-secondary;
                        font-weight: bold;
                        display: inline-block; 
                        width: 1em;
                        margin-left: -1.001em;
                    }
                }
            }
        }
    }
}