@use "../../../../_variables.scss" as *;
@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/htl-single-product.scss";
.products-section-handler {
  padding: $space-top 0;

  .section-title {
    text-align: center;
    font-size: $wbu-h3-font-size;
    font-weight: lighter;
    margin-bottom: $space_bottom * 0.5;
  }
  .all-products-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
