@use "../../../../_variables.scss" as *;
@use "../../../../wbu-ressources-clean.scss" as *;

.security-info-handler {
  overflow: hidden;

  .safety-text {
    padding: $space-bottom * 1.5 0;
    min-height: 60vh;
    background: url("https://hotlock.axiomthemes.com/wp-content/uploads/2017/01/bg_cta2.jpg");
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
      color: $wbu-color-secondary;

      i {
        svg {
          margin-top: $space-top;
          fill: $wbu-color-primary;
          color: $wbu-color-primary;
        }
      }
    }
    .text-title {
      color: $wbu-border-color;
      font-size: $wbu-titre-big;
      font-weight: lighter;
      margin: $wbu-margin * 2 0;
      @include media-max(SM) {
        font-size: $wbu-titre-big-md;
      }
      @include media-max(XS) {
        font-size: $wbu-titre-big-sm;
      }
    }
    .text-paragraph {
      color: $wbu-border-color;
      font-size: $wbu-h5-font-size;
      font-weight: lighter;
      margin-bottom: $wbu-margin * 2;
      max-width: 60rem;
      line-height: 1.5;
      @include media-max(SM) {
        font-size: $wbu-default-font-size;
      }
      // @include media-max(XS) {
      //   font-size: $wbu-h5-font-size;
      // }
    }
  }
}
