@use "../../../../_variables.scss" as *;
@use "../../../../wbu-ressources-clean.scss" as *;
//@use "./atome/section-title.scss";
@use "./molecule/single-service-card.scss";
.services-overview-section-handler {
  padding: $space-top 0;
  .service-description {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    @include media-max(SM) {
      max-width: 80rem;
    }
  }

  .subtitle {
    margin-top: $space_inner_top;
  }
  .description {
    margin-top: $space-top;
  }
  .htl-btn {
    margin-top: $space-top;
  }

  .services-elements {
    position: relative;
    .card-handler {
      width: 70vw;
    }
  }
}
