@use "../../../../_variables.scss";
@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/single-service-items.scss";
.our-services-handler {
  margin-top: $space-top;
  margin-bottom: $space-bottom;
  position: initial;

  &::before {
    content: "";
    width: 50px;
    display: block;
    height: 3px;
    margin-top: $space-top * 0.6;
    margin-bottom: $wbu-margin * 0.49;
    background: $wbu-color-primary;
  }
  .section-title {
    font-size: $wbu-h2-font-size-sm;
    color: $wbu-background;
    margin-bottom: $wbu-margin * 1.5;
  }

  .services-column {
    //vertical-align: top;

    .all-service-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 700px) {
  .single-service-items {
    .descriptor-item {
      display: none;
    }
    .htl-btn {
      display: none;
    }
    .info-items {
      padding-bottom: 0;
    }
  }
}
