@use "../../../../_variables.scss" as *;
@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/single-service-card.scss";
.services-overview-section-handler {
  padding: $space-top 0;
  .service-description {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    @include media-max(SM) {
      max-width: 80rem;
    }
    &::before {
      content: "";
      width: 50px;
      height: 3px;
      display: block;
      background: $wbu-color-primary;
    }
  }
  .head-title {
    margin-top: $wbu-margin;
    font-size: $wbu-h2-font-size-sm;
    font-weight: 400 !important ;
  }
  .subtitle {
    margin-top: $space_inner_top;
    font-size: $wbu-h1-font-size;
  }
  .description {
    margin-top: $space-top;
    font-size: $wbu-default-font-size;
  }
  .htl-btn {
    margin-top: $space-top;
  }

  .services-elements {
    position: relative;
    .card-handler {
      width: 70vw;
    }
  }
}
