@use "../../../../_variables.scss" as *;
@use "../../../../wbu-ressources-clean.scss" as *;
@use "./molecule/single-lutin.scss";
.team-section-handler {
  overflow: hidden;
  padding: $space-top 0;

  .title {
    font-size: $wbu-h4-font-size;
    margin-bottom: $wbu-btn-padding-y-sm;
  }
  .all-team-lutin {
    position: relative;
  }
  .htl-btn {
    margin-top: $space_inner_top;
  }
}
