@use  "../../../../_variables.scss";
@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";

.team-section-handler{
    overflow: hidden;
    padding-top: $space-top;
    .title{
        font-size: $wbu-titre-big; 
        margin-bottom: $wbu-btn-padding-y-sm;
    }
    .all-team-lutin{
        position: relative;
        .img-handler{
            overflow: hidden;
            height: auto;
            position: relative;
            .user-img{
                position: relative;
                z-index: 10;
                text-align: center;
                height: fit-content;
                display: block;
                width: 100%;
                transition: all 0.9s;
                &:hover{
                    height: fit-content;
                }
            }
            &:hover{
                .social-network{
                    margin-top: -180px;
                }
            }
        }
        .single-lutin{
            overflow: hidden;
            .lutin-img{
                overflow: hidden;
                .social-network{
                    z-index: 11;
                    position: absolute;
                    color: $wbu-border-color;
                    bottom: 10%;
                    left: 25%;
                    display: block;
                    height: 35px;
                    background: $wbu-background;
                    width: 150px;
                    padding: auto;
                    display: none;
                    .icon{
                        margin-left: auto;
                        margin-right: auto;
                        color: $wbu-border-color;
                        .social-link{
                            color: $wbu-border-color;
                            &:hover{
                                color: $wbu-color-secondary;
                            }
                        }
                        &::after{
                            content: "";
                            display: block;
                            position: relative;
                            left: 40;
                            top: -25;
                            height: 25px;
                            width: 1px;
                            background: $wbu-color-thirdly;
                        }
                        &:hover{
                            color: $wbu-color-secondary;
                        }
                        &:last-child::after{
                            content: "";
                            display: none;
                        }
                    }
                }
                &:hover{

                    .social-network{
                        display: block;
                    }
                }
            }
            .lutin-name{
                margin-top: $wbu-margin;
                text-align: center;
                font-size: $wbu-h3-font-size;
                font-weight: bolder;

                &:hover{
                    cursor: pointer;
                    color: $wbu-color-secondary;
                    transition: all 0.2s;
                }
            }
            .lutin-poste{
                text-align: center;
                font-size: $wbu-default-font-size;
                color: $wbu-color-text;
                
            }
            
        }
    }
    .aboutus-btn{
        background: $wbu-background;
        width: 300px;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        margin-top: $space-top;
        padding: $wbu-margin;
        position: relative;
        cursor: pointer;
        &:hover{
            
            .link{
                z-index: 1;
                color: $wbu-background;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $wbu-color-secondary;
            transition: transform 0.5s;
            transform-origin: 0 0;
            transition-timing-function: cubic-bezier(0.5,1.6,0.4);
        }
        &::before{
            transform: scaleX(0);
        }
        &:hover::before{  
            transform: scaleX(1);
        }
        .link{
            color: $wbu-border-color;
            font-size: $wbu-title-font-size;
            text-decoration: none;
            font-weight: 400;
            position: relative;
        }
    }
}