@use "../wbu-atomique/scss/wbu-ressources-clean.scss" as *;

.tech-stories-section-handler {
  margin-top: $space_top;
  .section-title {
    font-size: $wbu-titre-big;
    font-weight: bolder;
  }
  .stories-handler {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    .single-story {
      margin: $wbu-margin;
      padding: $wbu-btn-padding-x-sm;
      .created-date {
        font-size: $wbu-default-font-size;
        color: $wbu-color-thirdly;
      }
      .story-title {
        font-size: $wbu-h2-font-size;
        font-weight: bolder;
        .link {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .story {
        margin-top: $space-top * 0.3;
        font-size: $wbu-title-font-size;
        font-weight: 500;
      }
      .pub-info {
        margin-top: $space_inner_top * 0.5;
        .img-profile {
          .img {
            border-radius: 100%;
            height: 50px;
          }
        }
        .role {
          margin-top: $space-top * 0.4;
          margin-left: $wbu-margin * 0.5;
        }
      }
    }
  }
  .more-link {
    font-size: $wbu-title-font-size;

    .link {
      text-decoration: none;
      border-bottom: 0.15rem solid dodgerblue;
    }
  }
}
