

 .balance-container{
  
    .wrapper-balance{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        border:1px solid #c0c0c0;
        border-radius:130px;
        box-shadow:4px 5px 4px silver;
        padding:45px;
        gap:40px
    }

    @media(max-width:1000px){

    .wrapper-balance{
        display: grid;
        grid-template-columns:1fr;
        gap:40px;
        border-radius: none;
    }
    }

    .balance{
        text-align: center;
    }

    p{
        font-size:17px;
    }

    h3{
        font-weight: bolder;
    }

}

