

.footer-container{
    background-image: radial-gradient(#c0c0c0,#f5f5f5);
    
    h4{
        font-size:20px;
        font-weight:bolder;
    }
    p{
        font-size:15px;
    }
    hr{
        width:200px
    }
}