

img{
    width:100%
}

.showcase-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:50px
};

#imo{
    border-radius:20px;
    object-fit: contain;
}


.showcase{
     background-color: ghostwhite;
   h2{
    font-size:30px;
    font-weight:bolder;
}

p{
    font-size:17px;
    margin-top:15px;
}


button{
    font-size:20px;
    font-weight: bolder;
    width:230px;
    border-radius:30px;

    &:hover{
        background-color:#d8bfd8;
        color:#fff;
        border-color: #d8bfd8;
    }
}

}

/*MEDIA QUERIES*/

@media(max-width:1000px){
    .showcase-container{
      display: grid;
      grid-template-columns:1fr;
    }
}