
.trust{
   background-image:linear-gradient(#c0c0c0,#f8f8ff);
.trust-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;

    @media(max-width:1000px){
        display: grid;
        grid-template-columns:1fr;
    }

  p{
    font-size:17px;
  }

  .btntrust{
    font-size:20px;
    font-weight: bolder;
    border-radius:30px;

    &:hover{
        background-color:#d8bfd8;
        color:#fff;
        border-color: #d8bfd8;
    }
}
}

}