@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
.cm-editor {
  height: 300px;
  min-height: 300px !important;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 12px;
  font-family: "Fira Code", monospace;
}
.cm-scroller {
  overflow: auto;
}
