@use "../../wbu-ressources-clean.scss" as *;

* {
  line-height: $wbu-default-line-height * 1.2;
}

.lesrois-action-header {
  background-image: linear-gradient(#01010182, #0c0c0c99);
  position: relative;
  overflow: hidden;
  height: 80vh;
  min-height: 500px;
  .cover-image {
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 2500px;
    z-index: -1;
  }
  .btn {
    margin-top: $wbu-margin;
    outline: none;
    &:hover {
      background-color: $wbu-color-lawngreen;
      border: none;
      color: $wbu-black-color;
    }
  }
}
.lesrois-call-toaction {
  .content-phone {
    background-color: $wbu-background;
  }
  svg {
    fill: $wbu-color-primary;
  }
}

.lesrois-first-block {
  .block-img {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    margin-bottom: $wbu-margin;
    .photo-a {
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 647px;
      width: auto;
      left: auto;
      right: 0;
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
    @include media-min(DD) {
      margin-bottom: 0;
      .photo-a {
        right: 15px;
      }
    }
  }
  &--inv {
    .block-img {
      order: 1;
      .photo-a {
        right: 0;
      }
    }
  }
}
.lesrois-description-icon {
  padding: $wbu-margin * 1.5 $wbu-margin;
  flex-direction: column;
  box-shadow: 4px 7px 11px 4px #efefefb8;
  @include WBUtransition();

  .icon {
    min-width: 100px;
    margin-bottom: $wbu-margin;
    svg {
      @include WBUtransition();
      width: 6rem;
      height: 6rem;
      fill: $wbu-color-primary;
    }
  }
  @include media-min(MD) {
    padding: $wbu-margin * 1.5 $wbu-margin * 2;
    flex-direction: row;
    .icon {
      margin-bottom: 0;
    }
  }
  &:hover {
    box-shadow: -4px -7px 11px 4px #efefefb8;
    .icon {
      svg {
        fill: $wbu-color-secondary;
      }
    }
  }
}
.lesrois-section-cover {
  min-height: 400px;
  overflow: hidden;
  position: relative;
  .cover-image {
    position: absolute;
    left: 0;
    right: auto;
    bottom: auto;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -1;
  }
  .titre {
    margin-bottom: $wbu-margin * 2.5;
    font-weight: 600;
  }
}
.lesrois-img-multi {
  position: relative;
  margin-bottom: 100px;
  .container-text {
    position: absolute;
    top: calc(100% - 100px);
    bottom: auto;
    left: 0;
    right: 0;
  }
  .block-text {
    padding: $wbu-margin * 1.5 $wbu-margin * 2;
    .titre {
      font-weight: 600;
    }
  }
}
