
@use "../../wbu-ressources-clean.scss" as *;


*{
    line-height:$wbu-default-line-height*1.2;
}

.action-header{
    background-image:linear-gradient(#00010000,#5f605e),url(https://demo.templatesjungle.com/boldiz/images/banner-item1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;

    .btn{
        margin-top: $wbu-margin;
        outline: none;
        &:hover{
            background-color:$wbu-color-lawngreen ;
            border:none;
            color:$wbu-black-color;
        }

    }

    .action-container{
        margin-bottom: $wbu-margin* 5.5;
        margin-top: $wbu-margin* 5.5;
    }

}


.first-block{
background-image:radial-gradient($wbu-color-lawngreen,$wbu-color-prime);
  
 .first{
   padding-bottom: $wbu-padding*5.5;
   padding-top: $wbu-padding*5.5;
   
}

h4{
    margin-bottom: $wbu-margin *3;

}

.block-a{
    padding-bottom: $wbu-padding*7.5;
    padding-top: $wbu-padding*2.5;   
}

.block-b{
    padding-bottom: $wbu-padding*2.5;
    padding-top: $wbu-padding*2.5;   
}

.photo-a{
    box-shadow: 0 40px 45px #d5d3d3;
}


}

.second-block{
     background-image:linear-gradient($wbu-color-lawngreen,$wbu-color-prime);
    .second{
      padding-bottom: $wbu-padding * 6.5;
      padding-top: $wbu-padding * 6.5;
}

.building{
    padding-bottom: $wbu-padding *3.5;
      padding-top: $wbu-padding * 5.5;
}

}

.show{
    h3{
        padding-top: $wbu-padding * 6.5;
        padding-bottom: $wbu-padding*3.5;    
  }

    }

    .description{

        padding-bottom: $wbu-padding * 4.5;

    }


    .cost-container{
        padding-top: $wbu-padding * 5.5;
        padding-bottom: $wbu-padding*3.5;
        .click{
            margin-top:$wbu-margin ;
        }
        .circle{
            border:$wbu-default-font-size*0.1 solid $wbu-color-prime ;
            padding:$wbu-padding*0.5 ;
            border-radius:$wbu-default-font-size ;
            box-shadow: 0 $wbu-default-font-size $wbu-default-font-size $wbu-color-prime;
        }

        .circle-b{
            margin-top:$wbu-margin*2;

        }

        .circle-c{
            margin-top:$wbu-margin*2 ;

        }
    }

    .footer-container{
        background-color: $wbu-background;
        padding-top: $wbu-padding * 5.5;
        padding-bottom: $wbu-padding*3.5;
    }

