@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../_variables.scss" as *;
.blog-card {
  border: 1px solid $wbu-color-boder;
  margin-bottom: calc($wbu-margin + 8px);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 7px;
  text-align: left;
  margin: 0 auto $wbu-margin;
  .blog-card-head {
    .blog-date {
      width: 80px;
      height: 80px;
      padding: calc($wbu-btn-padding-x-sm + 2.2px)
        calc($wbu-btn-padding-x-sm - 2.8px);
      position: absolute;
      right: 0;
      background: $wbu-background;
      color: $wbu-border-color;
      text-align: center;
      .date {
        display: block;
        font-size: $wbu-h4-font-size;
      }
    }
  }
  .img-handler {
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .blog-card-body {
    padding: $wbu-margin;
    .posted-date {
      display: none;
    }
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
    .blog-title,
    a {
      color: black;
      font-weight: 600;
      transition: 0.3s;
      cursor: pointer;
      word-break: break-word;
      &:hover,
      a:hover {
        text-decoration: none;
      }
    }
    .blog-title {
      color: black;
      @include ellipseText(3);
    }
    .small-blog-content {
      margin-top: $wbu-margin;
      line-height: 30px;
      @include ellipseText(3);
    }
    .lnk {
      display: flex;
      gap: 1.5rem;
      position: relative;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .more-lnk {
      color: black;
      text-transform: capitalize;
      font-weight: 600;
      transition: 0.3s;
      background: transparent;
      display: flex;
      justify-content: space-between;
      gap: 0.9rem;
      &::after {
        content: "";
        position: relative;
        height: 2.2rem;
        width: 2.3rem;
        transition: transform ease 0.3s, background-image ease 0.3s;
        top: -1px;
        @include wbu__angle-right(black, 12);
        background-position: center;
      }
    }
  }
  &--flex-minimize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $wbu-border-color;
    .blog-date {
      display: none;
    }
    .blog-card-body {
      .posted-date {
        color: $wbu-color-text;
        opacity: 0.7;
        margin-top: $wbu-margin * 0.8;
        display: block;
      }
      .blog-title {
        font-size: $wbu-h5-font-size;
        text-transform: capitalize;
      }
      .small-blog-content {
        display: none;
      }
      .lnk {
        display: none;
      }
    }
    .img-handler {
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        max-width: initial;
      }
    }
  }
}
