@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../atome/mitor-btn.scss";
@use "./achievments-counter.scss";
@use "../atome/mitor-card__img.scss";
@use "../atome/mitor-card__body.scss";
.mitor-card {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .mitor-play-btn {
    display: none;
  }
  &--left {
    .mitor-card__img {
      &::after {
        content: "";
        position: absolute;
        left: -25px;
        top: 0;
        width: 250px;
        height: 100%;
        z-index: -1;
        background-color: $wbu-background;
      }
    }
  }
  &--right {
    .mitor-card__img {
      //order: 2;
      &::after {
        content: "";
        position: absolute;
        right: -25px;
        top: 0;
        width: 250px;
        height: 100%;
        z-index: -1;
        background-color: $wbu-background;
      }
    }
  }
  &--reverse {
    .mitor-card__img {
      order: 2;
    }
  }
  &--triangle {
    .mitor-card__img {
      &::after {
        content: "";
        position: absolute;
        left: -25px;
        bottom: 0;
        width: 0;
        height: 0;
        z-index: -1;
        border-bottom: 300px solid $wbu-background;
        border-right: 300px solid transparent;
      }
    }
    &-right {
      .mitor-card__img {
        &::after {
          content: "";
          position: absolute;
          right: -25px;
          bottom: 0;
          width: 0;
          height: 0;
          z-index: -1;
          border-bottom: 300px solid $wbu-background;
          border-left: 300px solid transparent;
        }
      }
    }
  }
  &--video {
    .mitor-play-btn {
      display: block;
    }
  }
}
