@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../atome/carrousel-nav.scss";
.single-testimonial {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: $wbu-margin * 1.5;
  @include media-max(MD) {
    .testimony-handler {
      left: 0;
      margin-left: $wbu-margin;
      margin-right: $wbu-margin;
      position: absolute;
      width: 90%;
    }
  }
  .img-handler {
    position: relative;
    img {
      max-height: 60rem;
      max-width: 100%;
      object-fit: cover;
    }
    .social-link {
      visibility: hidden;
    }
  }
  .testimony-handler {
    padding: $wbu-margin * 0.8;
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 90%;
    //margin-right: 50px;
    background: rgba(white, 0.9);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    //opacity: 0.8;
    .nom {
      font-size: $wbu-h5-font-size;
      color: $wbu-background;
      font-weight: 600;
    }
    .role {
      color: $wbu-background;
    }
    .text-content {
      margin-top: $wbu-margin;
    }
    .stars {
      margin-top: $wbu-margin;
      margin-bottom: $wbu-margin;
      color: #ffce31;
      opacity: 1;
      fill: #ffce31;
      p {
        margin: 0;
      }
      svg {
        fill: #ffce31;
        width: 2rem;
        height: 2rem;
      }
    }

    .svg {
      position: absolute;
      right: 20px;
      top: -20px;
      font-size: $wbu-h2-font-size-sm;
      color: rgba($wbu-color-primary, 0.3);
      opacity: 0.7;
      svg {
        width: 4.5rem;
        height: 4.5rem;
        fill: rgba($wbu-color-primary, 0.3);
      }
    }
  }

  // class modifier start
  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(white, 0.9);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 3rem 2rem;
    border-radius: 10px;
    @include media-max(XS) {
      flex-wrap: wrap;
    }
    .img-handler {
      padding-right: 2rem;
      img {
        object-fit: cover;
        max-width: 200px;
        width: 100%;
        object-position: top;
      }
      .social-link {
        visibility: hidden;
      }
    }
    .testimony-handler {
      position: inherit;
    }
    .testimony-handler {
      position: initial;
      background: transparent;
      box-shadow: none;
      .text-content {
        text-align: center;
        font-style: italic;
      }
      .lutin-info {
        margin-left: $wbu-margin * 0.2;
        .nom {
          display: flex;
          &::before {
            content: "";
            width: 100px;
            height: 3px;
            margin-right: $wbu-margin;
            margin-top: $wbu-margin * 0.5;
            background: $wbu-background;
          }
          @include media-max(XS) {
            &::before {
              display: nonee;
            }
          }
        }
        .role {
          margin-left: $wbu-margin * 6;
        }
      }
      .svg {
        position: absolute;
        right: 20px;
        top: 0;
        font-size: $wbu-h3-font-size-sm;
        color: rgba($wbu-color-boder, 1);
        opacity: 0.7;
        svg {
          width: 4.5rem;
          height: 4.5rem;
          fill: rgba($wbu-color-primary, 0.3);
        }
      }
    }
  }
  //class modifier end
  //modifier to skeumorphisme twitter link
  &--skeumorphisme {
    justify-content: center;
    align-items: center;
    background: rgba(white, 0.9);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: $wbu-margin;
    border-radius: 10px;
    .img-handler {
      display: flex;
      justify-content: center;

      img {
        object-fit: cover;
        border-radius: 50%;
        object-position: top;
        max-width: 150px;
        width: 100%;
      }
      .social-link {
        visibility: visible;
        position: absolute;
        bottom: 0;
        right: 32%;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: $wbu-color-thirdly;
        svg {
          fill: $wbu-border-color;
        }
      }
    }
    .testimony-handler {
      text-align: center;
      .svg {
        display: none;
      }
    }
    .testimony-handler {
      position: initial;
      background: transparent;
      box-shadow: none;
      width: 100%;
      .text-content {
        text-align: center;
        font-style: italic;
        line-height: 30px;
      }
      .lutin-info {
        text-align: center;
        .role {
          margin-top: $wbu-margin;
        }
      }
      .svg {
        position: absolute;
        right: 20px;
        top: 0;
        font-size: $wbu-h3-font-size-sm;
        color: rgba($wbu-color-boder, 1);
        opacity: 0.7;
        svg {
          width: 4.5rem;
          height: 4.5rem;
          fill: rgba($wbu-color-primary, 0.3);
        }
      }
    }
  }
}
