@use "../../../../../wbu-ressources-clean.scss" as *;
.simple-card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 4rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: ease-in-out 0.3s;
  position: relative;
  background: #fff;
  &:hover {
    transform: none;
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__body {
    padding: 3rem;
  }
  .sc-title {
    font-weight: 600;
    color: black;
    // font-size: $wbu-h5-font-size;
    margin-bottom: 1rem;
    @include ellipseText(2);
    a,
    & {
      font-weight: 600;
      color: black;
      text-decoration: none;
    }
  }
  .sc-desc {
    font-size: $wbu-default-font-size;
    margin-bottom: 1.5rem;
    line-height: 30px;
    color: lighten($wbu-color-text, 20);
    @include ellipseText(2);
  }
  .sc-link {
    color: black;
    font-size: $wbu-default-font-size;
    text-decoration: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 0;
    position: relative;
    text-transform: capitalize;
    &,
    a {
      transform: scale(1);
      transition: 0.3s;
      font-weight: 600;
      color: black;
    }
    a {
      @include cover-link();
      line-height: 1.5;
      font-weight: bold;
    }
    &::after {
      position: relative;
      content: "";
      width: 2rem;
      height: 2rem;
      transition: 0.3s;
      //top: 1;
      @include wbu__angle-right(black, 11);
      background-position: center center;
    }
    &:hover {
      text-decoration: none;
      a {
        text-decoration: none;
      }
      //&::after {
      //@include wbu__angle-right(black, 12);
      //}
    }
  }
  .sc-icon {
    display: none;
    padding-bottom: 4rem;
    svg {
      width: 4.5rem;
      height: 4.5rem;
      fill: $wbu-background;
    }
  }
  .blog-date {
    display: none;
    width: 80px;
    height: 80px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    background: $wbu-background;
    color: $wbu-border-color;
    text-align: center;
    pointer-events: none;
    .date {
      display: block;
      font-size: $wbu-h4-font-size;
    }
  }
  .sc-user-info {
    margin-bottom: 2rem;
    display: none;
    align-items: center;
    .img-bloc {
      margin-right: 2rem;

      img {
        width: 5.5rem;
        height: 5.5rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .user-title {
      font-weight: 600;
      color: black;
      font-size: $wbu-h5-font-size * 0.9;
      line-height: 30px;
      @include ellipseText(1);
    }
    .user-desc {
      font-size: $wbu-default-font-size;
      color: lighten($wbu-color-text, 20);
      text-transform: capitalize;
      white-space: nowrap;
      a {
        color: lighten($wbu-color-text, 20);
      }
    }
  }

  /* modificateur */
  &--icon {
    text-align: center;

    .simple-card__img {
      display: none;
    }
    .sc-link {
      display: none;
    }
    .sc-user-info {
      display: none;
    }
    .sc-icon {
      display: flex;
      justify-content: center;
    }
    .sc-desc {
      @include ellipseText(4);
    }
  }
  &--icon-left-no-bg {
    border-radius: 0;
    text-align: left;
    .simple-card__img {
      display: none;
    }
    .sc-link {
      display: none;
    }
    .sc-user-info {
      display: none;
    }
    .sc-title {
      &--bottom-line {
        display: block;
        width: 4.5rem;
        border: 0.3rem solid $wbu-color-primary;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .sc-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width: 60px;
      height: 60px;
      margin-bottom: 2rem;
      padding: 0;
      svg {
        fill: $wbu-color-text;
        width: 60px;
        position: relative;
        height: 60px;
      }
    }
    .sc-desc {
      @include ellipseText(4);
    }
    &:hover {
      background: $wbu-color-primary;
      .sc-desc,.sc-title {
        color: color-yiq($wbu-color-primary);
      }
      .sc-title {
        &--bottom-line {
          border-color: color-yiq($wbu-color-primary);
        }
      } 
      svg {
        fill: color-yiq($wbu-color-primary);
      }
    }
  }
  &--icon-left-black {
    text-align: left;
    .simple-card__img {
      display: none;
    }
    .sc-link {
      display: none;
    }
    .sc-user-info {
      display: none;
    }
    .sc-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      color: #fff;
      background: #000000;
      width: 60px;
      height: 60px;
      margin-bottom: 2rem;
      padding: 0;
      svg {
        fill: white;
        width: 2.8rem;
        height: 2.8rem;
      }
    }
    .sc-desc {
      @include ellipseText(4);
    }
  }
  &--dateshow {
    .blog-date {
      display: block;
    }
  }
  /* modificateur */
  &--icon-bg {
    text-align: center;
    transform: initial;
    background-color: white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -40%;
      left: -45%;
      background-image: url(../img/dots.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      opacity: 0;
      transform: rotate(220deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: -40%;
      right: -45%;
      background-image: url(../img/dots.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      transition: 0.3s;
      opacity: 0;
      transform: rotate(220deg);
    }
    &:hover {
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      transform: initial;
      .sc-link {
        &::before {
          border-color: $wbu-background;
          color: black;
        }
      }
      &::before,
      &::after {
        opacity: 0.1;
      }
    }
    .simple-card__img {
      display: none;
    }
    .sc-link {
      display: inline-flex;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      color: #969697;
      transition: 0.3s;
      margin-top: 2rem;
      position: relative;
      &:hover {
        transform: scale(1.04);
      }
      &::before {
        content: ">";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 50%;
        top: 0;
        left: 0;
        width: 5rem;
        height: 5rem;
        z-index: 1;
        border: 1px solid #969697;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        pointer-events: none;
      }
    }
    .sc-user-info {
      display: none;
    }
    .sc-icon {
      display: inline-flex;
      justify-content: center;
      width: 80px;
      height: 80px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      padding: initial;
      margin-bottom: 4rem;
      font-size: 30px;
      box-shadow: 0 0 3px rgb(0 0 0 / 20%);
      background: $wbu-background;
      svg {
        fill: white;
        width: 3rem;
        height: 3rem;
      }
    }
    .sc-desc {
      @include ellipseText(4);
    }
  }
  /* modificateur */
  &--icon-left {
    text-align: left;
    transform: initial;
    background-color: white;
    position: relative;
    transition: 0.3s;
    box-shadow: initial;
    &:hover {
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      transform: initial;
      .sc-link {
        &::before {
          border-color: $wbu-background;
          color: black;
        }
      }
      .sc-icon {
        background-color: $wbu-background;
        svg {
          fill: white;
        }
      }
    }
    .simple-card__img {
      display: none;
    }
    .sc-link {
      display: inline-flex;
      color: $wbu-background;
      font-weight: 600;
      position: relative;
      padding: 2rem;
      padding-left: 0;
      transition: padding 0.4s;
      a {
        color: $wbu-background;
      }
      &::after {
        margin-left: 1rem;
        @include wbu__direction-right(black, 18);
      }
      &:hover {
        padding-left: 1rem;
        text-decoration: none;
        a {
          text-decoration: none;
        }
        &::after {
          @include wbu__direction-right(black, 18);
        }
      }
    }
    .sc-user-info {
      display: none;
    }
    .sc-icon {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
      background-color: #fff;
      color: #000000;
      transition: 0.4s;
      padding: initial;
      margin-bottom: 4rem;
      svg {
        fill: black;
        width: 2.8rem;
        height: 2.8rem;
        transition: 0.3s;
      }
    }
    .sc-desc {
      @include ellipseText(4);
    }
  }
  &--icon-black {
    .sc-icon {
      background: #000000;
      svg {
        fill: white;
      }
    }
  }
  /* modificateur */
  &--icon-no-effect {
    text-align: left;
    transform: initial;
    // background-color: white;
    position: relative;

    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    &:hover {
      transform: initial;

      .sc-link {
        &::before {
          border-color: $wbu-background;
          color: black;
        }
      }
    }
    .simple-card__img {
      display: none;
    }
    .sc-link {
      display: inline-flex;
      color: $wbu-background;
      font-weight: 600;
      position: relative;
      padding: 2rem;
      padding-left: 0;
      transition: padding 0.4s;
      a {
        color: $wbu-background;
      }
      &::after {
        margin-left: 1rem;
        @include wbu__direction-right(black, 18);
      }
      &:hover {
        padding-left: 1rem;
        text-decoration: none;
        a {
          text-decoration: none;
        }
        &::after {
          @include wbu__direction-right(black, 18);
        }
      }
    }
    .sc-user-info {
      display: none;
    }
    .sc-icon {
      display: flex;
      border-radius: 50%;
      color: #000000;
      padding: initial;
      margin-bottom: 4rem;
      svg {
        fill: black;
        width: 4rem;
        height: 4rem;
      }
    }
    .sc-desc {
      @include ellipseText(4);
    }
  }

  &--user-info {
    .sc-user-info {
      display: flex;
    }
  }
  &--user-info-img-absolute {
    overflow: visible;
    box-shadow: none;
    padding: 0 8px;
    .simple-card__img {
      position: relative;
      overflow: hidden;
      padding: 0;
      img {
        border-radius: 5px;
        height: auto;
        max-width: 100%;
      }
    }
    .simple-card__body {
      position: relative;
      background: #fff;
      left: 20px;
      border-radius: 5px;
      transition: 0.3s;
      height: auto;
      bottom: 70px;
      transition: 0.3s;
      box-shadow: 0 0 5px rgb(0 0 0 / 10%);
      :is(.img-bloc, .user-title, .user-role) {
        display: none;
      }
      .sc-link {
        display: none;
      }
      &:hover {
        position: relative;
        z-index: 1;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
        transform: none;
        .sc-link {
          display: block;
        }
      }
    }
    &:hover {
      transform: none;
    }
    .sc-user-info {
      display: flex;
    }
  }
}
