@use "../../../../../variables" as*;
@use "./../../../../../wbu-ressources-clean.scss" as *;


.slide{
    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_1192234630v4_1512x.jpg?v=1632751242');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 25px;
    
}
.container{
        color: $wbu-color-primary;
        margin: 0 auto;
        min-width: 1440px;
        padding-left: $wbu-padding ;
        padding-right: $wbu-padding;
                
        
    .slide-container-texte{
       .part-one-line{
            line-height: $wbu-default-line-height;
        }

       .part-one-paragraph{
         line-height: $wbu-default-line-height * 1.2;
        }

        .butn{

            text-decoration: none;
            background: $wbu-color-secondary;
            color: $wbu-color-primary;
            border: 2px solid $wbu-color-secondary;
            padding: 9px 1.4em;
            vertical-align: middle;
            border-radius: 25px;
           
            &:hover{
               background-color: $wbu-background;
            }
        }
        
    }


}


@media only screen and (DD){
    .slide {
         .container {
            display: flex;
            flex-direction: column;
            width: 80%;
            

        }
    }
}
    