@use "../../../../../variables" as*;
@use "./../../../../../wbu-ressources-clean.scss" as *;




.slide{
    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_1192234630v4_1512x.jpg?v=1632751242');
    background-repeat: no-repeat;
    background-size: cover;
   color: color-yiq($wbu-color-primary);
    .slide-container{
        .slide-container-texte {
            height: 100%;
            .part-one-line{
                max-width: 50%;
                margin-bottom: $wbu-margin;
            }
            .part-one-paragraph{
                max-width: 30%;
                margin-bottom: $wbu-margin;
            }
            .btn{

                &:hover{
                   opacity: 0.5;
                    
                }
            }
        }
    }
}





















