@use "../../../../../variables" as*;
@use "./../../../../../wbu-ressources-clean.scss" as *;


.slide{
    background: url('https://canopy-theme-elegant.myshopify.com/cdn/shop/files/shutterstock_1192234630v4_1512x.jpg?v=1632751242');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.container{
        color: $wbu-color-primary;
        margin: 0 auto;
        max-width: 1440px;
        padding-left: $wbu-padding ;
        padding-right: $wbu-padding;
                
        
    .slide-texte{
       .part-one-line{
            line-height: $wbu-default-line-height;
        }

       p{
         line-height: $wbu-default-line-height * 1.2;
        }

       a{

            text-decoration: none;
            background: $wbu-color-secondary;
            color: $wbu-color-primary;
            border: 2px solid $wbu-color-secondary;
            padding: 9px 1.4em;
            vertical-align: middle;
            border-radius: 25px;
            padding: $wbu-padding;
          
           
            &:hover{
               background-color: $wbu-background;
            }
       }
        
      
       


    }


}


@media (max-width: 600px) {
   
    .slide {
       
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        .container {
            display: flex;
            flex-direction: column;
            width: 80%;

            .slide-texte{
              text-align: center;
            }
        }
    }
}
    