@use "../wbu-ressources-clean.scss" as *;
.clean-box-accordion {
  .field-icon {
    svg {
      width: $wbu-margin * 1.5;
      height: $wbu-margin * 1.5;
      margin-right: $wbu-margin * 0.75;
    }
  }
  .field-title {
    p {
      padding: 0;
      margin: 0;
    }
  }
}
///////////////////////////////
//
.front-page {
  .hbk-dynamiques-headers {
    margin-bottom: 0 !important;
  }
}
.custom-gallerie-330 {
  .galleries-main-thumbs {
    max-height: 330px;
    .galleries-main {
      height: auto;
      border-radius: 20px;
      overflow: hidden;
      .swiper-image-full {
        object-fit: fill !important;
        width: auto !important;
        max-width: 1600px;
      }
    }
  }
}
// à mettre dans le site
.equidistant-card {
  .node.price_cart.offres {
    height: 100%;
    .article-content {
      height: 100%;
      display: flex;
    }
  }
}
// à mettre dans le site
.formatage-models-simple-block-9678--3B60JtRq3cU {
  padding: $wbu-margin;
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  @include WBUtransition();
  svg {
    @include WBUtransition($temps: 0.8s);
  }
  .field-icon {
    svg {
      width: $wbu-margin * 0.8;
      height: $wbu-margin * 0.6;
    }
  }
  @include media-min(DD) {
    padding: $wbu-margin * 1.5;
  }
  background-color: rgba(172, 172, 172, 0.15);

  border-radius: 15px;
  .price-mount {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-top: $wbu-margin * 1.5;
    @include WBUtransition($temps: 0.2s);
    &::after {
      content: "/mois";
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  .layout-region.main {
    display: flex;
    flex-direction: column;
  }
  &:hover {
    background-color: rgba(lighten($wbu-color-primary, 15), 0.15);
    //box-shadow: 1px 2px 4px rgb(151 151 151 / 45%);
    svg {
      fill: $wbu-color-primary;
    }
    .price-mount {
      color: $wbu-color-primary;
      &::after {
        color: $wbu-color-text;
      }
    }
  }
}
