@use "../wbu-ressources-clean.scss" as *;
.clean-box-accordion {
  .field-icon {
    svg {
      width: $wbu-margin * 1.5;
      height: $wbu-margin * 1.5;
      margin-right: $wbu-margin * 0.75;
    }
  }
  .field-title {
    p {
      padding: 0;
      margin: 0;
    }
  }
}
