@use "../wbu-ressources-clean.scss" as *;
.field-references {
  .reference-type {
    margin-bottom: $wbu-margin;

    .ref {
      .ref-name {
        margin-right: $wbu-margin * 0.5;
        margin-bottom: 0;
      }
    }
    .name {
      margin-bottom: $wbu-margin * 0.5;
    }
  }
  .reference-type:last-child {
    margin-bottom: 0;
  }
}
