@use "../wbu-ressources-clean.scss" as *;
.field-skill-region {
  margin-bottom: $wbu-margin;

  .text {
    width: 30%;
  }
  .bar {
    .niveau {
      background-color: rgba(23, 23, 29, 0.897);
      margin: 0;
    }
    //dérivé pour cvmodele carla couleur sur le progress bar
    .niveau-color-gold {
      background-color: $wbu-color-primary;
    }
  }
  .pourcentage {
    width: 10%;
    margin-bottom: 0;
    margin-left: $wbu-margin * 0.5;
  }

  .text {
    width: 100%;
  }
}
