@use "../wbu-ressources-clean.scss" as *;
.field-links {
  .link {
    margin-bottom: $wbu-margin;
    a {
      word-break: break-word;
    }
  }
  .link:nth-last-child(1) {
    margin-bottom: 0;
  }
}
