@use "../wbu-ressources-clean.scss" as *;
.fields-svg {
  line-height: 1;
  .field-svg {
    margin-bottom: $wbu-margin * 0.5;
    .icon {
      margin-right: $wbu-margin;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 25px;
        height: 25px;
        display: inline-block;
      }
    }
  }
  // Derivée icon bg couleur principal.
  &.icon-bg-primary {
    .field-svg {
      border-bottom: 1px solid rgba($wbu-color-primary, 0.3);
      &:last-child {
        border-bottom: none;
      }
      .icon {
        background-color: $wbu-color-primary;
        padding: $wbu-margin * 0.25;
        color: color-yiq($wbu-color-primary);
        svg {
          fill: color-yiq($wbu-color-primary);
        }
      }
    }
  }
  // Derivée icon bg couleur background.
  &.icon-bg-background {
    .field-svg {
      border-bottom: 1px solid rgba($wbu-background, 0.3);
      &:last-child {
        border-bottom: none;
      }
      .icon {
        background-color: $wbu-background;
        padding: $wbu-margin * 0.25;
        color: color-yiq($wbu-background);
        svg {
          fill: color-yiq($wbu-background);
        }
      }
    }
  }
  // Variant small
  &.icon-small {
    .field-svg {
      &:nth-child(n + 2) {
        margin-top: $wbu-margin * 0.2;
      }
      .icon {
        width: 25px;
        height: 25px;
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  // Variant big
  &.icon-big {
    .field-svg {
      margin-top: $wbu-margin;
      &:nth-child(n + 2) {
        margin-top: $wbu-margin * 0.5;
      }
      .icon {
        width: 45px;
        height: 45px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  // Dérivé pour la section hobbies
  &.field-svg-square-background,
  &.field-svg-square-primary {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    .field-svg {
      margin-bottom: $wbu-margin;
      width: 100%;
      max-width: 153px;
      .icon {
        border: 1px solid $wbu-background;
        background-color: white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $wbu-margin * 0.5;
        svg {
          width: 15px;
          fill: $wbu-background;
        }
        .text {
          word-break: break-word;
        }
      }
    }
  }
  //
  &.field-svg-square-primary {
    .field-svg {
      .icon {
        border-color: $wbu-color-primary;
        svg {
          fill: $wbu-color-primary;
        }
      }
    }
  }
  //dérivé pour la section presentation dans cv modelcarla
  &.icon-carla-primary {
    .field-svg {
      border-right: 1px solid white;
      margin-bottom: $wbu-margin * 2;
      margin-top: $wbu-margin;
      width: 100%;
      &:last-child {
        border: none;
      }
      .icon {
        margin: $wbu-margin * 0.5 0;
        color: $wbu-color-primary;
        svg {
          display: block;
          fill: $wbu-color-primary;
        }
      }
    }
  }
  &.icon-primary {
    .field-svg {
      .icon {
        color: $wbu-color-primary;
        svg {
          fill: $wbu-color-primary;
        }
      }
    }
  }
  //
  &.infos {
    .field-svg {
      display: flex;
    }
    .text {
      line-height: 1.7;
    }
  }
  // en attante de coorection de bug.
  &.hide-icon {
    /**
     * Les balises SVG ne sont pas encore rendu par le module de PDF, on les masque en attendant.
     */
    .icon {
      height: $wbu-margin * 0.5 !important;
      width: $wbu-margin * 0.5 !important;
      background-color: $wbu-background !important;
      background: $wbu-background !important;
      line-height: 1 !important;
      border-radius: $wbu-margin * 0.25;
      border: none !important;
      padding: $wbu-margin * 0.45 !important;
      clip: unset;
      clip-path: none;
      svg {
        display: none !important;
      }
    }
  }
}
