@use "../wbu-ressources-clean.scss" as *;
.block--square_border {
  > .item {
    border: 1px solid $wbu-border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $wbu-margin;
    flex-grow: 2;
    @include WBUtransition();
    cursor: pointer;
    .icone + .label {
      padding-left: $wbu-margin * 0.5;
    }
    svg {
      @include WBUtransition();
      fill: inherit;
    }
  }
  //
  &--primary {
    > .item {
      &:hover {
        color: $wbu-color-primary;
        border-color: $wbu-color-primary;
        svg {
          fill: $wbu-color-primary;
        }
      }
    }
  }
  //
  &--background {
    > .item {
      &:hover {
        color: $wbu-background;
        border-color: $wbu-background;
        svg {
          fill: $wbu-background;
        }
      }
    }
  }
}
