@use "../../../wbu-ressources-clean.scss" as *;
@use "../../../variables";
$height_bg: 32px;
.topbar {
  background: $wbu-color-primary;
  display: block;
  color: #969ba0;
  width: 100%;
  height: $height_bg;
  @include media-min(MD) {
    width: 60%;
  }
  position: absolute;
  z-index: 1;
  &-content {
    position: relative;
    z-index: 2;
    color: #fff;
    min-height: $height_bg;
    li {
      list-style: none;
    }
    a,
    i {
      color: color-yiq($wbu-color-primary);
      @include media-min(MD) {
        color: $wbu-color-text;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2%;
    background: $wbu-color-primary;
    width: 60px;
    height: $height_bg;
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg);
    -o-transform: skew(-40deg);
    z-index: 0;
    display: none;
    @include media-min(MD) {
      display: block;
    }
  }
}
.topbar-content {
  .right {
    min-height: $height_bg;
  }
  .form-item-lang-dropdown-select {
    margin-bottom: 0 !important;
  }
  form.lang-dropdown-form {
    display: flex;
    align-items: center;
  }
  .language-icon {
    min-width: 28px;
  }
  .topheader_right {
    width: 70%;
    justify-content: space-between;
    @include media-min(MD) {
      width: auto;
    }
    .lang-dropdown-form select {
      margin: 0;
      margin-right: $wbu-margin * 0.5;
      @include media-min(MD) {
        margin-right: 3rem;
      }
      width: auto !important;
      padding: 0;
      line-height: 150%;
      border: navajowhite;
      height: auto;
      padding-left: 0;
      padding-right: 1rem;
    }
  }
  .header_search_1 {
    .text {
      display: none;
      @include media-min(MD) {
        display: block;
        margin-left: $wbu-margin * 0.5;
      }
    }
  }
}
.header-nav {
  margin: $wbu-margin * 0.5 0;
  .mobile-menu {
    @include media-min(DD) {
      display: none;
    }
  }
  .logo-bloc {
    justify-content: center;
    @include media-min("SM") {
      justify-content: left;
    }
    .basic-wrapper-slogan {
      max-width: 270px;
      display: none;
      @include media-min("SM") {
        display: block;
      }
    }
  }
  .data-right {
    width: 100%;
    position: relative;
    /*
    .block-commerce-cart-popup {
      position: absolute;
      top: -60px;
      left: 0;
      @include media-min(SM) {
        position: relative;
        top: auto;
        left: auto;
      }
      @include media-min(DD) {
        position: absolute;
        left: -10%;
        right: auto;
        top: 38%;
      }

      .commerce-cart-pop--summary__count {
        top: -19px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -9px;
        right: auto;
        background-color: $wbu-color-primary;
      }
      .commerce-cart-pop--summary__icon {
        width: 40px;
        height: 40px;
        background-size: contain;
      }
    }
/**/
    .icon.icon-bloc {
      white-space: nowrap;
      min-width: 200px;
      i {
        margin-left: 0;
        font-size: 18px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
      }
      @include media-min("SM") {
        i {
          margin-left: 10px;
          font-size: 24px;
          height: 50px;
          width: 50px;
        }
      }
      @include media-max("SM") {
        .btn-outline-force {
          font-size: 16px;
          padding: 0.7rem 1.2rem;
        }
      }
      &.icon-bloc-callaction {
        //
      }
    }
    // .block-commerce-cart-popup {
    //   position: absolute;
    //   top: -50px;
    //   left: 0;
    // }
  }
  .site-name {
    font-size: $wbu-default-font-size * 1.5;
    font-weight: 600;
    color: $wbu-color-primary;
  }
  .logo {
    display: flex;
    img {
      width: 100%;
      @include media-min(DD) {
        max-width: 200px;
        max-height: 120px;
      }
    }
  }
  .site-slogant {
    font-style: italic;
    line-height: 1.3;
  }
  .icon {
    @include media-min(DD) {
      &:first-child {
        margin-right: $wbu-margin;
      }
    }
    .phone {
      font-weight: 600;
      color: #000;
    }
    .btn-outline-force {
      background: transparent !important;
      color: $wbu-color-primary !important;
      border: 1px solid $wbu-color-primary !important;
      font-size: $wbu-default-font-size * 1.3;
      white-space: nowrap;
    }
    i {
      display: block;
      background: none;
      line-height: 1;
      font-size: 24px;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      height: 50px;
      width: 50px;
      border: 2px solid $wbu-color-primary;
      border-radius: 50%;
      text-align: center;
      padding-top: 11px;
      padding-left: 3px;
      color: $wbu-color-primary;
    }
  }
}
