@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables" as *;
// on cree un dossier mollecules pour mettre les sous éléments à l'intérieur
@use "./mollecules/hongo-element.scss";

.collection-teaser-handler{
    overflow: hidden;
    margin: $wbu-margin;
}