@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../_variables" as *;
// on cree un dossier mollecules pour mettre les sous éléments à l'intérieur
@use "./mollecules/hongo-element.scss";

.collection-teaser-handler {
  overflow: hidden;
  .two-items {
    @include media-min(mobile) {
      &--first .hot_models_hongo_item {
        margin-right: $wbu-margin * 0.1;
      }
      &--second .hot_models_hongo_item {
        margin-right: 0;
        margin-left: $wbu-margin * 0.1;
      }
    }
  }
  .items--big {
    .paragraph {
      height: 100%;
    }
    .hot_models_hongo_item {
      min-height: calc(600px + $wbu-margin * 0.2);
      @include media-min(bootstrap_lg) {
        margin-left: $wbu-margin * 0.2;
      }
      .img-handler {
        img {
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: 0;
        }
      }
    }
  }
}
