@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";
@use "./variables.scss" as *;
.archive-fnews {
  padding: $space-bottom 0;
  .af-content {
    justify-content: space-between;
  }
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .afc-month {
    display: flex;
    flex-direction: column;
    //gap: 2rem;
    &__item {
      display: flex;
      font-size: $wbu-p-font-size;
      gap: 1.5rem;
      align-items: center;
      border-bottom: 1px solid rgba(184, 184, 184, 0.589);
      a {
        color: $wbu-color-secondary;
        padding: 1.5rem 0;
        text-transform: capitalize;
      }
      span {
        color: black;
      }
    }
  }
  .afc-search {
    padding: 0 0 $wbu-margin * 4;
    @include media-max(SM) {
      padding-top: $wbu-margin * 4;
    }
    &__title {
      font-size: $wbu-h5-font-size;
      font-weight: bold;
      margin-bottom: $wbu-margin * 1.5;
      color: black;
      text-transform: capitalize;
    }
    &__input {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        right: 2rem;
        top: 26%;
        transition: ease-in 0.3s;
        @include wbu-search(black, 15);
      }
    }
    & input {
      padding: 2.2rem 1.8rem;
      border-color: black;
      &:focus,
      &:hover {
        box-shadow: none;
        border-color: $wbu-color-primary;
      }
    }
  }
  .afc-nav {
    display: flex;
    flex-direction: column;
    //gap: 2rem;
    & > .active {
      a {
        color: black;
        font-weight: bold;
      }
    }
    &__item {
      display: flex;
      font-size: $wbu-default-font-size;
      //gap: 2rem;
      display: flex;
      align-items: center;
      a {
        color: black;
        padding: 1rem 2rem;
        text-transform: capitalize;
      }
      &::before {
        content: " ";
        width: 2rem;
        height: 2rem;
        position: relative;
        left: 0;
        transition: ease-in 0.3s;
        @include wbu__angle-right(black, 12);
      }
      &:hover {
        &::before {
          left: 1rem;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
