@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/plumbing/pl-btn.scss";
@use "./variables.scss" as *;

.bac-top-fnews {
  position: fixed;
  right: 3rem;
  bottom: 4rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in 0.3s;
  z-index: 15;

  .btn-bac-top {
    width: 5.5rem;
    height: 5.5rem;
    background-color: white;
    border: 1px solid black;
    //border-radius: 50%;
    cursor: pointer;
    transition: ease 0.3s;
    display: flex;
    //position: relative;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: $wbu-color-primary;
      border-color: $wbu-color-primary;
      .wbu-angles-up {
        &::after {
          @include wbu__angles-up(color-yiq($wbu-color-primary), 20);
        }
      }
    }
    .wbu-angles-up {
      &::after {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include wbu__angles-up(black, 20);
      }
    }
  }
}

@media print {
  body {
    .nav {
      display: none;
    }
    .hero-blog-fnews,
    section,
    header {
      display: none;
    }
    .hero-blog-fnews {
      display: none;
    }

    .single-showcase_fnews {
      display: block;
      .row {
        justify-content: center;
      }
      .row .d-flex {
        display: none;
      }
    }
  }
}
