@use "../wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";
@use "./variables.scss" as *;
.home-bottom-text {
  padding: $space-top 0;
  .teaser-title {
    font-size: $wbu-h3-font-size;
    color: black;
    font-weight: bold;
    @include media-max(XS) {
      font-size: $wbu-h4-font-size;
    }
  }
  .teaser-desc {
    font-size: $wbu-p-font-size;
    padding: $wbu-btn-padding-x-sm;
    color: black;
  }
  .teaser-note {
    margin-top: $wbu-margin * 2.5;
    font-size: $wbu-p-font-size;
    color: black;
    display: flex;
    justify-content: center;
    p {
      max-width: 60rem;
    }
  }
}
