@use "../../../../wbu-ressources-clean.scss" as *;

@use "./variables.scss" as *;
.home-bottom-text {
  padding: $space-top 0;
  .teaser-title {
    @include bp_h2();
    margin: 0 auto ;
    color: black;
    font-weight: bold;
    max-width: 90rem;
  
  }
  .teaser-desc {
    margin: 0 auto ;
    font-size: $wbu-h5-font-size;
    padding: $wbu-btn-padding-x-sm;
    color: black;
    max-width: 100rem;
  }
  .teaser-note {
    margin: 0 auto ;
    margin-top: $wbu-margin * 2.5;
    font-size: $wbu-h5-font-size;
    color: black;
    display: flex;
    justify-content: center;
   


      max-width: 60rem;
   
  }
}
