@use "../../../../wbu-ressources-clean.scss" as *;

@use "./variables.scss" as *;
.comment-section-handler {
  padding: $wbu-margin 0;
  .comment-title {
    margin-top: $wbu-margin;
    border-bottom: 1px solid $wbu-color-secondary;
    width: 66.5%;
    padding-bottom: $wbu-margin;
    font-weight: bold;
    color: rgba($wbu-background, 0.9);
    font-size: $wbu-h5-font-size;
  }
  .all-comments {
    .single-comment {
      background: rgba($wbu-color-boder, 0.5);
      padding-top: $wbu-margin;
      padding-bottom: $wbu-btn-padding-y-sm;
      margin-bottom: $wbu-margin;
      .reaction {
        color: rgba($wbu-background, 0.9);
        font-size: $wbu-h6-font-size;
        font-weight: bold;
        margin-bottom: $wbu-margin * 0.5;
      }
      .comment-content {
        font-size: $wbu-default-font-size;
        margin-bottom: $wbu-margin;
        color: rgba($wbu-background, 0.9);
      }
      .comment-detail {
        .img-comment {
          height: 70px;
          margin-right: $wbu-margin;
        }
        .meta-info {
          margin-top: $wbu-margin * 0.5;
          color: $wbu-color-text;
          .role {
            margin-top: $wbu-margin * 0.1;
          }
        }
      }
    }
  }
}
