@use "../../../../wbu-ressources-clean.scss" as *;

@use "./variables.scss" as *;
.comment-section-handler {
  padding: $wbu-margin 0;
  .comment-title {
    margin-top: $wbu-margin;
    border-bottom: 1px solid $wbu-color-secondary;
    width: 66.5%;
    padding-bottom: $wbu-margin;
    color: rgba($wbu-background, 0.9);
  }
  .all-comments {
    .single-comment {
      background: rgba($wbu-color-boder, 0.5);
      padding-top: $wbu-margin;
      padding-bottom: $wbu-margin * 1.6;
      margin-bottom: $wbu-margin;
      .reaction {
        color: rgba($wbu-background, 0.9);
        margin-bottom: $wbu-margin * 0.5;
      }
      .comment-content {
        font-size: $wbu-default-font-size;
        margin-bottom: $wbu-margin;
        color: rgba($wbu-background, 0.9);
      }
      .comment-detail {
        .img-comment {
          height: 70px;
          margin-right: $wbu-margin;
        }
        .meta-info {
          margin-top: $wbu-margin * 0.5;
          color: rgba($wbu-background, 0.6);
          .role {
            margin-top: $wbu-margin * 0.1;
          }
        }
      }
    }
  }
}
