@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/plumbing/pl-btn.scss";
@use "./variables.scss" as *;
.design-feature-fnews {
  padding: $wbu-margin * 1.5 0;
  .dff-title {
    text-transform: uppercase;
    color: $wbu-background;
    margin-bottom: $wbu-margin * 0.5;
  }
  .dff-paragraph {
    padding: $wbu-margin * 0.7 0 $wbu-margin * 0.4;
    color: rgba($wbu-background, 0.92);
    margin: 0;

    a {
      color: $wbu-color-secondary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
