@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/menu/first-nav.scss";
@use "./molecule/menu/second-nav.scss";
@use "./molecule/menu/search-popup.scss";
@use "./variables.scss" as *;
.fnews-header {
  a {
    text-decoration: none;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
    position: relative;
  }
}
