@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";
@use "../../../../atome/f_news/load-more.scss";
@use "./molecule/teaser/feature-teaser.scss";
@use "./variables.scss" as *;

.featured-section-handler {
  padding: $space-top 0;
  overflow: hidden;
  position: relative;
  .section-title {
    font-size: $wbu-h3-font-size;
    color: black;
    text-align: center;
    font-weight: bold;
    @include media-max(XX) {
      font-size: $wbu-h4-font-size;
    }
  }
  .section-sub-title {
    text-align: center;
    margin-bottom: $wbu-margin;
    font-size: $wbu-p-font-size;
    color: black;
    font-weight: lighter;
    @include media-max(XX) {
      font-size: $wbu-h6-font-size;
    }
  }
  .featured-cards-handler {
    display: flex;
    justify-content: space-around;
    .element {
      overflow: hidden;
      padding-bottom: $wbu-margin * 1.8;
      @include media-max(SM) {
        padding-bottom: $wbu-margin * 1.5;
      }
    }
  }
}
