@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/plumbing/pl-btn.scss";
@use "./variables.scss" as *;
.first-service-fnews {
  padding: $space_top 0;
  .first-service {
    @include media-max(MD) {
      flex-direction: column-reverse;
    }
    .date-show {
      padding: $wbu-margin * 0.5 $wbu-margin * 0.7;
      // width: 11rem;
      // height: ;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 0;
      &__day {
        display: block;
        font-size: $wbu-h3-font-size * 1.2;
        color: black;
        font-weight: bold;
        line-height: 1;
        @include media-max(XS) {
          font-size: $wbu-h3-font-size * 0.7;
        }
      }
      &__date {
        display: block;
        font-size: $wbu-h5-font-size * 1.2;
        color: black;
        @include media-max(XS) {
          font-size: $wbu-h5-font-size * 0.9;
        }
      }
    }
    &__img {
      width: 100%;
      position: relative;
      display: block;
      //height: 100%;
      margin-bottom: $wbu-margin * 2;
      @include media-max(MD) {
        margin-top: $wbu-margin * 1.3;
      }
      img {
        width: 100%;
        min-height: 100%;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $wbu-color-primary;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
      }
      &:hover {
        &::before {
          opacity: 0.5;
        }
      }
    }
    &__body {
      margin-bottom: $wbu-margin;
      .promoted-label {
        padding: 0.4rem 0.8rem;
        background: black;
        color: white;
        display: inline-flex;
        margin-right: 1rem;
        a {
          color: white;
          text-decoration: none;
        }
        &:hover {
          a {
            color: white;
          }
        }
      }
      .head-nav-div {
        display: flex;
        align-items: center;
        margin-bottom: $wbu-margin * 0.8;
        flex-wrap: wrap;
      }
      .head-nav {
        display: flex;
        gap: 1rem;
        font-size: $wbu-default-font-size * 0.9;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: capitalize;
        flex-wrap: wrap;

        .link-label {
          padding: 1rem 0;
          &,
          a {
            color: $wbu-color-text;
          }
          &:hover,
          &:hover a {
            text-decoration: underline;
            border-color: $wbu-color-text;
          }
        }
      }
      .node-title {
        font-size: $wbu-h3-font-size;
        font-weight: bold;

        margin-bottom: $wbu-margin;
        display: inline-block;
        cursor: pointer;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: black;
        a,
        & {
          color: black;
          transition: ease-in-out 0.3s;
        }
        &:hover,
        &:hover a {
          color: $wbu-color-secondary;
          text-decoration: none;
        }
      }
      .node-desc {
        font-size: $wbu-h3-font-size-sm;
        color: black;

        margin-bottom: $wbu-margin * 1.6;
        @include ellipseText(8);
        a {
          color: $wbu-color-secondary;
        }
      }
      .node-readmore {
        font-size: $wbu-h3-font-size-sm;

        text-align: center;

        position: relative;
        display: inline-block;
        transition: all 0.5s;
        margin-bottom: 1rem;
        &,
        a,
        a:hover {
          color: $wbu-color-secondary;
          padding: 0 0 8px;
          text-decoration: none;
        }
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: $wbu-color-secondary;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: ease-in-out 0.2s;
        }
        &:hover {
          &::after {
            left: -9px;
            width: 122%;
          }
        }
      }
    }
  }
}
