@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/teaser/last-article-teaser.scss";
@use "./molecule/footer/fns-menu.scss";
@use "./molecule/footer/fns-social.scss";
@use "./molecule/footer/footer-last.scss";
@use "./variables.scss" as *;
.footer-fnews {
  background-color: $wbu-background;
  color: $wbu-color-boder;

  a {
    &:hover {
      color: $wbu-color-primary;
    }
  }
  .fn-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: $space-bottom 0;
    @include media-max(MD) {
      flex-wrap: wrap;
    }
  }
  .fn {
    &-bloc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 35rem;
      flex-grow: 1;
      // padding: 0 $wbu-margin;
      //flex-basis: calc(100% / 4);
      &:last-child {
        flex-grow: 2;
      }
      gap: 2rem;
      @include media-max(MD) {
        flex-basis: calc(95% / 2);
      }
      @include media-max(XS) {
        flex-basis: calc(100%);
        max-width: 45rem;
        align-items: center;
        text-align: center;
        .card-social {
          justify-content: center;
        }
      }
    }
  }
  .single-post {
    margin-bottom: 0;

    a {
      color: $wbu-color-primary;
    }
    .posted-date {
      color: white;
      font-size: $wbu-default-font-size;
    }
    .post-link {
      // @include media-max(XS) {
      //   font-size: $wbu-h5-font-size 0.9;
      // }
      color: $wbu-color-primary;
      @include media-max(SM) {
        font-size: $wbu-h5-font-size;
      }
    }
    .post-img-handler {
      @include media-max(SM) {
        min-width: 6.5rem;
      }
    }
    .link {
      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        @include media-max(SM) {
          width: 6.5rem;
          height: 6.5rem;
        }
      }
    }
  }
}
