@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/teaser/last-article-teaser.scss";
@use "./molecule/footer/fns-menu.scss";
@use "./molecule/footer/fns-social.scss";
@use "./molecule/footer/footer-last.scss";
@use "./variables.scss" as *;
.footer-fnews {
  background-color: $wbu-background;
  color: $wbu-color-boder;

  a {
    &:hover {
      color: $wbu-color-primary;
    }
  }
  .fn-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    @include media-max(MD) {
      flex-wrap: wrap;
    }
  }
  .fn {
    &-bloc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 35rem;
      flex-grow: 1;
      // padding: 0 $wbu-margin;
      //flex-basis: calc(100% / 4);
      &:last-child {
        flex-grow: 2;
      }
      gap: 2rem;
      @include media-max(MD) {
        flex-basis: calc(95% / 2);
      }
      @include media-max(XS) {
        flex-basis: calc(100%);
        max-width: 45rem;
        align-items: center;
        text-align: center;
        .card-social {
          justify-content: center;
        }
      }
    }
  }
  .single-post {
    a {
      color: $wbu-color-primary;
    }
    .posted-date {
      color: color-yiq($wbu-background);
      font-size: $wbu-default-font-size;
    }
    .post-link {
      // @include media-max(XS) {
      //   font-size: $wbu-h5-font-size 0.9;
      // }
      color: $wbu-color-primary;
      @include media-max(SM) {
        font-size: $wbu-h5-font-size;
      }
    }
    .post-img-handler {
      @include media-max(SM) {
        min-width: 6.5rem;
      }
    }
    .link {
      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        @include media-max(SM) {
          width: 6.5rem;
          height: 6.5rem;
        }
      }
    }
  }
}
////
.layoutscommerce-product-parfumn-1159--xL4kX6g3cDY {
  .galleries-main-thumbs {
    .galleries-thumb.swiper-horizontal {
      padding: 0;
    }
    @include media-min(DD) {
      max-height: 700px;
      height: 700px;
    }
  }
  .accordion-item {
    .accordion-header {
      padding-left: 0;
      padding-right: 0;
    }
    .field-icon {
      display: none;
    }
  }
  .product-pricer__item {
    .product-pricer__item_price {
      display: none;
    }
  }
  form {
    .field--name-quantity label {
      display: none;
    }
  }
  .products_add {
    margin-top: $wbu-margin * 1.8;
  }
  .product-pricer__item {
    border-radius: 0;
  }
  .titre-product {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 3fr 1fr;
    grid-gap: 3px;
    > .block:nth-child(1) {
      grid-area: title_product;
    }
    > .block:nth-child(2) {
      grid-area: price_product;
      text-align: right;
    }
    > .block:nth-child(3) {
      grid-area: price_barre;
      text-align: right;
    }
    grid-template-areas:
      "title_product price_product"
      "title_product price_barre";
    @include media-min(SM) {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: "title_product price_product price_barre";
      > .block:nth-child(3) {
        margin-left: $wbu-margin * 0.5;
      }
    }
  }
}
////
.formatage-models-simple-block-8870--G_gKPCTSG-I {
  .galleries-images3 {
    > .field__item {
      margin-bottom: $wbu-margin * 1.5;
    }
    > .field__item:nth-child(1) {
      grid-area: image_big;
    }
    > .field__item:nth-child(2) {
      grid-area: image_sm1;
    }
    > .field__item:nth-child(3) {
      grid-area: image_sm2;
    }
    @include media-min(SM) {
      display: grid;
      grid-template-columns: 5fr 3fr;
      grid-gap: 3px;
      //
      > .field__item {
        margin-bottom: 0;
      }
      grid-template-areas:
        "image_big image_sm1"
        "image_big image_sm2";
      // On fixe le premier block par rapport au deux autres afin d'avoir un rendu carré.
      > .field__item:nth-child(1) {
        position: relative;
        display: flex;
        > .item-cart {
          background: #3c3c3f;
          flex-grow: 2;
          display: flex;
          > .layout {
            flex-grow: 2;
          }
          .content-images {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            bottom: 0;
            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
////
.formatage-models-simple-block-2305--1cD_V1_pvYk {
  position: relative;
  overflow: hidden;
  .cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &::before {
      background: rgba(#242222, 10%);
      z-index: -1;
      @include WBUtransition();
    }
    &:hover {
      &::before {
        background: rgba(#242222, 30%);
      }
    }
  }
}
