@use "../../../../wbu-ressources-clean.scss" as *;

@use "./molecule/teaser/last-article-teaser.scss";
@use "./molecule/footer/fns-menu.scss";
@use "./molecule/footer/fns-social.scss";
@use "./molecule/footer/footer-last.scss";
// @use "../../../../libraries/_inline-svg.scss" as *;
@use "./variables.scss" as *;
.footer-fnews {
  background-color: $wbu-background;
  color: $wbu-color-boder;

  a {
    &:hover {
      color: $wbu-color-primary;
    }
  }
  .fn-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    @include media-max(MD) {
      flex-wrap: wrap;
    }
  }
  .fn {
    &-bloc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 35rem;
      flex-grow: 1;
      // padding: 0 $wbu-margin;
      //flex-basis: calc(100% / 4);
      &:last-child {
        flex-grow: 2;
      }
      gap: 2rem;
      @include media-max(MD) {
        flex-basis: calc(95% / 2);
      }
      @include media-max(XS) {
        flex-basis: calc(100%);
        max-width: 45rem;
        align-items: center;
        text-align: center;
        .card-social {
          justify-content: center;
        }
      }
    }
  }
  .single-post {
    a {
      color: $wbu-color-primary;
    }
    .posted-date {
      color: color-yiq($wbu-background);
      font-size: $wbu-default-font-size;
    }
    .post-link {
      // @include media-max(XS) {
      //   font-size: $wbu-h5-font-size 0.9;
      // }
      color: $wbu-color-primary;
      @include media-max(SM) {
        font-size: $wbu-h5-font-size;
      }
    }
    .post-img-handler {
      @include media-max(SM) {
        min-width: 6.5rem;
      }
    }
    .link {
      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        @include media-max(SM) {
          width: 6.5rem;
          height: 6.5rem;
        }
      }
    }
  }
}
// end
.hbk-mega-menu--items {
  @include media-min(DD) {
    min-width: 350px;
    width: 350px;
  }
}

.hbk-mega-menu--items.megas {
  > .item {
    position: unset;
    > .megaslayout {
      position: absolute;
      overflow: visible;
      visibility: hidden;
      opacity: 0;
      top: 100%;
      bottom: auto;
      left: 0;
      right: 0;
      box-shadow: 1px 3px 11px 1px #d1d1d1;
      background-color: #fff;
      padding: $wbu-margin * 0.5;
      max-height: 0;
      z-index: 1;
      @include WBUtransition($temps: 0.5s);
      > .hbk-mega-menu--items__sub {
        position: relative;
        width: auto;
        overflow: visible;
        opacity: 1;
      }
      .hbk-mega-menu--items__sub {
        box-shadow: 0 8px 10px -5px #e7e7e7;
      }
    }
    &:hover {
      > .megaslayout {
        z-index: 10;
        visibility: visible;
        opacity: 1;
        max-height: 100vh;
        > .hbk-mega-menu--items__sub {
          opacity: 1;
          max-height: 700px;
        }
      }
    }
  }
}
