@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/f_news/load-more.scss";
@use "./molecule/teaser/teaser-incase.scss";
@use "./variables.scss" as *;
.in-case-fnews {
  padding: $space-top 0;
  .icf-title {
    font-size: $wbu-h2-font-size;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 0 0 $space_inner_top;
    @include media-max(SM) {
      font-size: $wbu-h2-font-size * 0.8;
    }
    @include media-max(XS) {
      font-size: $wbu-h2-font-size * 0.7;
    }
  }
  .icf-more {
    font-size: $wbu-h3-font-size-sm;
    font-weight: bold;
    text-align: center;

    margin: $wbu-margin * 2 auto;
    a {
      color: $wbu-color-secondary;
      padding: 0.8rem;
      border-bottom: 1px solid $wbu-color-secondary;
      text-decoration: none;
    }
  }
  .icf-content {
    display: flex;
    justify-content: center;
    // gap: 2rem;
    //flex-wrap: wrap;
  }
}
