@use "../../../../wbu-ressources-clean.scss" as *;

@use "../../../../atome/f_news/load-more.scss";
@use "./molecule/teaser/last-article-teaser.scss";
@use "./molecule/teaser/feature-teaser.scss";
@use "./variables.scss" as *;
.post-proposition-section-handler {
  overflow: hidden;
  padding: $space_top 0;
  background: lighten($wbu-color-text, 60);
  .latest-post-title {
    font-size: $wbu-h5-font-size;
    font-weight: bolder;
    margin-bottom: $wbu-margin;
    color: black;
  }
  .featured-cards-handler {
    display: flex;
    justify-content: space-around;
  }

  .all-single-latest-post {
    @include media-max(MD) {
      padding-bottom: $wbu-margin * 2;
    }
  }
  .most-read-section {
    margin-left: auto;
    .most-read-title {
      font-size: $wbu-h5-font-size;
      font-weight: bolder;
      margin-bottom: $wbu-margin;
      color: black;
    }
  }
}
