@use "../../../../wbu-ressources-clean.scss" as *;

@use "../../../../atome/f_news/load-more.scss";
@use "./molecule/teaser/finance-teaser.scss";
@use "./variables.scss" as *;
.tech-stories-section-handler {
  padding-bottom: $space_top;
  .section-title {
    font-size: $wbu-h2-font-size;
    font-weight: bold;
    //color: black;
    padding-bottom: $wbu-margin * 2;
    text-transform: capitalize;
    @include media-max(XX) {
      font-size: $wbu-h4-font-size;
    }
  }
  .stories-handler {
    display: flex;

    justify-content: space-around;
  }
}
