@use "../../../../wbu-ressources-clean.scss" as *;

@use "../../../../atome/f_news/load-more.scss";
@use "./molecule/teaser/finance-teaser.scss";
@use "./variables.scss" as *;
.tech-stories-section-handler {
  padding-bottom: $wbu-margin * 2.5;
  .section-title {
    color: $wbu-background;
    padding-bottom: $space_inner_top;
    text-transform: capitalize;
  }
  .stories-handler {
    display: flex;

    justify-content: space-around;
  }
}
