@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";
@use "./variables.scss" as *;

.testimony-section-handler {
  .single-card-testimony {
    padding-bottom: $space_inner_top * 2;
    .testimony {
      font-size: $wbu-p-font-size;
      color: $color-p-text;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      p {
        margin: 0;
      }
    }
    .testimony-info {
      margin-top: $wbu-margin * 0.5;
      display: flex;
      align-items: center;
      .img-profiles {
        .img-link {
          position: relative;
          display: inline-block;
          .__img {
            border-radius: 100%;
            width: 7rem;
            height: 7rem;
            object-fit: cover;
          }
          &::before {
            content: "";
            top: 0;
            height: 100%;
            opacity: 0;
            width: 100%;
            border-radius: 100%;
            background: $wbu-color-primary;
            position: absolute;
            transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
          }
          &:hover::before {
            opacity: 0.5;
          }
        }
      }
      .info {
        margin-left: $wbu-margin;
        font-size: $wbu-h6-font-size;
        .name-link {
          color: $wbu-color-secondary;
          font-weight: bold;
          text-transform: capitalize;
        }
        .role {
          text-transform: uppercase;
          font-size: $wbu-h6-font-size * 0.8;
          margin-top: 4px;
          font-style: italic;
          font-weight: 400;
          color: lighten($wbu-color-text, 20);
        }
      }
    }
    @include media-max(XS) {
      // margin-bottom: $space-top;
      .testimony {
        text-align: left;
      }
      .testimony-info {
        display: block;
        .info {
          margin: 0;
        }
      }

      .img-profiles {
        margin-top: $wbu-margin;
        margin-bottom: $wbu-margin;
        position: relative;
        text-align: center;
      }
    }
  }
}
