@use "../../../../wbu-ressources-clean.scss" as *;

@use "../../../../atome/f_news/load-more.scss";
@use "./molecule/teaser/video-teaser.scss";
@use "./variables.scss" as *;
.video-headlines-section-handler {
  padding: $space-top 0;

  //background: $wbu-color-primary;
  .section-title {
    .title {
      color: black;
      font-weight: bold;
      font-size: $wbu-h2-font-size;
      text-align: center;
      padding-bottom: $space_inner_top;
      @include media-max(XX) {
        font-size: $wbu-h4-font-size;
      }
    }
  }
}
