@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";
@use "./variables.scss" as *;
.video-headlines-section-handler {
  padding: $space-top 0;

  background: $wbu-color-primary;
  .section-title {
    .title {
      color: black;
      font-weight: bold;
      font-size: $wbu-h3-font-size;
      text-align: center;
      padding-bottom: $wbu-margin * 2;
    }
  }
  .video-single-card {
    padding-bottom: $wbu-margin * 1.8;
    .video-handler {
      margin-bottom: $wbu-margin * 1.5;
      position: relative;
      .video-sup {
        height: 100%;
        width: 100%;
        &::before {
          content: "";
          top: -1;
          height: 100%;
          opacity: 0;
          width: 100%;
          background: black;
          position: absolute;

          transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
        }
        &:hover::before {
          opacity: 0.5;
        }
      }
    }
    .pub-info {
      font-size: $wbu-default-font-size;
      // padding: $wbu-margin;
      color: $wbu-color-text;
      text-align: left;
      p {
        margin: 0;
      }
    }
    .card-text-descriptor {
      font-size: $wbu-h4-font-size;
      font-weight: bold;
      text-align: left;
      padding: $wbu-margin 0;
      @include media-max(MD) {
        font-size: $wbu-h4-font-size * 0.8;
      }
      @include media-max(SM) {
        font-size: $wbu-h4-font-size;
      }
      a {
        color: $wbu-color-secondary;
        transition: ease 0.5s;
      }
      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
    .role {
      font-size: $wbu-p-font-size;
      color: black;
      text-align: left;
      text-transform: lowercase;
    }
  }

  .more-link {
    font-size: $wbu-p-font-size;
    font-weight: bold;
    text-align: center;

    margin: $wbu-margin * 1 auto;
    a {
      color: $wbu-color-secondary;
      padding: 0.8rem;
      border-bottom: 1px solid $wbu-color-secondary;
      text-decoration: none;
    }
  }
}
