@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../variables" as *;

//Décommenter pour des environnement dans lesquels font-awesome n'est pas encore importé
// @import "font-awesome/scss/font-awesome";


.gallery-overlay-section {
    padding-top: 40px;

    @include media-min(DD) {
        padding: 60px 30px 0 30px;
    }

    .gallery-overlay-section-gallery {



        .go-img-wrapper {
            position: relative;
            margin-top: 15px;

            img {
                width: 100%;
            }
        }

        .go-img-overlay {
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;

            i {
                color: #fff;
                font-size: 3em;
            }
        }
    }

    .gallery-overlay-section-overlay {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        // Removes blue highlight
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .gallery-overlay-section {

            &-current-image {
                margin: 0;
                width: 80%;
                height: auto;
                object-fit: contain;
                padding: 5%;

                @include media-min(MD) {
                    width: 60%;
                }

                @include media-min(M) {
                    width: 50%;
                }
            }

            &-btn-next {
                color: #fff;
                font-size: 2em;
                transition: opacity 0.8s;

                &:hover {
                    opacity: 0.7;
                }

                @include media-min(MD) {
                    font-size: 3em;
                }
            }

            &-btn-prev {
                color: #fff;
                font-size: 2em;
                transition: opacity 0.8s;

                &:hover {
                    opacity: 0.7;
                }

                @include media-min(MD) {
                    font-size: 3em;
                }
            }

            &-btn-exit {
                color: #fff;
                font-size: 2em;
                transition: opacity 0.8s;
                position: absolute;
                top: 15px;
                right: 15px;

                &:hover {
                    opacity: 0.7;
                }

                @include media-min(MD) {
                    font-size: 3em;
                }
            }
        }
    }


}