@use "../../../../wbu-ressources.scss" as *;

.menu01 {
  padding-top: 0;
  padding-bottom: 0;

  .container-menu {
    padding-top: $wbu-margin * 0.25;
    padding-bottom: $wbu-margin * 0.25;
    position: relative;
  }

  .navbar-brand {
    display: inline-flex;
    img {
      max-height: 100px;
      max-width: 180px;
      width: auto !important;
      height: auto !important;
    }
  }
  .menu {
    .navbar-nav {
      padding-top: $wbu-margin;
      padding-bottom: $wbu-margin * 1.5;
      @include media-min("DD") {
        padding-top: 0;
        padding-bottom: 0;
      }

      .nav-item {
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        position: relative;
        z-index: 10;

        @include media-min("DD") {
          width: auto;
          .menu {
            display: none;
            margin: 0;
            position: absolute;
            left: 0;
            top: 100%;
            right: auto;
            background-color: #fff;
            padding: $wbu-margin * 0.5;
            list-style: none;
            min-width: 200px;
            max-width: 350px;
            width: auto;
            li {
              list-style: none;
            }
          }
          &:hover {
            > .menu {
              display: block;
            }
          }
        }
        .nav-link {
          color: inherit;
          padding-left: 0;
          padding-right: 0;
          &:hover {
            color: $wbu-color-primary;
          }
          &.is-active {
            background-color: $wbu-color-secondary;
            color: color-yiq($wbu-color-secondary);
          }
          padding-left: $wbu-margin;
          padding-right: $wbu-margin;
        }
      }
    }
  }

  &__search {
    @include media-min("DD") {
      padding-left: $wbu-margin;
      width: $wbu-margin * 0.5;
      height: $wbu-margin;
    }

    .icon {
      display: none;
      @include media-min("DD") {
        display: block;
      }
      cursor: pointer;
      position: absolute;
    }

    &--form {
      @include media-min("DD") {
        position: absolute;
      }
      padding: 2rem;
      border-top: 1px solid $wbu-border-color;
      min-width: 300px;
      right: 0;
      left: auto;
      bottom: auto;
      top: 100%;
      visibility: visible;
      @include WBUtransition();
    }

    &.fermer {
      .icon.fermer {
        display: none;
      }

      .menu01__search--form {
        @include media-min("DD") {
          margin-top: $wbu-margin * 2;
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &.ouvert {
      .icon.ouvert {
        display: none;
      }
    }
  }
}
