@use "../../../../../wbu-ressources-clean.scss" as *;
@use "../../../../../atome/typography/default";
@use "../variables.scss" as *;
.blog-btn {
  //margin: $wbu-margin * 0.6 0 0.5rem;
  margin-right: 1rem;
  .link-btn {
    padding: $wbu-margin * 0.5 $wbu-margin * 1.2;
    border: 1px solid $wbu-color-secondary;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;

    &,
    a {
      color: $wbu-color-secondary;
      text-decoration: none;
      transition: 0.5s;
    }
    &:hover {
      background: $wbu-color-secondary;
      color: white;
      a {
        color: white;
      }
    }
  }
  &-black {
    background-color: $wbu-color-text;
    .link-btn {
      border: 1px solid $wbu-color-text;
      color: white;
      cursor: text;
      a {
        color: white;
      }
      &:hover {
        background-color: $wbu-color-text;
        border: 1px solid $wbu-color-text;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
